
			<div class="input-style has-icon">
          <span class="color-highlight input-style-2">Images</span>
          <em>(required)</em>
          <%= f.file_field :images, :multiple => true, :id => 'fileinput'%>
      </div>
      <!-- <div class="file-data input-style mb-6">
          <input multiple="multiple" name="productImages[]" id="fileinput" class="upload-file bg-highlight shadow-s rounded-s" required="required" type="file">
          <p class="upload-file-text color-white">Upload Images</p>
      </div> -->
      <div class="input-style has-icon">
			    <span class="color-highlight input-style-2">Service Name</span>
			    <em>(required)</em>
			    <%= f.text_field :name, class: "form-control", required: true, value: !@product.blank? ? @product['name'] : nil %>
			</div>
			<div class="input-style has-icon input-required">
          <span class="color-highlight input-style-2">Description</span>
          <%= f.text_area :description, class: "form-control", size: "10x3", value: !@product.blank? ? @product['description'] : nil %>
      </div> 
      <div class="input-style has-icon input-required">
			    <span class="color-highlight input-style-2">Keywords</span>
			    <%= f.text_area :keywords, class: "form-control", size: "10x3", value: !@product.blank? && !@product['metadata'].blank? ? @product['metadata']['keywords'] : nil %>
			</div> 
      <br>
      <br>
      <br>
      <div data-switch="toggle-id-2">
          <p class="mb-0 pb-0 pt-2">This will be available for purchase immediately after adding a price for the first time.</p>
      </div>
			


	    <%= f.hidden_field :type, value: 'service' %>
	    <br>
	    <br>
	    <br>

<script type="text/javascript">
  window.onload = packageOrNah;
  function packageOrNah() {
    // Get the checkbox
    var checkBox = document.getElementById("toggle-id-2");
    var onOffDIV = document.getElementById("one-offprice");

    // If the checkbox is checked, display the output text
    if (checkBox.checked == true){
      // text.style.display = "block";
      console.log("CHECKED");
      onOffDIV.style.display = "none";
    } else {
      console.log("UNCHECKED");
      onOffDIV.style.display = "block";
    }
  }

</script>