<div class="card card-style">
  <div class="content mb-0">
		<%= form_for :newService, url: services_path do |f| %>

			<div class="input-style has-icon">
			    <span class="color-highlight input-style-2">Product Name</span>
			    <em>(required)</em>
			    <%= f.text_field :name, class: "form-control", required: true %>
			</div>
			<div class="input-style has-icon input-required">
			    <span class="color-highlight input-style-2">Description</span>
			    <%= f.text_area :description, class: "form-control", size: "10x3" %>
			</div> 
      <br>
      <br>
      <br>
      <div class="d-flex">
          <div class="pt-1">
              <h5 data-activate="toggle-id-2" class="font-600"><strong><em>Available Now</em></strong></h5>
          </div>
          <div class="ml-auto mr-4 pr-2">
              <div class="custom-control ios-switch ios-switch-icon">
                  <%= f.check_box :active, class: 'ios-input', id: 'toggle-id-2' %>
                  <label class="custom-control-label" for="toggle-id-2"></label>
                  <i class="fa fa-check font-11 color-white"></i>
                  <i class="fa fa-times font-11 color-white"></i>
              </div>
          </div>
      </div>
      <div data-switch="toggle-id-2" class="switch-is-unchecked" style="display: none;">
          <p class="mb-0 pb-0 pt-2">This will be available for purchase immediately after adding a price for the first time.</p>
      </div>
			


	    <%= f.hidden_field :type, value: 'service' %>
	    <br>
	    <br>
	    <br>
		  <%= f.submit "Add Service", class: "btn btn-full bg-yellow1-dark btn-m text-uppercase rounded-sm shadow-l col-12 mb-3 mt-4 font-900"%>

		<% end %>
	</div>
</div>