<div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Services</h3>
      <p>
          Services offered by Messy Lawns
      </p>
    </div>
</div>
<% if current_user.present? %>
  <% if current_user&.stripeUserID.blank? %>
    <div class="card card-style">
        <div class="content mb-0">
          <h3>Payment Missing</h3>
          <p class="text-justify">
              Your account is unable to make purchases. If you would like to purchase services, get started by clicking 'Proceed' below!
          </p>
        </div>
        <%= form_for :newStripeCustomer, url: stripe_customers_path do |f| %>
          <%= f.submit "Proceed", class: "btn btn-full bg-yellow1-dark btn-m text-uppercase rounded-sm shadow-l mb-3 mt-4 font-900"%>

        <% end %>
    </div>
  <% else %>
    <% if !current_user&.stripeSourceVerified %>
      <div class="card card-style">
        <div class="content mb-0">
          <h3>Payment Missing</h3>
          <p class="mb-5 text-justify">
              Almost there! Just add a payment source and your setup is complete
          </p>
        </div>
      </div>
      <div class="row text-center mt-n2">
        <% if !current_user.manager? %>
          <a href="#" data-menu="menu-transaction-transfer" class="col-12">
              <div class="card card-style ml-2 mb-3">
                  <i class="fa fa-credit-card color-highlight fa-2x mt-3"></i>
                  <h1 class="pt-2 font-18">Card</h1>
                  <p class="font-11 opacity-50 mt-n2 mb-3">Tap to add another card</p>
              </div>
          </a>
        <% else %>
          <a href="#" data-menu="menu-transaction-request" class="col-12">
              <div class="card card-style">
                  <i class="fa fa-university color-highlight fa-2x mt-3"></i>
                  <h1 class="pt-2 font-18">Bank</h1>
                  <p class="font-11 opacity-50 mt-n2 mb-3">Tap to add Bank Account</p>
              </div>
          </a>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="card card-style bg-theme pb-0">
  <div class="content">
      <div class="tab-controls tabs-round tab-animated tabs-medium tabs-rounded shadow-xl" 
           data-tab-items="2" 
           data-tab-active="bg-green1-dark color-white">
          <a href="#" data-tab-active data-tab="tab-8"><i class="fa fa-home"></i> Residential</a>
          <a href="#" data-tab="tab-9"><i class="fa fa-building"></i> Business</a>
      </div>
      <div class="clearfix mb-3"></div>
      <div class="tab-content" id="tab-8">
        <div class="card card-style">
          <div class="content mb-3">
              <div class="">

                <% if @residential.present? %>
                  <% @residential.each do |h| %>
                    <div class="align-self-center">
                        <h5 class=""><%= h['title'] %></h5>
                        <p class="font-600 opacity-40"><%= number_to_currency(h['cost'], precision: 2) %></p>
                    </div>
                    <div class="align-self-center">
                        <p class="font-600 opacity-40">By: <%= h['sellerUsername'].titleize %></p>
                    </div>
                    <% if current_user&.stripeSourceVerified %>
                      <div class="align-self-center">
                          <a href="<%= new_charge_path(title: h['title'], uuid: h['uuid'], desc: h['desc']) %>" class="btn btn-sm col-md-12 rounded-sm bg-green1-dark text-uppercase font-800">PURCHASE</a>
                      </div>
                    <% end %>
                    <br>
                    <div class="align-self-center">
                      <a href="<%= service_path(id: h['uuid'], desc: h['desc']) %>" class="btn btn-sm col-md-12 rounded-sm bg-yellow1-dark text-uppercase font-800">View Service</a>
                    </div>
                  <% end %>
                <% end %>
              </div>
          </div>
        </div>
      </div>
      <div class="tab-content" id="tab-9">
        <div class="card card-style">
          <div class="content mb-3">
              <div class="">
                <% if @business.present? %>
                  <% @business.each do |h| %>
                    <div class="align-self-center">
                        <h5 class=""><%= h['title'] %></h5>
                        <p class="font-600 opacity-40"><%= number_to_currency(h['cost'], precision: 2) %></p>
                    </div>
                    <div class="align-self-center">
                        <p class="font-600 opacity-40">By: <%= h['sellerUsername'].titleize %></p>
                    </div>
                    <% if current_user&.stripeSourceVerified %>
                      <div class="align-self-center">
                          <a href="<%= new_charge_path(title: h['title'], uuid: h['uuid']) %>" class="btn btn-sm col-md-12 rounded-sm bg-green1-dark text-uppercase font-800">PURCHASE</a>
                      </div>
                    <% end %>
                    <br>
                    <div class="align-self-center">
                      <a href="<%= service_path(id: h['uuid']) %>" class="btn btn-sm col-md-12 rounded-sm bg-yellow1-dark text-uppercase font-800">View Hourlie</a>
                    </div>
                  <% end %>
                <% end %>           
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
