<div class="card card-style">
    <% if current_user&.manager? && current_user&.subscriptionCheck %>
      <a href="<%= new_service_path %>" class="float-right btn btn-xs bg-yellow1-dark rounded-xl shadow-xl text-uppercase font-900 mt-2 font-11">Add Service</a>
    <% end %>

    <% if !current_user&.subscriptionCheck && current_user&.manager? %>
      <p class="mb-5 text-center">
        <%= ENV['siteName'] %> has partnered with TewCode for all its technology needs.<br>  A representative from TewCode will contact you at <%= number_to_phone(current_user&.phone) %> or <%= current_user&.email %> shortly to get your account setup. 
      </p>
    <% end %>
</div>




<div class="search-page">
            
  <div class="search-box search-header bg-theme card-style me-3 ms-3">
      <i class="fa fa-search"></i>
      <input type="text" class="border-0" placeholder="What are you looking for? " data-search="">
      <a href="#" class="disabled"><i class="fa fa-times-circle color-red-dark"></i></a>
  </div>   

  <div class="search-results card card-style shadow-l ">
    <div class="content">
      <% if current_user&.manager? %>
        <% @products.each do |h| %>
          <% if h[:connectAccount] && h[:connectAccount] == current_user&.stripeMerchantID %>

            <div data-filter-item="" data-filter-name="all services <%= !h[:product]['metadata'].blank? ? h[:product]['metadata']['keywords'] : h[:product][:name] %>" class="search-result-list">

              <% if h[:product]['active'] && !Stripe::Price.list({limit: 100, product: h[:product]['id'], active: true}, {stripe_account: current_user.stripeMerchantID})['data'].blank? %>
                <span class="bg-green1-dark float-right rounded-xs text-uppercase font-900 font-9 pr-2 pl-2 pb-0 pt-0 line-height-s mt-n1">Active</span>
              <% else %>
                <span class="bg-red1-dark float-right rounded-xs text-uppercase font-900 font-9 pr-2 pl-2 pb-0 pt-0 line-height-s mt-n1">Unavailable</span>
              <% end %>

              <h1 style="padding-left: 5px;"><%= h[:product]['name'] %></h1>
              <p style="padding-left: 5px;"><%= h[:product]['description'] %></p>
              <p class="text-right mb-0 pb-3">
                <%= link_to "View", "/services/#{h[:product]['id'][5..h[:product]['id'].size]}?connectAccount=#{h[:connectAccount]}", class: 'btn btn-full bg-blue2-dark' %>
              </p>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <% @activeProducts.each do |h| %>
          <% if h[:connectAccount] && Stripe::Price.list({limit: 100, product: h[:product]['id']}, stripe_account: h[:connectAccount])['data'].map{|prod| prod['metadata']['public'] == 'true'}.include?(true) %>
            <div data-filter-item="" data-filter-name="all services <%= !h[:product]['metadata'].blank? ? h[:product]['metadata']['keywords'] : h[:product][:name] %>" class="search-result-list">

              <h1  style="padding-left: 5px;"><%= h[:product]['name'] %></h1>
              <p style="padding-left: 5px;"><%= h[:product]['description'] %></p>
              <%= link_to "View", "/services/#{h[:product]['id'][5..h[:product]['id'].size]}?connectAccount=#{h[:connectAccount]}", class: 'btn btn-full bg-blue2-dark' %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="search-trending card card-style disabled">
      <div class="content mb-2">
          <h3>Service Searches</h3>
          <p class="font-11 mt-n2">What others are Searching for.</p>
      </div>
      <div class="list-group list-custom-small mr-3 ml-3">
          <a href="#">
              <span class="font-400 color-blue-dark">All Services</span>
              <i class="color-gray-dark fa fa-angle-right"></i>
          </a>              
      </div>
  </div>
</div>








<script type="text/javascript">
  function checkSearchBox(thisID) {
    // Get the checkbox
    var searchBox = document.getElementById("searchBox");

    // If the checkbox is checked, display the output text

    if (searchBox != null) {
      console.log("something");
    } 
    if (searchBox != null) {
      console.log("empty");
    }
  }

</script>