<div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Services</h3>
      <% if !current_user&.manager? %>
        <p>After you've purchased services, you will need to schedule with the seller at your convenience.</p>
      <% else %>
        <%= pluralize(@activeProducts.size + @unavailableProducts.size, "service") %> uploaded
      <% end %>
    </div>
    <% if current_user&.stripeSourceVerified && current_user&.manager? %>
      <a href="<%= new_service_path %>" class="float-right btn btn-xs bg-yellow1-dark rounded-xl shadow-xl text-uppercase font-900 mt-2 font-11">Add Service</a>
    <% end %>
</div>

<div class="card card-style bg-theme pb-0">
  <div class="content">
    <% if !current_user || !current_user.manager? %>
      <div class="tab-controls tabs-round tab-animated tabs-medium tabs-rounded shadow-xl" data-tab-items="1" data-tab-active="bg-green1-dark color-white"><a href="#" data-tab-active data-tab="tab-8"><i class="fa fa-check"></i></a>
      </div>
    <% else %>
      <div class="tab-controls tabs-round tab-animated tabs-medium tabs-rounded shadow-xl" data-tab-items="2" data-tab-active="bg-green1-dark color-white"><a href="#" data-tab-active data-tab="tab-8"><i class="fa fa-check"></i></a> <a href="#" data-tab="tab-9"><i class="fa fa-sync"></i></a>
      </div>
    <% end %>
      <div class="clearfix mb-3"></div>
      <div class="tab-content" id="tab-8">
          <% @activeProducts.each do |h| %>
            <div class="content mb-4">
              <div class="align-self-center">
                <h3><%= h[:product]['name'] %></h3>
                <p><%= h[:product]['description'] %></p>
                <div class="row mb-0">
                  <div class="col-12">
                    <%= link_to "/services/#{h[:product]['id'][5..h[:product]['id'].size]}?connectAccount=#{h[:connectAccount]}", class: 'btn btn-full bg-blue2-dark btn-m text-uppercase font-800 rounded-sm' do %>
                      <i class="fa fa-eye"></i> View
                    <% end %>
                  </div>
                </div>
                <div class="divider mt-3 mb-3"></div>
                <!-- <div class="divider"></div> -->
              </div>
            </div>
          <% end %>
      </div>

      <div class="clearfix mb-3"></div>
      <div class="tab-content" id="tab-9">
          <% @unavailableProducts.each do |h| %>
            <div class="content mb-4">
              <div class="align-self-center">
                <h3><%= h[:product]['name'] %></h3>
                <p><%= h[:product]['description'] %></p>
                <div class="row mb-0">
                  <div class="col-12">
                    <%= link_to "/services/#{h[:product]['id'][5..h[:product]['id'].size]}?connectAccount=#{h[:connectAccount]}", class: 'btn btn-full bg-blue2-dark btn-m text-uppercase font-800 rounded-sm' do %>
                      <i class="fa fa-eye"></i> View
                    <% end %>
                  </div>
                </div>
                <div class="divider mt-3 mb-3"></div>
                <!-- <div class="divider"></div> -->
              </div>
            </div>
          <% end %>
      </div>



      <div class="tab-content" id="tab-0">
          <% @unavailableProducts.each do |h| %>
            <div class="content mb-4">
              <div class="align-self-center">
                <!-- <h5 class=""><%= h[:product]['name'] %></h5> -->





                <h3><%= h[:product]['name'] %></h3>
                <p><%= h[:product]['description'] %></p>
                <div class="row mb-0">
                  <div class="col-4">
                    <p class="text-left mb-0 pb-3"><i class="fa fa-building color-blue2-dark mr-2"></i>3</p>
                  </div>
                  <div class="col-4">
                    <p class="text-center mb-0 pb-3"><i class="fa fa-home mr-2 color-yellow1-dark"></i>15</p>
                  </div>
                  <div class="col-4">
                    <p class="text-right mb-0 pb-3">
                      <%= link_to "/services/#{h[:product]['id'][5..h[:product]['id'].size]}?connectAccount=#{h[:connectAccount]}", class: 'btn btn-full bg-blue2-dark btn-m text-uppercase font-800 rounded-sm' do %>
                      <i class="fa fa-eye"></i> View
                    <% end %>
                    </p>
                  </div>
                </div>
                <div class="divider mt-3 mb-3"></div>
                <!-- <div class="divider"></div> -->
              </div>
            </div>
          <% end %>
      </div>
      
  </div>
</div>












<div class="search-page">
            <!-- auto fill with all using JS for when user clicks off behavior -->
  <div class="search-box search-header bg-theme card-style mr-3 ml-3">
    <i class="fa fa-search"></i>
    <input type="text" class="border-0" placeholder="What are you looking for? " data-search="all" id="searchBox" onchange="checkSearchBox();">
    <a href="#" class=""><i class="fa fa-times-circle color-red2-dark"></i></a>
  </div>   

  <div class="search-results card card-style shadow-l">
    <div class="content">
        <div data-filter-item="" data-filter-name="all products eazy mobile" class="search-result-list">
          <img class="shadow-l preload-img" src="images/pictures/32s.jpg" data-src="images/pictures/32s.jpg" alt="img">
          <h1>Eazy | Mobile Website</h1>
          <p>
              Eazy Mobile, a best seller and trending item, loved by all. 
          </p>
          <a href="#" class="bg-highlight">VIEW</a>
        </div>
        <div data-filter-item="" data-filter-name="all fdwillis" class="search-result-list">
          <img class="shadow-l preload-img" src="images/pictures/32s.jpg" data-src="images/pictures/32s.jpg" alt="img">
          <h1>fdwillis</h1>
          <p>
              Eazy Mobile, a best seller and trending item, loved by all. 
          </p>
          <a href="#" class="bg-highlight">VIEW</a>
        </div>
    </div>
  </div>


<!-- keen data of most searched (using JS) and bought(via controller)? -->
  <div class="search-trending card card-style disabled">
    <div class="content mb-2">
      <h3>Trending Searches</h3>
      <p class="font-11 mt-n2">What others are Searching for.</p>
    </div>
    <div class="list-group list-custom-small mr-3 ml-3">
      <a href="#">
        <span class="font-400 color-blue2-dark">All Products</span>
        <i class="color-gray2-dark fa fa-angle-right"></i>
      </a>        
      <a href="#">
        <span class="font-400 color-blue2-dark">Eazy Mobile</span>
        <i class="color-gray2-dark fa fa-angle-right"></i>
      </a>        
      <a href="#">
        <span class="font-400 color-blue2-dark">Mega Mobile</span>
        <i class="color-gray2-dark fa fa-angle-right"></i>
      </a>        
      <a href="#">
        <span class="font-400 color-blue2-dark">Ultra Mobile</span>
        <i class="color-gray2-dark fa fa-angle-right"></i>
      </a>        
      <a href="#">
        <span class="font-400 color-blue2-dark">Kolor Mobile</span>
        <i class="color-gray2-dark fa fa-angle-right"></i>
      </a>        
      <a href="#" class="border-0">
        <span class="font-400 color-blue2-dark">Vinga Mobile</span>
        <i class="color-gray2-dark fa fa-angle-right"></i>
      </a>        
    </div>
  </div>
</div>



<script type="text/javascript">
  function checkSearchBox(thisID) {
    // Get the checkbox
    var searchBox = document.getElementById("searchBox");

    // If the checkbox is checked, display the output text

    if (searchBox != null) {
      console.log("something");
    } 
    if (searchBox != null) {
      console.log("empty");
    }
  }

</script>