<div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Services</h3>
      <p>
          Services offered by Messy Lawns
      </p>
      <ul class="gallery-filter-controls">
          <li class="gallery-filter-active gallery-filter-all" data-filter="all">All</li>
          <li data-filter="1">Services</li>
          <li data-filter="2">Hourlies</li>
          <!-- <li data-filter="3">Products</li> -->
      </ul>
    </div>
</div>
<div class="card card-style">
  <div class="content mb-3">
      <div class="gallery gallery-filter">

        <% if @services.present? %>
          <% @services.each do |h| %>
            <a href="" data-lightbox="gallery-1" class="filtr-item default-link" title="<%= h['title'] %>" data-category="1" >
              <div class="align-self-center">
                  <h5 class=""><%= h['title'] %></h5>
                  <p class="font-600 opacity-40"><%= number_to_currency(h['cost'], precision: 2) %> per service</p>
              </div>
              <div class="align-self-center">
                  <p class="font-600 opacity-40">By: <%= h['sellerUsername'].titleize %></p>
              </div>
              <div class="align-self-center">
                  <span class="btn btn-sm col-md-12 rounded-sm bg-green1-dark text-uppercase font-800">START</span>
              </div>
            </a>
          <% end %>
        <% end %>

        <% if @hourlies.present? %>
          <% @hourlies.each do |h| %>
            <a href="" data-lightbox="gallery-2" class="filtr-item default-link" title="<%= h['title'] %>" data-category="2" >
              <div class="align-self-center">
                  <h5 class=""><%= h['title'] %></h5>
                  <p class="font-600 opacity-40"><%= number_to_currency(h['wageRate'], precision: 2) %> per hour</p>
              </div>
              <div class="align-self-center">
                  <p class="font-600 opacity-40">By: <%= h['sellerUsername'].titleize %></p>
              </div>
              <div class="align-self-center">
                  <span class="btn btn-sm col-md-12 rounded-sm bg-green1-dark text-uppercase font-800">START</span>
              </div>
            </a>
          <% end %>
        <% end %>           
      </div>
  </div>
</div>