<div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Services</h3>
      <p>
          <%= pluralize(@products.size, "service") %> offered by Messy Lawns
      </p>
    </div>
    <% if current_user&.stripeSourceVerified && current_user&.manager? %>
      <a href="<%= new_service_path %>" class="float-right btn btn-xs bg-yellow1-dark rounded-xl shadow-xl text-uppercase font-900 mt-2 font-11">Add Service</a>
    <% end %>
</div>

<div class="card card-style bg-theme pb-0">
  <div class="content">
      <div class="tab-controls tabs-round tab-animated tabs-medium tabs-rounded shadow-xl" 
           data-tab-items="2" 
           data-tab-active="bg-green1-dark color-white">
          <a href="#" data-tab-active data-tab="tab-8"><i class="fa fa-home"></i> Active<%= @activeProducts ? " (#{@activeProducts.size})" : nil %></a>
          <a href="#" data-tab="tab-9"><i class="fa fa-building"></i> Unavailable<%= @unavailableProducts ? " (#{@unavailableProducts.size})" : nil %></a>
      </div>
      <div class="clearfix mb-3"></div>
      <div class="tab-content" id="tab-8">
        <div class="card card-style">
          <% if @activeProducts.present? %>
            <% @activeProducts.each do |h| %>
              <div class="content mb-3">
                <div class="align-self-center">
                  <h5 class=""><%= h['name'] %></h5>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="tab-content" id="tab-9">
        <div class="card card-style">
          <% if @unavailableProducts.present? %>
            <% @unavailableProducts.each do |h| %>
              <div class="content mb-3">
                <div class="align-self-center">
                  <h5 class=""><%= h['name'] %></h5>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      
  </div>
</div>
