<div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Services</h3>
      <p>
          <%= pluralize(@activeProducts.size, "service") %> offered by Messy Lawns
      </p>
    </div>
    <% if current_user&.stripeSourceVerified && current_user&.manager? %>
      <a href="<%= new_service_path %>" class="float-right btn btn-xs bg-yellow1-dark rounded-xl shadow-xl text-uppercase font-900 mt-2 font-11">Add Service</a>
    <% end %>
</div>

<div class="card card-style bg-theme pb-0">
  <div class="content">
    <% if !current_user || !current_user.manager? %>
      <div class="tab-controls tabs-round tab-animated tabs-medium tabs-rounded shadow-xl" data-tab-items="1" data-tab-active="bg-green1-dark color-white"><a href="#" data-tab-active data-tab="tab-8"><i class="fa fa-check"></i> Available Services<%= @activeProducts ? " (#{@activeProducts.size})" : nil %></a>
      </div>
    <% else %>
      <div class="tab-controls tabs-round tab-animated tabs-medium tabs-rounded shadow-xl" data-tab-items="2" data-tab-active="bg-green1-dark color-white"><a href="#" data-tab-active data-tab="tab-8"><i class="fa fa-check"></i> Active<%= @activeProducts ? " (#{@activeProducts.size})" : nil %></a> <a href="#" data-tab="tab-9"><i class="fa fa-times"></i> Unavailable<%= @unavailableProducts ? " (#{@unavailableProducts.size})" : nil %></a>
      </div>
    <% end %>
      <div class="clearfix mb-3"></div>
      <div class="tab-content" id="tab-8">
        <div class="card card-style">
          <% if @activeProducts.present? %>
            <% @activeProducts.each do |h| %>
              <div class="content mb-4">
                <div class="align-self-center">
                  <h3><%= h[:product]['name'] %></h3>
                  <p><%= h[:product]['description'] %></p>
                  <div class="row mb-0">
                    <div class="col-4">
                      <p class="text-left mb-0 pb-3"><i class="fa fa-building color-blue2-dark mr-2"></i>3</p>
                    </div>
                    <div class="col-4">
                      <p class="text-center mb-0 pb-3"><i class="fa fa-home mr-2 color-yellow1-dark"></i>15</p>
                    </div>
                    <div class="col-4">
                      <p class="text-right mb-0 pb-3"><i class="fa fa-eye mr-2 color-green1-dark"></i><%= link_to "View", service_path(id: h[:product]['id'][5..h[:product]['id'].size], connectAccount: h[:connectAccount]) %></p>
                    </div>
                  </div>
                  <div class="divider mb-3"></div>
                  <!-- <div class="divider"></div> -->
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="tab-content" id="tab-9">
        <div class="card card-style">
          <% if @unavailableProducts.present? %>
            <% @unavailableProducts.each do |h| %>
              <div class="content mb-4">
                <div class="align-self-center">
                  <!-- <h5 class=""><%= h[:product]['name'] %></h5> -->





                  <h3><%= h[:product]['name'] %></h3>
                  <p><%= h[:product]['description'] %></p>
                  <div class="row mb-0">
                    <div class="col-4">
                      <p class="text-left mb-0 pb-3"><i class="fa fa-building color-blue2-dark mr-2"></i>3</p>
                    </div>
                    <div class="col-4">
                      <p class="text-center mb-0 pb-3"><i class="fa fa-home mr-2 color-yellow1-dark"></i>15</p>
                    </div>
                    <div class="col-4">
                      <p class="text-right mb-0 pb-3"><i class="fa fa-eye mr-2 color-green1-dark"></i><%= link_to "View", service_path(id: h[:product]['id'][5..h[:product]['id'].size]) %></p>
                    </div>
                  </div>
                  <div class="divider mb-3"></div>
                  <!-- <div class="divider"></div> -->
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      
  </div>
</div>

