<div class="page-content header-clear-medium">
  <div class="card card-style">
    <div class="content mt-4 mb-0">
        <h1 class="text-center font-900 font-40 text-uppercase mb-0">Register</h1>
        <p class="bottom-0 text-center color-highlight font-11">Let's get your account created or <%= render "devise/shared/links" %></p>


        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="input-style has-icon input-style-2 input-required pb-1">
              <span class="color-highlight input-style-1-active">Account Type</span>
              <em>(required)</em>
              <%= f.select :accessPin, [['I want to shop', 'customer'], ['I want to sell', 'manager']], required: true %>
          </div>
          <div class="input-style has-icon input-style-2 input-required pb-1">
              <i class="input-icon fa fa-user color-theme"></i>
              <span class="color-highlight input-style-1-active">Username</span>
              <em>(required)</em>
              <%= f.text_field :username, autocomplete: "username", placeholder: "Username", required: true %>
          </div> 
          <div class="input-style has-icon input-style-2 input-required pb-1">
              <i class="input-icon fa fa-at color-theme"></i>
              <span class="color-highlight input-style-1-active">Email</span>
              <em>(required)</em>
              <%= f.email_field :email, autocomplete: "email", placeholder: "Email", required: true %>
          </div> 
          <div class="input-style has-icon input-style-2 input-required pb-1">
              <i class="input-icon fa fa-phone color-theme"></i>
              <span class="color-highlight input-style-1-active">Phone</span>
              <em>(required)</em>
              <%= f.text_field :phone, placeholder: "Phone", required: true %>
          </div> 
          <div class="input-style has-icon input-style-2 input-required pb-1">
              <i class="input-icon fa fa-lock color-theme"></i>
              <span class="color-highlight input-style-1-active">Password</span>
              <em>(required)</em>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', required: true %>
          </div> 
          <div class="input-style has-icon input-style-2 input-required pb-1">
              <i class="input-icon fa fa-lock color-theme"></i>
              <span class="color-highlight input-style-1-active">Confirm Password</span>
              <em>(required)</em>
              <%= f.password_field :password_confirmation, autocomplete: "current-password", placeholder: 'Confirm Password', required: true %>
          </div> 
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <%= f.submit "Sign Up", class: "col-md-12 btn btn-m mt-2 mb-4 btn-full bg-green1-dark text-uppercase font-900" %>
        <% end %> 
    </div>
  </div>
</div>
