
<%= !@price.blank? ? (@price['unit_amount'] * 0.01) : nil %>
<div class="input-style has-icon">
  <span class="color-highlight input-style-2">Description</span>
  <%= f.text_area :description, class: "form-control", size: "10x3", required: true, value: (@price && @price['metadata'].blank? && !@price['metadata']['description'].blank?) ? @price['metadata']['description'] : nil %>
</div> 
<div class="input-style has-icon">
  <span class="color-highlight input-style-2">Price</span>
  <%= f.number_field :unit_amount, class: "form-control", value: !@price.blank? ? (@price['unit_amount'].to_f * 0.01).to_f : nil, step: 'any' %>
</div> 
<div data-switch="toggle-id-2" class="switch-is-unchecked" style="display: none;">
  <p class="mb-0 pb-0 pt-2"><em><u>One Time Purchase For Multiple Services</u></em></p>
	
	<div class="input-style has-icon">
    <span class="color-highlight input-style-2">Number of Services Included With Purchase</span>
    <%= f.number_field :divide_by, class: "form-control", placeholder: '0', value: !@price.blank? ? @price['transform_quantity'] : nil %>
    <%= f.hidden_field :product, value: !params["product_id"].blank? ? params["product_id"] : params["service_id"] %>
	</div> 
</div>
<div class="input-style has-icon">
  <%= f.number_field :stockCount, class: "form-control", placeholder: '0', value: !@price['metadata'].blank? && !@price['metadata']['stockCount'].blank? ? @price['metadata']['stockCount'] : "endless" %>
</div> 

<div id="one-offprice" class="switch-is-checked" style="display: block;">
  <p class="mb-0 pb-0 pt-2"><em><u>Single Purchase</u></em></p>
</div>

<script type="text/javascript">
  function packageOrNah() {
    // Get the checkbox
    var checkBox = document.getElementById("toggle-id-2");
    var onOffDIV = document.getElementById("one-offprice");

    // If the checkbox is checked, display the output text
    if (checkBox.checked == true){
      // text.style.display = "block";
      console.log("CHECKED");
      onOffDIV.style.display = "none";
    } else {
      console.log("UNCHECKED");
      onOffDIV.style.display = "block";
    }
  }

  window.onload = packageOrNah;
</script>