<div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Editing Pricing: </h3>
      <h5>Price#<%= @price['id'][6..@price['id'].length] %></h5>
      <p>
          Enter the service information below. Once you are complete, the service will be updated.
      </p>
    </div>
</div>

<div class="card card-style">
  <div class="content mb-0">
    <%= form_for :newPricing, url: service_pricing_path(service_id: params[:service_id], id: params[:id]), method: :patch do |f| %>
      <div class="input-style has-icon input-required">
        <span class="color-highlight input-style-2">Description</span>
        <%= f.text_area :description, class: "form-control", size: "10x3", value: (!@price['metadata'].blank? && !@price['metadata']['description'].blank?) ? @price['metadata']['description'] : nil %>
        <%= f.hidden_field :product, value: @price['product'] %>
        <%= f.hidden_field :price, value: @price['id'] %>
        <%= f.hidden_field :allPrice, value: @price %>
      </div> 
      <div class="pt-1">
        <h5 data-activate="toggle-id-2" class="font-600"><strong><em>Active</em></strong></h5>
      </div>
      <div class="ml-auto mr-4 pr-2">
        <div class="custom-control ios-switch ios-switch-icon">
          <%= f.check_box :active, class: 'ios-input', id: 'toggle-id-2', checked: !@price['active'].blank? ? ActiveModel::Type::Boolean.new.cast(@price['active']) : false, onclick: "packageOrNah()" %>
          <label class="custom-control-label" for="toggle-id-2"></label>
          <span>YES</span>
          <span>NO</span>
        </div>
      </div>

      <%= f.submit "Update Pricing", class: "btn btn-full bg-yellow1-dark btn-m text-uppercase rounded-sm shadow-l col-12 mb-3 mt-4 font-900"%>

  
		<% end %>
	</div>
</div>
