<div class="card card-style">
  <div class="content mt-3 mb-3">
    <h3>Price Management</h3>

    <h5><%= link_to "< Back To #{@productL['name'].titleize}", "/services/#{@productL['id'][5..@productL['id'].size]}?connectAccount=#{current_user.stripeUserID}" %><%=  %></h5>
    <p>
        <%= pluralize(@prices.count, "price") %> listed
    </p>
  </div>
  <a href="<%= new_service_pricing_path %>" class="float-right btn btn-xs bg-yellow1-dark rounded-xl shadow-xl text-uppercase font-900 mt-2 font-11">Add Pricing</a>
</div>

<div class="card card-style bg-theme pb-0">
  <div class="">
    <div class="tab-controls tabs-round tab-animated tabs-medium tabs-rounded shadow-xl" data-tab-items="2" data-tab-active="bg-green1-dark color-white">
        <a href="#" data-tab-active data-tab="tab-1"><!-- <i class="fa fa-clock"></i> --> Available </a>
        <a href="#"  data-tab="tab-2"><!-- <i class="fa fa-calendar-check"></i> --> Archived </a>
    </div>
    <div class="clearfix mb-3"></div>
    
    <div class="tab-content" id="tab-1">
      <% @prices.each do |pr| %>

        <div class="content">
          <div class="row mb-0">
              <div class="col-3 icon icon-xl">
                  <i class="fa fa-check bg-fade-green2-dark rounded-xl color-green2-dark" width='80'></i>
              </div>
              <div class="col-9 pl-4">
                  <div class="d-flex">
                      <div><p class="font-700 color-theme"><%= number_to_currency((pr['unit_amount'] * 0.01), precision: 2) %></p></div>
                      <div class="ml-auto"><p>
                        <%= link_to edit_service_pricing_path(service_id: @productL['id'][6..@productL['id'].size], id: pr['id'][6..pr['id'].size], price: pr), class: 'btn btn-full bg-yellow2-dark btn-m text-uppercase font-800 rounded-sm' do %>
                          <i class="fa fa-pencil"></i> Edit
                        <% end %>
                      </p></div>
                  </div>
                  <div class="d-flex">
                  </div>
                  <%= !pr['metadata'].blank? ? pr['metadata']['description'] : nil %>
              </div>
          </div>
          <div class="divider mt-3 mb-3"></div>
          
          
          
        </div>
      <% end %>
      
    </div>
    
    <div class="tab-content" id="tab-2">
      <% @archived.each do |pr| %>

        <div class="content">
          <div class="row mb-0">
              <div class="col-3 icon icon-xl">
                  <i class="fa fa-check bg-fade-green2-dark rounded-xl color-green2-dark" width='80'></i>
              </div>
              <div class="col-9 pl-4">
                  <div class="d-flex">
                      <div><p class="font-700 color-theme"><%= number_to_currency((pr['unit_amount'] * 0.01), precision: 2) %></p></div>
                      <div class="ml-auto"><p>
                        <%= link_to edit_service_pricing_path(service_id: @productL['id'][6..@productL['id'].size], id: pr['id'][6..pr['id'].size], price: pr), class: 'btn btn-full bg-yellow2-dark btn-m text-uppercase font-800 rounded-sm' do %>
                          <i class="fa fa-pencil"></i> Edit
                        <% end %>
                      </p></div>
                  </div>
                  <div class="d-flex">
                  </div>
                  <%= !pr['metadata'].blank? ? pr['metadata']['description'] : nil %>
              </div>
          </div>
          <div class="divider mt-3 mb-3"></div>
          
          
          
        </div>
      <% end %>
    </div>
  </div>
</div>