<div class="card card-style">
  <div class="content mt-3 mb-3">
    <h3>Thank You!</h3>
    <p>Below is a copy of your purchase!</p>
    <p>Book at your convenience</p>
  </div>
</div>

<div class="card card-style">
  <% stripeFee = (((@stripeInvoiceInfo['amount'].to_i * 0.029)) + 29).to_i %>
  <% stripeFeeAmount = @stripeInvoiceInfo['application_fee_amount'].to_i %>
  <div class="content mb-0">
      <div class="d-flex">
          <div class="pr-4 align-self-center">
              <p class="font-600 color-highlight mb-n1">Payment</p>
              <h1 class="mb-2"><%= number_to_currency(@stripeInvoiceInfo['amount_due'].to_i * 0.01, precision: 2) %></h1>
          </div>
          <div class="w-100 align-self-center pl-3">
            <h6 class="mt-4 font-700 text-uppercase font-12 opacity-30 mb-3 mt-n2"><%= Stripe::Customer.retrieve(@stripeInvoiceInfo['customer'], {stripe_account: ENV['connectAccount']})['name'] %><span class="float-right"><%= Time.at(@stripeInvoiceInfo['created']).strftime("%b #{Time.at(@stripeInvoiceInfo['created']).day.ordinalize}, %Y") %></span></h6>
	          <% @stripeInvoiceInfo['lines']['data'].each do |invI| %>
              <h6 class="font-14 font-700"><%= invI[:description] %><span class="float-right color-orange2-dark"><%= number_to_currency(invI[:amount] * 0.01, precision: 2) %></span></h6>
	          	<!-- <%= invI %> -->
	          <% end %>
          </div>
      </div>      
      <div class="divider mt-2 mb-3"></div>
  </div>            
</div>