<div class="card card-style">
  <div class="content mt-3 mb-3">
    <h3>Thank You!</h3>
    <p>Below is a copy of your purchase!</p>
  </div>
</div>

<div class="card card-style">
  <% stripeFee = (((@stripeInvoiceInfo['amount'].to_i * 0.029)) + 29).to_i %>
  <% stripeFeeAmount = @stripeInvoiceInfo['application_fee_amount'].to_i %>
  <div class="content mb-0">
      <div class="d-flex">
          <div class="pr-0 align-self-center">
              <p class="font-600 color-highlight mb-n1">Payment</p>
              <h1 class="mb-2"><%= number_to_currency(@stripeInvoiceInfo['amount_due'].to_i * 0.01, precision: 2) %></h1>
          </div>

          <div class="w-100 align-self-center pl-3">
            <h6 class="mt-4 font-700 text-uppercase font-12 opacity-30 mb-3 mt-n2"><%= @stripeInvoiceInfo['customer_name'] %><span class="float-right"><%= Time.at(@stripeInvoiceInfo['created']).strftime("%b #{Time.at(@stripeInvoiceInfo['created']).day.ordinalize}, %Y") %></span></h6>
	          <% @stripeInvoiceInfo['lines']['data'].each do |invI| %>
              <h6 class="font-14 font-700 mb-4">
                <span class="float-right color-orange2-dark"><%= number_to_currency(invI[:amount] * 0.01, precision: 2) %></span>
                <%= Stripe::Product.retrieve(Stripe::Price.retrieve(invI[:metadata][:truePrice], {stripe_account: ENV['connectAccount']})['product'], {stripe_account: ENV['connectAccount']})[:name]  %>
                <% if !invI[:metadata][:bookableByTimeKitID].blank? && invI[:metadata][:timeKitBookingID].blank? %>
                  <div id="bookingjs"></div>

                  <script>
                    window.timekitBookingConfig = {
                      app_key: 'test_widget_key_0sUbi4Mc5H41xn2Eb2TUclpsA90ZgneG',
                      project_id: "<%= invI[:metadata][:bookableByTimeKitID] %>",
                      callbacks: {
                        createBookingSuccessful: function(response) {
                          location.reload();
                        }
                      },
                      customer_fields: {
                          name: {
                            prefilled: "<%= @stripeInvoiceInfo['customer_name'] %>",
                            readonly: false
                          },
                          email: {
                            prefilled: "<%= @stripeInvoiceInfo['customer_email'] %>",
                            readonly: false
                          },
                          phone: {
                            title: 'Phone number',
                            prefilled: "<%= @stripeInvoiceInfo['customer_phone'] %>",
                            required: false,
                            readonly: false,
                            format: 'tel'
                          },
                          comment: {
                            title: 'Other comments or things to know',
                            prefilled: false,
                            readonly: false,
                            format: 'textarea'
                          },
                        },
                      }
                  </script>
                <% end %>
              </h6>
            <% end %>
            <div class="divider mt-2 mb-3"></div>
          </div>
      </div>      
  </div>            
</div>