<%= form_with(model: recording, local: true) do |form| %>
  <% if recording.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recording.errors.count, "error") %> prohibited this recording from being saved:</h2>

      <ul>
        <% recording.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-style input-style-2">
    <%= form.number_field :year, placeholder: 'Year' %>
  </div>
  <div class="input-style input-style-2">
    <%= form.number_field :month, placeholder: 'Month' %>
  </div>
  <div class="input-style input-style-2">
    <%= form.number_field :cash, placeholder: 'Cash', step: :any %>
  </div>

  <div class="input-style input-style-2">
    <%= form.number_field :equities, placeholder: 'Equities', step: :any %>
  </div>

  <div class="input-style input-style-2">
    <%= form.number_field :expenses, placeholder: 'Expenses', step: :any %>
  </div>
  <div class="input-style input-style-2">
    <%= form.number_field :income, placeholder: 'Income', step: :any %>
  </div>
  <div class="input-style input-style-2">
    <%= form.number_field :liabilities, placeholder: 'Liabilities', step: :any %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
