<div class="content">  
  <%= form_for :stripeToken, url: stripe_tokens_path do |f| %>
    <div class="input-style input-style-2 has-icon input-required">
        <i class="input-icon fa fa-credit-card"></i>
        <span class="color-highlight input-style-1-active">Card Number</span>
        <em>(required)</em>
        <%= f.number_field :number, class: 'form-control', required: true, placeholder: '1234 5678 9012 3456' %>
    </div> 
    <div class="input-style input-style-2 has-icon input-required mt-4">
        <i class="input-icon fa fa-calendar"></i>
        <span class="color-highlight input-style-1-active">Expiration Month</span>
        <em>(required)</em>
        <%= f.number_field :exp_month, class: 'form-control', required: true, placeholder: '05' %>
    </div> 
    <div class="input-style input-style-2 has-icon input-required mt-4">
        <i class="input-icon fa fa-calendar"></i>
        <span class="color-highlight input-style-1-active">Expiration Year</span>
        <em>(required)</em>
        <%= f.number_field :exp_year, class: 'form-control', required: true, placeholder: '2023'%>
    </div> 
    <div class="input-style input-style-2 has-icon input-required mt-4">
        <i class="input-icon fa fa-lock"></i>
        <span class="color-highlight input-style-1-active">CVC</span>
        <em>(required)</em>
        <%= f.number_field :cvc, class: 'form-control', required: true, placeholder: '123' %>
    </div> 
    <%= f.submit "Add Card", class: "btn btn-full bg-green1-dark btn-m text-uppercase rounded-sm shadow-l mb-3 mt-4 font-900"%>

  <% end %>
</div>