<%= @timeBought['date'] %>
<div class="card card-style">
  <div class="content mb-3">
      <div class="">
        <div class="align-self-center">
            <h5 class=""><%= @timeBought['title'] %> (<%= @timeBought['remaining']%>)</h5>
        </div>
        <div class="align-self-center">
            <p class="font-600 opacity-40">By: <%= @timeBought['sellerUsername'].titleize %></p>
        </div>
        <br>
        <%= form_for :bookIt, url: bookingRequest_path do |f| %>
          <div class="input-style input-style-2 has-icon input-required">
            <span class="color-highlight input-style-1-active">Address</span>
            <em>(required)</em>
            <%= f.text_field :address, placeholder: "Address where services will be provided", class: "form-control", required: true %>
            <%= f.hidden_field :appName, value: ENV['appName'] %>
          </div>
          <div class="input-style input-style-2 has-icon input-required">
            <span class="color-highlight input-style-1-active">Month</span>
            <%= select_month(Date.today) %>
          </div>
          <div class="input-style input-style-2 has-icon input-required">
            <span class="color-highlight input-style-1-active">Day</span>
            <%= select_day(Date.today) %>
          </div>
          <div class="input-style input-style-2 has-icon input-required">
            <span class="color-highlight input-style-1-active">Year</span>
            <select id="bookIt_yearSelect" name="bookIt[yearSelect]" class="btn border-green1-dark text-uppercase rounded-sm font-900" required="true">
              <option value="2020" selected="selected">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
            </select>
          </div>
          <div class="input-style input-style-2 has-icon input-required">
            <span class="color-highlight input-style-1-active">Starting Time</span>
            <%= time_select(nil, "sunrise", ampm: true) %>
          </div>
          <%= f.hidden_field :timeSlot, value: @timeBought['timeSlotUUID'] %>
          <%= f.hidden_field :stripeChargeID, value: @timeBought['stripeChargeID'] %>
          
          <div class="col-12">
            <div class="input-style input-style-2">
						  <%= f.submit "Submit Request", class: "btn bg-green1-dark text-uppercase rounded-sm font-900"%>
	          </div>
          </div>
				<% end %>
      </div>
  </div>
</div>