<div class="page-content header-clear-medium" style="min-height: 812px;">
        
  <div class="card card-style">
      <!-- <img data-src="images/pictures/18w.jpg" class="preload-img img-fluid bottom-20" src="images/pictures/18w.jpg"> -->
      <div class="content mb-0">
          <div class="float-left">
              <h1 class="mb-0"><%= @timeBought['sellerUsername'].titleize %></h1>
          </div>
          <a href="#" class="float-right btn btn-xs bg-yellow1-dark rounded-xl shadow-xl text-uppercase font-900 mt-2 font-11">Booking Request</a>
          
          <div class="clearfix"></div>                
          <div class="divider mt-2 mb-3"></div>     
          
          <h5>Instructions</h5>
          <p class="text-justify">Since you have purchased <%= @timeBought['title'].titleize %> from <%= @timeBought['sellerUsername'].titleize %>, you are able to complete your booking request below. <%= @timeBought['sellerUsername'].titleize %> will get back to you for the time and location to complete the service.</p>
          
          
          <!-- <a href="#" class="btn btn-m btn-full rounded-sm shadow-xl bg-highlight text-uppercase mb-3 font-900">Join Event</a> -->
      </div>
  </div> 
	<div class="card card-style">
    <div class="content mb-3">
        <div class="">
          <div class="align-self-center">
              <h5 class=""><%= @timeBought['title'] %> (<%= @timeBought['remaining']%>)</h5>
          </div>
          <div class="align-self-center">
              <p class="font-600 opacity-40">By: <%= @timeBought['sellerUsername'].titleize %></p>
          </div>
          
          <%= form_for :bookIt, url: bookingRequest_path do |f| %>
            <%= f.date_select :date, { order: [:month, :day, :year], start_year: Date.current.year }, { class: "form-control"} %>


          	<%= f.hidden_field :timeSlot, value: @timeBought['timeSlotUUID'] %>
          	<%= f.hidden_field :stripeChargeID, value: @timeBought['stripeChargeID'] %>
	          <div class="col-12">
	            <div class="input-style input-style-2">
							  <%= f.submit "Submit Request", class: "btn bg-green1-dark text-uppercase rounded-sm font-900"%>
		          </div>
	          </div>
					<% end %>
        </div>
    </div>
  </div>
</div>