<!-- Preferred order:

Customer: name, custID
“Title of job”
Date of service
Customer: name, custID?
Contact 
Contact 
Contact 
         Total $/charge
         Net $ (fee shown) -->
<% if current_user&.customer? %>
  <% if current_user&.paymentOn? %>
    <div class="card card-style">
      <div class="content mt-3 mb-3">
        <h3>Schedule Services</h3>
        <p class='text-justify'>
          Schedule your purchased services &amp; see the status of your pending service requests here!
        </p>
      </div>
    </div>
    <% if @payments&.present?  %>
      <div class="card card-style">
        <div class="content mb-0">
          <div class="row mb-4">
            <div class="col-5"><h4 class="font-14 text-left"><u>Service</u></h4></div>
            <div class="col-3"><h4 class="font-14 text-justify"><u>QTY</u></h4></div>
            <div>&nbsp;</div>
          </div>
          <% @payments.each_with_index do |h, hindx| %>
              <% h['items'].each_with_index do |itm,indx| %>
                <% if itm['price']['transform_quantity'] && !itm['price']['transform_quantity']['divide_by'].blank? %>
                  <% remainingToClaim = (itm['invoiceLine']['quantity'].to_i * itm['price']['transform_quantity']['divide_by']) - itm['invoiceLine']['metadata']['claimed'].to_i %>
                <% else %>
                  <% remainingToClaim = itm['invoiceLine']['quantity'].to_i - itm['invoiceLine']['metadata']['claimed'].to_i %>
                <% end %>

                <% if remainingToClaim > 0 %>

                  <% if itm['product']['type'] == 'service' %>

                    <% if !itm['invoiceLine']['metadata']['claimed'].blank? %>
                      
                      <% ((!itm['price']['transform_quantity'].blank? ? (itm['price']['transform_quantity']['divide_by'] * itm['invoiceLine']['quantity'].to_i) : 0) > itm['invoiceLine']['metadata']['claimed'].to_i) || (itm['invoiceLine']['quantity'].to_i) > (itm['invoiceLine']['metadata']['claimed'].to_i) %>

                      Claimed: <%= itm['invoiceLine']['metadata']['claimed'].to_i %>

                      <% if itm['invoiceLine']['metadata']['merchantConfirmed'] == 'true' %>
                      <span class="bg-blue2-dark float-right rounded-xs text-uppercase font-900 font-9 pr-2 pl-2 pb-0 pt-0 line-height-s mt-n1">Scheduled</span>
                      <% end %>

                      <% if  itm['invoiceLine']['metadata']['requesting'].to_i > 0 %>
                      <span class="bg-yellow1-dark float-right rounded-xs text-uppercase font-900 font-9 pr-2 pl-2 pb-0 pt-0 line-height-s mt-n1">Requested</span>
                      <% end %>


                      <div class="row mb-6">
                        <div class="col-5"><h4 class="font-14 text-left"><%= itm['product']['name'] %></h4></div>
                        <% if itm['price']['transform_quantity'] && !itm['price']['transform_quantity']['divide_by'].blank? %>
                          <!-- <div class="col-1"><h4 class="font-14 text-left"><i class="fa fa-check bg-fade-green2-dark rounded-xl color-green2-dark"></i></h4></div> -->
                          <div class="col-3"><h4 class="font-14 text-justify"><%= (itm['invoiceLine']['quantity'].to_i * itm['price']['transform_quantity']['divide_by']) - itm['invoiceLine']['metadata']['claimed'].to_i %></h4></div>
                        <% else %>
                          <!-- <div class="col-1"><h4 class="font-14 text-left"><i class="fa fa-times bg-fade-red2-dark rounded-xl color-red2-dark"></i></h4></div> -->
                          <div class="col-3"><h4 class="font-14 text-justify"><%= itm['invoiceLine']['quantity'].to_i - itm['invoiceLine']['metadata']['claimed'].to_i %></h4></div>
                        <% end %>
                        
                          <div class="col-4">
                            <button class="accordion-btn  btn btn-m btn-full bg-green1-dark text-uppercase font-900" data-toggle="collapse" data-target="#<%= itm['invoiceLine']['id'] %>" aria-expanded="false" style='margin-top:-10px;'>
                              <i class="fa fa-calendar-check"></i>
                            </button>
                          </div>

                      </div>
                      <div class="scheduleIt mt-4">
                      </div>
                    <% end %>

                    <div class="accordion" id="<%= itm['invoiceLine']['id'] %>">
                      <div id="<%= itm['invoiceLine']['id'] %>" class="collapse" data-parent="#<%= itm['invoiceLine']['id'] %>" style="">
                        <div class="text-center">
                          <% if !itm['invoiceLine']['metadata']['timeKitBookingID'].blank? %>
                            <h4>Upcoming</h4>

                            <% itm['invoiceLine']['metadata']['timeKitBookingID'].split(",").each do |tkid| %>
                              <p class="mb-4"><%= tkid %></p>
                            <% end %>
                          <% end %>

                          

                          <% if remainingToClaim > 0 %>

                            <%= form_for :requestBooking, id: "#{h['customerStripeInfo']['name']}#{h['invoice']['id']}", url: requestBooking_path do |f| %>
                              <div class="row">
                                <div class="input-style input-style-2 mt-2 col-6">
                                  Date
                                  <%= f.date_select(:dateRequested, :default => { day: DateTime.now.strftime("%d") , year: DateTime.now.strftime("%Y"), month: DateTime.now.strftime("%m") }) %>

                                </div>
                                <div class="input-style input-style-2 mt-2 col-6">
                                  Time
                                  <%= f.time_select(:my_time, start_hour: 8, end_hour: 20,minute_step: 15, ampm: true) %>
                                </div>
                              </div>

                              <%= f.hidden_field :invoice, value: h['invoice']['id'] %>

                              <%= f.hidden_field :merchantStripeID, value: h['merchantStripeID'] %>

                              <%= f.hidden_field :serviceToBook, value: itm['invoiceLine']['invoice_item'] %>
                              
                              <%= f.submit "Request Booking", class: "col-md-12 btn btn-m mt-2 mb-4 btn-full bg-yellow1-dark text-uppercase font-900" %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="content mb-0 text-center">
        <h5>You have not purchased any services</h5>
      </div>
    <% end %>
  <% else %>
    <%= link_to "Setup Payment", '/profile', class: 'btn btn-full bg-yellow2-dark btn-m text-uppercase font-800 rounded-sm' %>
  <% end %>

<% end %>

<% if current_user&.manager? %>
  <div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Schedule Services</h3>
      <p class='text-justify'>
            As clients purchase your services the 'Pending' section will show you which clients have requested their service be complete. <br><br>

            After you have accepted the date and time to complete a service, it will be show in the 'Upcoming' section
      </p>
    </div>
  </div>


  <% if @payments&.present? %>
    <% @payments.each do |h| %> 
      <% if Stripe::Invoice.retrieve(h['invoice']['id'], {stripe_account: current_user&.stripeMerchantID})['metadata']['goodOrService'] == 'service' %>
        <% h['items'].each_with_index do |itm,indx| %>
          <% if current_user&.address %>

            <% startDateX = Stripe::InvoiceItem.retrieve(itm['invoiceLine']['invoice_item'], {stripe_account: current_user&.stripeMerchantID})['metadata']['startDate'] %>



            <% if Stripe::InvoiceItem.retrieve(itm['invoiceLine']['invoice_item'],{stripe_account: current_user&.stripeMerchantID })['metadata']['merchantConfirmed'] == "true" %>
              <div class="card card-style bg-theme pb-0">
                <div class="content mb-0">
                  Order#<%= h['invoice']['id'][3..h['invoice']['id'].length].truncate(9, omission: '') %>
                  <div class="row mb-0">
                      <div class="col-3 icon icon-xl">
                          <i class="fa fa-exclamation bg-fade-yellow1-dark rounded-xl color-yellow2-dark" width='80'></i>
                      </div>
                      <div class="col-9 pl-4">
                          <div class="d-flex">
                              <div><p class="font-700 color-theme">Date</p></div>
                              <div class="ml-auto">
                                <p>
                                  <%= startDateX.to_datetime.strftime("%A, %B %d, %Y") %>
                                  
                                </p>
                              </div>
                          </div>
                          <div class="d-flex">
                              <div><p class="font-700 color-theme">Time</p></div>
                              <div class="ml-auto">
                                <p>
                                  <%= startDateX.to_datetime.strftime("%I:%M %p") %>
                                </p>
                              </div>
                          </div>
                          <div class="d-flex">
                              <div><p class="font-700 color-theme">Email</p></div>
                              <div class="ml-auto"><p><%= link_to "Email Customer", "mailto:#{h['customerStripeInfo']['email']}"  %></p></div>
                          </div>
                          <div class="d-flex">
                              <div><p class="font-700 color-theme">Phone</p></div>
                              <div class="ml-auto"><p><%= link_to "Call Customer", "tel:#{h['customerStripeInfo']['phone']}"  %></p></div>
                          </div>
                          <div class="d-flex">
                              <div><p class="font-700 color-theme">Customer</p></div>
                              <div class="ml-auto"><p><%= h['customerStripeInfo']['name'] %></p></div>
                          </div>

                          <%= form_for :cancel, url: cancel_path do |f| %>
                            <div class="d-flex mt-4">
                              <%= f.hidden_field :serviceToCancel, value: itm['invoiceLine']['invoice_item'] %>
                              <%= f.hidden_field :merchantStripeID, value: h['merchantStripeID'] %>
                              <%= f.submit "Cancel Booking", class: "btn btn-full bg-red1-dark col-12 text-uppercase rounded-sm font-900"%>
                            </div>
                          <% end %>
                      </div>
                  </div>
                  <div class="divider mt-3 mb-3"></div>
                  <% if Stripe::InvoiceItem.retrieve(itm['invoiceLine']['invoice_item'],{stripe_account: current_user&.stripeMerchantID })['metadata']['timeKitBookingID'].blank? %>

                    <%= form_for :requestBooking, id: "#{h['customerStripeInfo']['name']}#{h['invoice']['id']}", url: requestBooking_path do |f| %>
                      <div class="row">
                        <div class="input-style input-style-2 mt-2 col-6">
                          Date
                          <%= f.date_select(:dateRequested, :default => { day: DateTime.now.strftime("%d") , year: DateTime.now.strftime("%Y"), month: DateTime.now.strftime("%m") }) %>

                        </div>
                        <div class="input-style input-style-2 mt-2 col-6">
                          Time
                          <%= f.time_select(:my_time, start_hour: 8, end_hour: 20,minute_step: 15, ampm: true) %>
                        </div>
                      </div>

                      <%= f.hidden_field :invoice, value: h['invoice']['id'] %>
                      <%= f.hidden_field :merchantStripeID, value: h['merchantStripeID'] %>
                      <%= f.hidden_field :serviceToBook, value: itm['invoiceLine']['invoice_item'] %>
                      <%= f.submit "Change Date", class: "col-md-12 btn btn-m mt-2 mb-4 btn-full bg-yellow1-dark text-uppercase font-900" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% else %>
              <% if  itm['invoiceLine']['metadata']['requesting'].to_i > 0 %>
                <div class="card card-style bg-theme pb-0">
                  <div class="content mb-0">
                    Order#<%= h['invoice']['id'][3..h['invoice']['id'].length].truncate(9, omission: '') %>
                    <div class="row mb-0">
                        <div class="col-3 icon icon-xl">
                            <i class="fa fa-exclamation bg-fade-yellow1-dark rounded-xl color-yellow2-dark" width='80'></i>
                        </div>
                        <div class="col-9 pl-4">
                            <div class="d-flex">
                              <div><p class="font-700 color-theme">Date</p></div>
                              <div class="ml-auto">
                                <p>
                                 <%= startDateX.to_datetime.strftime("%A, %B %d, %Y") %>
                                  
                                </p>
                              </div>
                            </div>
                            <div class="d-flex">
                                <div><p class="font-700 color-theme">Time</p></div>
                                <div class="ml-auto">
                                  <p>
                                    <%= startDateX.to_datetime.strftime("%I:%M %p") %>
                                  </p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div><p class="font-700 color-theme">Email</p></div>
                                <div class="ml-auto"><p><%= link_to "Email Customer", "mailto:#{h['customerStripeInfo']['email']}"  %></p></div>
                            </div>
                            <div class="d-flex">
                                <div><p class="font-700 color-theme">Phone</p></div>
                                <div class="ml-auto"><p><%= link_to "Call Customer", "tel:#{h['customerStripeInfo']['phone']}"  %></p></div>
                            </div>
                            <div class="d-flex">
                                <div><p class="font-700 color-theme">Customer</p></div>
                                <div class="ml-auto"><p><%= h['customerStripeInfo']['name'] %></p></div>
                            </div>

                            <%= form_for :acceptBooking, url: acceptBooking_path do |f| %>
                              <div class="d-flex mt-4">
                                <div class="input-style input-style-2 mt-2 col-12">
                                <%= f.number_field :duration, placeholder: 'Duration in minutes', required: true %>
                                </div>
                                <%= f.hidden_field :resource_id, value: current_user&.timeKitID  %>
                                <%= f.hidden_field :serviceToAccept, value: itm['invoiceLine']['invoice_item'] %>
                                <%= f.hidden_field :start, value: startDateX %>
                                <%= f.hidden_field :what, value: "#{itm['product']['name']}: #{itm['product']['description']}" %>
                                <%= f.hidden_field :where, value: current_user&.address %>
                                <%= f.hidden_field :description, value: itm['price']['metadata']['description'] %>
                                <%= f.hidden_field :customerName, value: h['customerStripeInfo']['name'] %>
                                <%= f.hidden_field :customerEmail, value: h['customerStripeInfo']['email'] %>
                                <%= f.hidden_field :customerPhone, value: h['customerStripeInfo']['phone'] %>
                                <%= f.hidden_field :merchantStripeID, value: h['merchantStripeID'] %>
                              </div>
                              <div class="d-flex mt-4">
                                <div class="input-style input-style-2 mb-4 col-12">
                                  <%= f.submit "Accept Booking", class: "btn btn-full bg-green1-dark col-12 text-uppercase rounded-sm font-900"%>
                                </div>
                              </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="divider mt-3 mb-3"></div>
                    <div class="row mb-2">
                      <div class="col-6"><h3 class="text-left"><%= itm['product']['name'] %></h3></div>
                    </div>



                    <%= form_for :requestBooking, id: "#{h['customerStripeInfo']['name']}#{h['invoice']['id']}", url: requestBooking_path do |f| %>
                      <div class="row">
                        <div class="input-style input-style-2 mt-2 col-6">
                          Date
                          <%= f.date_select(:dateRequested, :default => { day: DateTime.now.strftime("%d") , year: DateTime.now.strftime("%Y"), month: DateTime.now.strftime("%m") }) %>

                        </div>
                        <div class="input-style input-style-2 mt-2 col-6">
                          Time
                          <%= f.time_select(:my_time, start_hour: 8, end_hour: 20,minute_step: 15, ampm: true) %>
                        </div>
                      </div>

                      <%= f.hidden_field :invoice, value: h['invoice']['id'] %>
                      <%= f.hidden_field :merchantStripeID, value: h['merchantStripeID'] %>
                      <%= f.hidden_field :serviceToBook, value: itm['invoiceLine']['invoice_item'] %>
                      <%= f.submit "Change Date", class: "col-md-12 btn btn-m mt-2 mb-4 btn-full bg-yellow1-dark text-uppercase font-900" %>
                    <% end %>



                  </div>
                </div>
              <% end %>
            <% end %>
          
          <% else %>
            <%= link_to "Setup Business Address", '/profile', class: 'btn btn-full bg-yellow2-dark btn-m text-uppercase font-800 rounded-sm' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>



    <div class="content mb-0 text-center">
      <h5>No services scheduled</h5>
    </div>
  <% end %>

<% end %>



<% if !current_user %>
  <div class="page-content header-clear-medium">

        <div class="card card-style">
            
            <div class="d-flex content mb-1">
                <!-- left side of profile -->
                <div class="flex-grow-1">
                    <h1 class="font-700">Book Now</h1>
                    <p class="mb-2">
                      All of your scheduled appointments will be posted here. Cancel an appointment anytime for free!
                    </p>
                </div>
                <!-- right side of profile. increase image width to increase column size-->
            </div>
            <!-- follow buttons-->
            <div class="content mb-0">
                <div class="row mb-0">
                    <div class="col-6">
                        <a href="<%= new_user_registration_path %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 bg-green1-dark">Create Account</a>
                    </div>
                    <div class="col-6">
                        <a href="<%= new_user_session_path %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 color-theme border-green1-dark">Login</a>
                    </div>
                </div>
            </div>
            
            <div class="divider mt-4 mb-0"></div>
        </div>
  </div>
<% end %>
