
<% if current_user.present? %>
  <div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Schedule</h3>
      <p>
          Schedule your purchased service, see the status of your pending service requests, and see all availale times by service providers! 
      </p>
      <ul class="gallery-filter-controls">
          <li class="gallery-filter-active gallery-filter-all" data-filter="all">All</li>
          <li data-filter="4">Requests</li>
          <li data-filter="3">Available</li>
          <li data-filter="2">Schedule</li>
          <li data-filter="1">Upcoming</li>
      </ul>
    </div>
  </div>
  <div class="card card-style">
    <div class="content mb-3">
        <div class="gallery gallery-filter">

          <% if @timeBought.present? %>
            <% @timeBought.each do |h| %>
              <a href="" data-lightbox="gallery-2" class="filtr-item" title="<%= h['title'] %>" data-category="2" >
                <div class="align-self-center">
                    <h5 class=""><%= h['title'] %></h5>
                    <p class="font-600 opacity-40"><%= number_to_currency(h['amount'] * 0.01, precision: 2) %> per service</p>
                </div>
                <div class="align-self-center">
                    <p class="font-600 opacity-40">By: <%= h['sellerUsername'].titleize %></p>
                </div>
                <div class="align-self-center">
                    <span class="btn btn-sm col-md-12 rounded-sm bg-green1-dark text-uppercase font-800">REQUEST schedule</span>
                </div>
              </a>
            <% end %>
          <% end %>

          <% if @availableTimes.present? %>
            <% @availableTimes.each do |h| %>
              <a href="" data-lightbox="gallery-3" class="filtr-item" title="<%= h['title'] %>" data-category="3" >
              <div class="align-self-center">
                  <h5 class=""><%= h['startTime'].to_date.strftime("%B %d, %Y")%>
                  </h5>
                  <h5><%= h['startTime'].to_date.strftime("%H:%M")%></h5>
              </div>
              <div class="align-self-center">
                  <p class="font-600 opacity-40">By: <%= h['sellerUsername'].titleize %></p>
              </div>
              <div class="align-self-center">
                  <span class="btn btn-sm col-md-12 rounded-sm bg-blue1-dark text-uppercase font-800">Book Now</span>
              </div>
            </a>
            <% end %>
          <% end %>   
          <% if @bookingRequests.present? %>
            <% @bookingRequests.each do |h| %>
              <a href="" data-lightbox="gallery-4" class="filtr-item" title="<%= h['title'] %>" data-category="4" >
                <div class="align-self-center">
                    <h5 class=""><%= h['title'] %></h5>
                    <p class="font-600 opacity-40"><%= number_to_currency(h['amount'], precision: 2) %> per service</p>
                </div>
                <div class="align-self-center">
                    <p class="font-600 opacity-40">By: <%= h['sellerUsername'] %></p>
                </div>
                <div class="align-self-center">
                    <span class="btn btn-sm col-md-12 rounded-sm border-yellow1-dark text-uppercase font-800">pending</span>
                </div>
              </a>
            <% end %>
          <% end %>         
        </div>
    </div>
  </div>
<% else %>
<div class="page-content header-clear-medium">
        
        <div class="card card-style">
            
            <div class="d-flex content mb-1">
                <!-- left side of profile -->
                <div class="flex-grow-1">
                    <h1 class="font-700">Book Now</h1>
                    <p class="mb-2">
                    	All of your scheduled appointments will be posted here. Cancel an appointment anytime for free!
                    </p>
                </div>
                <!-- right side of profile. increase image width to increase column size-->
            </div>
            <!-- follow buttons-->
            <div class="content mb-0">
                <div class="row mb-0">
                    <div class="col-6">
                        <a href="<%= new_user_registration_path %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 bg-green1-dark">Create Account</a>
                    </div>
                    <div class="col-6">
                        <a href="<%= new_user_session_path %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 color-theme border-green1-dark">Login</a>
                    </div>
                </div>
            </div>
            
            <div class="divider mt-4 mb-0"></div>
        </div>
    </div>
<% end %>