
<% if current_user.present? %>
  <div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Schedule</h3>
      <p>
          Schedule your purchased service, see the status of your pending service requests, and see all available times by service providers! 
      </p>
    </div>
  </div>

  <div class="card card-style bg-theme pb-0">
    <div class="content">
        <div class="tab-controls tabs-round tab-animated tabs-medium tabs-rounded shadow-xl" 
             data-tab-items="1" 
             data-tab-active="bg-green1-dark color-white">

            <a href="#" data-tab-active data-tab="tab-3"><i class="fa fa-clock"></i> Available Now</a>
            <a href="#" data-tab="tab-1"><i class="fa fa-calendar-check"></i> Upcoming</a>
            <a href="#" data-tab="tab-4"><i class="fa fa-briefcase"></i> Book Now</a>
            <a href="#" data-tab="tab-2"><i class="fa fa-sync"></i> Pending</a>
        </div>
        <div class="clearfix mb-3"></div>
        
        <div class="tab-content" id="tab-2">
          <div class="card card-style">
            <% if @bookingRequests.count > 0 %>
              <% @bookingRequests.each do |h| %>
                <div class="content mb-3">
                    <div class="">
                          <div class="align-self-center">
                              <h5 class=""><%= h['title']%>
                                <p class="font-600 opacity-40"><%= h['startTime']%> - <%= h['endTime']%></p>
                              </h5>
                          </div>
                          <div class="align-self-center">
                          </div>
                          <div class="align-self-center">
                              <p class="font-600 opacity-40">By: <%= h['sellerUsername'].titleize %></p>
                          </div>
                          <div class="align-self-center">
                              <span class="btn btn-sm col-md-12 rounded-sm border-yellow1-dark text-uppercase font-800">Pending</span>
                          </div>
                          <br>
                          <div class="align-self-center">
                              <span class="btn btn-sm col-md-12 rounded-sm bg-red1-dark text-uppercase font-800">Cancel</span>
                          </div>
                          <br>
                          <% if h['service?'] %>
                            <div class="align-self-center">
                              <a href="<%= service_path(id: h['uuid']) %>" class="btn btn-sm col-md-12 rounded-sm bg-yellow1-dark text-uppercase font-800">View Service</a>
                            </div>
                          <% end %>
                          <% if h['product?'] %>
                            <div class="align-self-center">
                              <a href="<%= service_path(id: h['uuid']) %>" class="btn btn-sm col-md-12 rounded-sm bg-yellow1-dark text-uppercase font-800">View Product</a>
                            </div>
                          <% end %>
                    </div>
                </div>
              <% end %>
            <% end %>           
          </div>
        </div>

        <div class="tab-content" id="tab-4">
          <div class="card card-style">
            <% if @timeBought.count > 0 %>
              <% @timeBought.each do |h| %>
                <div class="content mb-3">
                    <div class="">
                      <div class="align-self-center">
                          <h5 class=""><%= h['title'] %> (<%= h['remaining']%>)</h5>
                          <p class="font-600 opacity-40"><%= number_to_currency(h['amount'] * 0.01, precision: 2) %> per service</p>
                      </div>
                      <div class="align-self-center">
                          <p class="font-600 opacity-40">By: <%= h['sellerUsername'].titleize %></p>
                      </div>
                      <div class="align-self-center">
                        <a href="<%= new_book_it_path(timeBought: h) %>" class="btn btn-sm col-md-12 rounded-sm bg-green1-dark text-uppercase font-800">View Product</a>
                      </div>
                    </div>
                </div>
              <% end %>
            <% end %>           
          </div>
        </div>

        <div class="tab-content" id="tab-3">
          <div class="card card-style">
            <% if @availableTimes.count > 0 %>
              <% @availableTimes.each do |h| %>
                <div class="content mb-3">
                    <div class="">
                          <div class="align-self-center">
                              <h5 class=""><%= h['date'].to_date.strftime("%B %d, %Y")%>
                                <p class="font-600 opacity-40"><%= h['startTime']%> - <%= h['endTime']%></p>
                              </h5>
                          </div>
                          <div class="align-self-center">
                          </div>
                          <div class="align-self-center">
                              <p class="font-600 opacity-40">By: <%= h['sellerUsername'].titleize %></p>
                          </div>
                          <div class="align-self-center">
                              <a href="<%= new_book_it_path(timeBought: @timeBought, booking: h) %>" class="btn btn-sm col-md-12 rounded-sm bg-blue1-dark text-uppercase font-800">Book Now</a>
                          </div>
                    </div>
                </div>
              <% end %>
            <% end %>           
          </div>
        </div>
    </div>
  </div>
<% else %>
<div class="page-content header-clear-medium">
        
        <div class="card card-style">
            
            <div class="d-flex content mb-1">
                <!-- left side of profile -->
                <div class="flex-grow-1">
                    <h1 class="font-700">Book Now</h1>
                    <p class="mb-2">
                      All of your scheduled appointments will be posted here. Cancel an appointment anytime for free!
                    </p>
                </div>
                <!-- right side of profile. increase image width to increase column size-->
            </div>
            <!-- follow buttons-->
            <div class="content mb-0">
                <div class="row mb-0">
                    <div class="col-6">
                        <a href="<%= new_user_registration_path %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 bg-green1-dark">Create Account</a>
                    </div>
                    <div class="col-6">
                        <a href="<%= new_user_session_path %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 color-theme border-green1-dark">Login</a>
                    </div>
                </div>
            </div>
            
            <div class="divider mt-4 mb-0"></div>
        </div>
    </div>
<% end %>