<!-- Preferred order:

Customer: name, custID
“Title of job”
Date of service
Customer: name, custID?
Contact 
Contact 
Contact 
         Total $/charge
         Net $ (fee shown) -->
<% if current_user.present? %>
  <div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Schedule</h3>
      <p class='text-justify'>
          <% if !current_user&.manager? %>
            Schedule your purchased service, see the status of your pending service requests, and see all available times by service providers!
          <% end %>
          <% if current_user&.manager? %>
            As clients purchase your services the 'Pending' section will show you which clients have requested their service be complete. <br><br>

            After you have accepted the date and time to complete a service, it will be show in the 'Upcoming' section
          <% end %>
      </p>
    </div>
  </div>

<!--  

  <% @payments.map{|p,d| p['items']}.flatten.each do |itm| %>
    <% if !itm['invoice']['metadata']['claimed'].blank? && (itm['invoice']['quantity'] > itm['invoice']['metadata']['claimed'].to_i) %>
      <%= itm %>
    <% end %>
  <% end %>
-->

<% if @payments.present? %>
  <% @payments.each do |h| %>
    <div class="card card-style">
      <div class="content mb-0">
          
          <!-- <div class="menu-title"><h1>Payment Sent</h1><p class="color-highlight">Transaction Details for Payment</p></div>
          <div class="divider divider-margins mb-1 mt-3"></div> -->
          <div class="row mb-0">
              <div class="col-3 icon icon-xl">
                  <i class="fa fa-check bg-fade-green2-dark rounded-xl color-green2-dark" width='80'></i>
              </div>
              <div class="col-9 pl-4">
                  <div class="d-flex">
                      <div><p class="font-700 color-theme">Seller</p></div>
                      <div class="ml-auto"><p><%= h['sellerName'] %></p></div>
                  </div>
                  <div class="d-flex">
                      <div><p class="font-700 color-theme">Customer</p></div>
                      <div class="ml-auto"><p><%= h['customer'] %></p></div>
                  </div>
                  <div class="d-flex">
                      <div><p class="font-700 color-theme">Date</p></div>
                      <div class="ml-auto"><p><%= h['date'] %></p></div>
                  </div>
              </div>
          </div>
          <div class="divider mt-3 mb-3"></div>
          <div class="row mb-0">
          
              <div class="col-6"><h4 class="font-14 text-left"><u>Item</u></h4></div>
              <div class="col-3">&nbsp;</div>
              <div class="col-3"><h4 class="font-14 text-left"><u>Available</u></h4></div>
          </div>
          <% h['items'].each do |itm| %>
            <% if !itm['invoice']['metadata']['claimed'].blank? && (itm['invoice']['quantity'] > itm['invoice']['metadata']['claimed'].to_i) %>
              
              <div class="row mb-2">
                <div class="col-6"><h4 class="font-14 text-left"><%= itm['product']['name'] %></h4></div>
                <div class="col-3">&nbsp;</div>
                <div class="col-3"><h4 class="font-14 text-center"><%= itm['invoice']['quantity'].to_i - itm['invoice']['metadata']['claimed'].to_i %></h4></div>
                <!-- <div class="col-2"><h4 class="font-14 text-right">Claimed: <%= itm['invoice']['metadata']['claimed'] %></h4></div> -->
              </div>
            <% end %>
          <% end %>
          <a href="#" class="close-menu btn btn-full btn-m bg-yellow1-dark rounded-sm text-uppercase font-800">Schedule</a>
          <% if current_user&.manager? %>
            <div class="row mb-0">
              <div class="divider divider-margins w-100 mt-2 mb-2"></div>
              <div class="divider divider-margins w-100 mt-2 mb-2"></div>
              <div class="col-6"><h4 class="font-14 mt-1">Grand Total</h4></div>
              <div class="col-6"><h4 class="font-14 text-right mt-1"><%= number_to_currency( h['subTotal']  * 0.01, precision: 2) %></h4></div>

            </div>

          <% else %>
            <div class="row mb-0">
              <div class="divider divider-margins w-100 mt-2 mb-2"></div>
              <div class="divider divider-margins w-100 mt-2 mb-2"></div>
              <div class="col-6"><h4 class="font-14 mt-1">Fee &nbsp;<i class="fa fa-exclamation-circle font-14 mt-1 color-yellow2-dark scale-icon mr-2" data-toggle="tooltip" data-placement="right" title="" data-original-title="Miser Brands service fee includes processing fees"></i></h4></div>
              <div class="col-6"><h4 class="font-14 text-right mt-1"><%= number_to_currency( h['fee']  * 0.01, precision: 2) %></h4></div>
              <div class="col-6"><h4 class="font-14 mt-1">Sub Total</h4></div>
              <div class="col-6"><h4 class="font-14 text-right mt-1"><%= number_to_currency( h['subTotal']  * 0.01, precision: 2) %></h4></div>

              <div class="col-6"><h4 class="font-14 mt-1">Grand Total</h4></div>
              <div class="col-6"><h4 class="font-14 text-right mt-1"><%= number_to_currency(h['grandTotal']  * 0.01, precision: 2) %></h4></div>
      
              <div class="divider divider-margins w-100 mt-2 mb-3"></div>
              <!-- <div class="col-12"><a href="#" class="close-menu btn btn-full btn-m bg-red2-dark rounded-sm text-uppercase font-800">Refund</a></div> -->
            </div>
          <% end %>
      </div>
      
    </div>
  <% end %>
<% end %>




























<% else %>
<div class="page-content header-clear-medium">
        
        <div class="card card-style">
            
            <div class="d-flex content mb-1">
                <!-- left side of profile -->
                <div class="flex-grow-1">
                    <h1 class="font-700">Book Now</h1>
                    <p class="mb-2">
                      All of your scheduled appointments will be posted here. Cancel an appointment anytime for free!
                    </p>
                </div>
                <!-- right side of profile. increase image width to increase column size-->
            </div>
            <!-- follow buttons-->
            <div class="content mb-0">
                <div class="row mb-0">
                    <div class="col-6">
                        <a href="<%= new_user_registration_path %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 bg-green1-dark">Create Account</a>
                    </div>
                    <div class="col-6">
                        <a href="<%= new_user_session_path %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 color-theme border-green1-dark">Login</a>
                    </div>
                </div>
            </div>
            
            <div class="divider mt-4 mb-0"></div>
        </div>
    </div>
<% end %>
