<% if current_user&.manager? %>
  <div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Schedule Services</h3>
      <p class='text-justify'>
        After you have accepted the date and time to complete a service, it will be removed from the list below.
      </p>
    </div>
  </div>
  <div class="card card-style">
    <% if @customerCharges&.present? %>
      <% @customerCharges.each do |customerCharge| %>
        <% if customerCharge['invoice']['metadata'] && customerCharge['invoice']['metadata']['confirmed'].blank? && customerCharge['invoice']['metadata']['goodOrService'] == 'service' %>
          <% customerCharge['lineItems'].each do |lit| %>
            <div class="content mb-0">
              <div class="d-flex">    
                <span class="bg-red1-dark rounded-xs text-uppercase font-900 font-9 pr-2 pl-2 pb-0 pt-0 line-height-s mt-n1">Contact Customer</span>
              </div>
              <% randoUser = Stripe::Customer.retrieve(customerCharge['invoice']['customer'], {stripe_account: current_user&.stripeMerchantID}) %>

              <%= link_to randoUser['email'], "mailto:#{randoUser['email']}" %>
              <a href="#" data-menu="menu-transaction-1" class="d-flex">
                <div class="align-self-center ms-auto text-end">
                  <h2 class="font-18"><%= lit['quantity'] %>x <%= lit['description'] %></h2>
                </div>
              </a>
              <%= form_for :scheduleService, url: schedule_index_path(id: customerCharge['invoice']['id']) do |f| %>
                <div class="input-style has-borders no-icon mb-4">
                    
                    <label for="session<%= customerCharge['invoice']['id'] %>" class="color-highlight">Confirm &amp; schedule service with the customer</label>
                    <i class="fa fa-check disabled valid me-4 pe-3 font-12 color-green-dark"></i>
                    <i class="fa fa-check disabled invalid me-4 pe-3 font-12 color-red-dark"></i>
                </div>

                <div class="input-style has-borders no-icon mb-4">
                  <%= f.hidden_field :sessionOrInvoiceID, value: customerCharge['invoice']['id'] %>
                </div>
                <div class="input-style has-borders no-icon mb-4">
                  <%= f.submit "Service Confirmed", class: "btn bg-green1-dark text-uppercase rounded-sm font-900" %>
                </div>
              <% end %>
            </div>
            <div class="divider mt-2 mb-3"></div> 
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if @anonCharges&.present? %>
      <% @anonCharges.each do |charge| %>
        <% if charge['lineItems'].map{|lit| Stripe::Product.retrieve(lit['price']['product'], {stripe_account: current_user&.stripeMerchantID})['type'] == 'service' }.flatten.include?(true) %>
          <% paymentMeta = Stripe::PaymentIntent.retrieve(charge['stripeSession']['payment_intent'], {stripe_account: current_user&.stripeMerchantID}) %>
            <!-- <%= charge['stripeSession']['id'] %> -->
          <% if paymentMeta['metadata']['confirmed'].blank? %>
            <div class="content mb-0">
              <div class="d-flex">    
                <span class="bg-red1-dark rounded-xs text-uppercase font-900 font-9 pr-2 pl-2 pb-0 pt-0 line-height-s mt-n1">Contact Customer</span>
              </div>

              <%= link_to charge['stripeSession']['customer_details']['email'], "#{charge['stripeSession']['customer_details']['email']}" %>

              <% charge['lineItems'].each do |item| %>
                <!-- <%= item['id'] %> -->
                <a href="#" data-menu="menu-transaction-1" class="d-flex">
                    <h2 class="font-18"><%= item['description'] %></h2><br>
                </a>
                <!-- <div class="pull-right">
                  <h2 class="font-18 color-green2-dark"><%= number_to_currency(item['amount_total']*0.01, precision: 2) %></h2>
                </div> -->
              <% end %>

              <%= form_for :scheduleService, url: schedule_index_path(id: charge['stripeSession']['id']) do |f| %>
                <div class="input-style has-borders no-icon mb-4">
                    
                    <label for="session<%= charge['stripeSession']['id'] %>" class="color-highlight">Confirm &amp; schedule service with the customer</label>
                    <i class="fa fa-check disabled valid me-4 pe-3 font-12 color-green-dark"></i>
                    <i class="fa fa-check disabled invalid me-4 pe-3 font-12 color-red-dark"></i>
                </div>

                <div class="input-style has-borders no-icon mb-4">
                  <%= f.hidden_field :sessionOrInvoiceID, value: charge['stripeSession']['id'] %>
                </div>
                <div class="input-style has-borders no-icon mb-4">
                  <%= f.submit "Service Confirmed", class: "btn bg-green1-dark text-uppercase rounded-sm font-900" %>
                </div>
              <% end %>
            </div>
            <div class="divider mt-2 mb-3"></div> 
          <% end %>
        <% end %>


      <% end %>
    <% end %>
    
  </div>
<% end %>