
<% 

basicMonthlyMemberships = ENV['basicMonthlyMembership'].split(",")
saverMonthlyMemberships = ENV['saverMonthlyMembership'].split(",")
eliteMonthlyMemberships = ENV['eliteMonthlyMembership'].split(",") %>

<% if current_user&.stripeCustomerID %>
  <% if !(Stripe::Subscription.list({customer: current_user&.stripeCustomerID})['data'].map{|s| s['plan']['id'][6..s['plan']['id'].length] }.flatten & basicMonthlyMemberships).blank?  %> 
    <% serviceFee = ENV['basicFee'] %>
  <% end %>

  <% if !(Stripe::Subscription.list({customer: current_user&.stripeCustomerID})['data'].map{|s| s['plan']['id'][6..s['plan']['id'].length] }.flatten & saverMonthlyMemberships).blank? %> 
    <% serviceFee = ENV['saverFee'] %>
  <% end %>

  <% if !(Stripe::Subscription.list({customer: current_user&.stripeCustomerID})['data'].map{|s| s['plan']['id'][6..s['plan']['id'].length] }.flatten & eliteMonthlyMemberships).blank? %> 
    <% serviceFee = ENV['eliteFee'] %>
  <% end %>
<% end %>

<div class="page-content">
                
  <div class="card card-style">
      <div class="content">
      	<% if current_user&.member? %>
        
          <div class="d-flex">
            <div class="align-self-center pr-3">
                <i class="fa fa-check-circle color-green1-dark fa-5x"></i>
            </div>
            <div class="align-self-center">
                <h4>Valid Membership</h4>
                <h2><small>Renews <%= Time.at(@subsc['current_period_end']).strftime("%a %b #{Time.at(@subsc['current_period_end']).day.ordinalize}, %Y") %></small></h2>
                <p class="line-height-s">Members save on every transaction fee! This helps keep us in business.</p>
            </div>
          </div>
          <%= 
           %>
        <% else %>
          <div class="d-flex mb-4">
            <div class="align-self-center pr-3">
              <i class="fa fa-times-circle color-red1-dark fa-2x"></i>
            </div>
            <div class="align-self-center">
              <h4>You Have No Membership</h4>
              <p class="line-height-s">Members save on every transaction fee! This helps keep us in business.</p>
            </div>
          </div>
          <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
          <div class="d-flex mb-4">
            <div class="align-self-center pr-3">
              <i class="fa fa-percent color-red1-dark fa-2x"></i>
            </div>
            <div class="align-self-center">
              <h4>35% Standard Fee</h4>
              <p class="line-height-s">Your monthly membership reduces the standard transaction fee to as low as 10%!</p>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  
  	
  <% if current_user&.member? %>
  	<div class="card card-style">
      <div class="content">
        <div class="row mb-0">
          <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
          <div class="col-7">
              <h5 class="font-600 opacity-80">Non Member Fee</h5>
          </div>
          <div class="col-5">
              <h5>35%</h5>
          </div>
          <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
          <div class="col-7">
              <h5 class="font-600 opacity-80">Member Fee</h5>
          </div>
          <div class="col-5">
              <h5><%= serviceFee %>%</h5>
          </div>
          <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
          <div class="col-7">
              <h5 class="font-600 opacity-80">Monthly Price</h5>
          </div>
          <div class="col-5">
              <h5><%= number_to_currency((@price['unit_amount'] * 0.01), precision: 2) %></h5>
          </div>
        </div>
      </div>
	  </div>

    <% Stripe::Subscription.list(customer: current_user&.stripeCustomerID)['data'].map{|s| s['items']}.flatten.map{|d| d['data']}.flatten.each do |s| %>
      <div class="card card-style">
        <div class="content">
          <p class="font-600 font-11"><%= Stripe::Product.retrieve(s['plan']['product'])['name'] %></p>
          <div class="row mt-6">
              <div class="col-3 icon icon-xl">
                  <i class="fa fa-check bg-fade-green2-dark rounded-xl color-green2-dark" width='80'></i>
              </div>
              <div class="col-9 pl-4">
                  <div class="d-flex">
                      <div><p class="font-700 color-theme">Starts</p></div>
                      <div class="ml-auto"><p><%= Time.at(Stripe::Subscription.retrieve(s['subscription'])['current_period_start']).strftime("%b #{Time.at(Stripe::Subscription.retrieve(s['subscription'])['current_period_start']).day.ordinalize} %Y") %></p></div>


                  </div>
                  <div class="d-flex">
                      <div><p class="font-700 color-theme">Ends</p></div>
                      <div class="ml-auto"><p><%= Time.at(Stripe::Subscription.retrieve(s['subscription'])['current_period_end']).strftime("%b #{Time.at(Stripe::Subscription.retrieve(s['subscription'])['current_period_end']).day.ordinalize} %Y") %></p></div>
                  </div>
              </div>
          </div>
          <div class="divider mt-3 mb-3"></div>
          <%= form_for :cancel, url: cancel_path do |f| %>
            <%= f.hidden_field :subscription, value: s['subscription'] %>
            <%= f.submit "Cancel", class: 'btn btn-full bg-red1-dark text-uppercase font-800 rounded-sm  col-4' %>
          <% end %>
        </div>
      </div>
    <% end %>
	<% end %>

  <div class="card card-style">
      <div class="content">
          <h3 class="mb-0">Basic Plan <small>monthly</small></h3>
          <!-- <p>
              Basic Plan member holders save 5% on every transaction.
          </p> -->
          <div class="row mb-0">
            <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
            <div class="col-7">
                <h5 class="font-600 opacity-80">Non Member Fee</h5>
            </div>
            <div class="col-5 text-right">
                <h5>35%</h5>
            </div>
            <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
            <div class="col-7">
                <h5 class="font-600 opacity-80">Basic Transaction Fee</h5>
            </div>
            <div class="col-5 mb-4 text-right">
                <h5><%= ENV['basicFee'] %>%</h5>
            </div>
            <div class="col-12 offset-3 mb-4 ">
              <%= form_for :join, url: join_path do |f| %>
                <%= f.hidden_field :plan, value: @basicMonthlyMembership['id'] %>
                <%= f.hidden_field :serviceFee, value: ENV['basicFee'] %>
                <% if !current_user&.member? %>
                  <%= f.submit "#{number_to_currency(@basicMonthlyMembership['unit_amount'] * 0.01, precision: 2)} per Month", class: 'btn btn-full bg-green1-dark text-uppercase font-800 rounded-sm' %>
                <% else %>
                  <%= f.submit "#{number_to_currency(@basicMonthlyMembership['unit_amount'] * 0.01, precision: 2)} per Month", class: 'btn btn-full bg-green1-dark text-uppercase font-800 rounded-sm', disabled: true, readonly: true %>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>
  </div>
  <div class="card card-style">
      <div class="content">
          <h3 class="mb-0">Saver Plan <small>monthly</small></h3>
          <!-- <p>
              Saver Plan member holders save 10% on every transaction.
          </p> -->
          <div class="row mb-0">
            <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
            <div class="col-7">
                <h5 class="font-600 opacity-80">Non Member Fee</h5>
            </div>
            <div class="col-5 text-right">
                <h5>35%</h5>
            </div>
            <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
            <div class="col-7">
                <h5 class="font-600 opacity-80">Saver Transaction Fee</h5>
            </div>
            <div class="col-5 mb-4 text-right">
                <h5><%= ENV['saverFee'] %>%</h5>
            </div>

            <div class="col-12 offset-3 mb-4 ">
              <%= form_for :join, url: join_path do |f| %>
                <%= f.hidden_field :plan, value: @saverMonthlyMembership['id'] %>
                <%= f.hidden_field :serviceFee, value: ENV['saverFee'] %>
                <% if !current_user&.member? %>
                  <%= f.submit "#{number_to_currency(@saverMonthlyMembership['unit_amount'] * 0.01, precision: 2)} per Month", class: 'btn btn-full bg-green1-dark text-uppercase font-800 rounded-sm' %>
                <% else %>
                  <%= f.submit "#{number_to_currency(@saverMonthlyMembership['unit_amount'] * 0.01, precision: 2)} per Month", class: 'btn btn-full bg-green1-dark text-uppercase font-800 rounded-sm', disabled: true, readonly: true %>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>
  </div>
  <div class="card card-style">
      <div class="content">
          <h3 class="mb-0">Elite Plan <small>monthly</small></h3>
          <h4></h4>
          <!-- <p>
              Elite Plan member holders save 25% on every transaction.
          </p> -->
          <div class="row mb-0">
            
            <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
            <!-- <div class="col-7">
                <h5 class="font-600 opacity-80">Cost</h5>
            </div>
            <div class="col-5 text-right">
                <h5 class="color-green1-dark"><%= number_to_currency(@eliteMonthlyMembership['unit_amount'] * 0.01, precision: 2) %></h5>
            </div>
            
            <div class="divider w-100 mt-2 mb-2 divider-margins"></div> -->
            <div class="col-7">
                <h5 class="font-600 opacity-80">Non Member Fee</h5>
            </div>
            <div class="col-5 text-right">
                <h5>35%</h5>
            </div>
            <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
            <div class="col-7">
                <h5 class="font-600 opacity-80">Elite Transaction Fee</h5>
            </div>
            <div class="col-5 mb-4 text-right">
                <h5><%= ENV['eliteFee'] %>%</h5>
            </div>
            <div class="col-12 offset-3 mb-4 ">
              <%= form_for :join, url: join_path do |f| %>
                <%= f.hidden_field :plan, value: @eliteMonthlyMembership['id'] %>
                <%= f.hidden_field :serviceFee, value: ENV['eliteFee'] %>
                <% if !current_user&.member? %>
                  <%= f.submit "#{number_to_currency(@eliteMonthlyMembership['unit_amount'] * 0.01, precision: 2)} per Month", class: 'btn btn-full bg-green1-dark text-uppercase font-800 rounded-sm' %>
                <% else %>
                  <%= f.submit "#{number_to_currency(@eliteMonthlyMembership['unit_amount'] * 0.01, precision: 2)} per Month", class: 'btn btn-full bg-green1-dark text-uppercase font-800 rounded-sm', disabled: true, readonly: true %>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>
  </div>
  
  
</div>