<div class="page-content header-clear-medium">
                
  <div class="card card-style">
      <div class="content">
      	<% if current_user.member? %>
        
          <div class="d-flex">
              <div class="align-self-center pr-3">
                  <i class="fa fa-check-circle color-green1-dark fa-5x"></i>
              </div>
              <div class="align-self-center">
                  <h4>Valid Membership</h4>
                  <h2><small>Renews <%= Time.at(@subsc['current_period_end']).strftime("%a %b #{Time.at(@subsc['current_period_end']).day.ordinalize}, %Y") %></small></h2>
                  <p class="line-height-s">Members save on every transaction fee! This helps keep us in business.</p>
              </div>
          </div>
        <% else %>
          <div class="d-flex mb-4">
            <div class="align-self-center pr-3">
              <i class="fa fa-times-circle color-red1-dark fa-2x"></i>
            </div>
            <div class="align-self-center">
              <h4>You Have No Membership</h4>
              <p class="line-height-s">Members save on every transaction fee! This helps keep us in business.</p>
            </div>
          </div>
          <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
          <div class="d-flex mb-4">
            <div class="align-self-center pr-3">
              <i class="fa fa-percent color-red1-dark fa-2x"></i>
            </div>
            <div class="align-self-center">
              <h4>35% Standard Fee</h4>
              <p class="line-height-s">Your monthly membership reduces the standard transaction fee to as low as 10%!</p>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  
  	
  <% if current_user.member? %>
  	<div class="card card-style">
      <div class="content">
<!--         subc <%= @subsc %><br>
        prod <%= @prod %><br>
        price <%= @price %><br> -->
        <h3 class="mb-0"><%= @prod['name'] %></h3>
        <!-- <p>
            Basic Plan member holders save 5% on every transaction.
        </p> -->
        <div class="row mb-0">
          <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
          <div class="col-7">
              <h5 class="font-600 opacity-80">Non Member Fee</h5>
          </div>
          <div class="col-5">
              <h5>35%</h5>
          </div>
          <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
          <div class="col-7">
              <h5 class="font-600 opacity-80">Member Fee</h5>
          </div>
          <div class="col-5  mb-0">
              <h5><%= current_user.serviceFee %>%</h5>
          </div>
          <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
          <div class="col-7">
              <h5 class="font-600 opacity-80">Monthly Price</h5>
          </div>
          <div class="col-5">
              <h5><%= number_to_currency((@price['unit_amount'] * 0.01), precision: 2) %></h5>
          </div>
        </div>
      </div>
	  </div>
	<% else %>

	  <div class="card card-style">
	      <div class="content">
	          <h3 class="mb-0">Basic Plan <small>monthly</small></h3>
	          <!-- <p>
	              Basic Plan member holders save 5% on every transaction.
	          </p> -->
	          <div class="row mb-0">
	            <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
	            <div class="col-7">
	                <h5 class="font-600 opacity-80">Fee Savings</h5>
	            </div>
	            <div class="col-5">
	                <h5>5%</h5>
	            </div>
	            <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
	            <div class="col-7">
	                <h5 class="font-600 opacity-80">Basic Transaction Fee</h5>
	            </div>
	            <div class="col-5  mb-4">
	                <h5>30%</h5>
	            </div>
              <div class="col-12 offset-3 mb-4 ">
                <%= form_for :join, url: join_path do |f| %>
                  <%= f.hidden_field :plan, value: @basicMonthlyMembership['id'] %>
                  <%= f.submit "#{number_to_currency(@basicMonthlyMembership['unit_amount'] * 0.01, precision: 2)} per Month", class: 'btn btn-full bg-green1-dark text-uppercase font-800 rounded-sm' %>
                <% end %>
              </div>
	          </div>
	      </div>
	  </div>
	  <div class="card card-style">
	      <div class="content">
	          <h3 class="mb-0">Saver Plan <small>monthly</small></h3>
	          <!-- <p>
	              Saver Plan member holders save 10% on every transaction.
	          </p> -->
	          <div class="row mb-0">
	            <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
	            <div class="col-7">
	                <h5 class="font-600 opacity-80">Fee Savings</h5>
	            </div>
	            <div class="col-5">
	                <h5>10%</h5>
	            </div>
	            <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
	            <div class="col-7">
	                <h5 class="font-600 opacity-80">Saver Transaction Fee</h5>
	            </div>
	            <div class="col-5  mb-4">
	                <h5>25%</h5>
	            </div>

              <div class="col-12 offset-3 mb-4 ">
                <%= form_for :join, url: join_path do |f| %>
                  <%= f.hidden_field :plan, value: @saverMonthlyMembership['id'] %>
                  <%= f.submit "#{number_to_currency(@saverMonthlyMembership['unit_amount'] * 0.01, precision: 2)} per Month", class: 'btn btn-full bg-green1-dark text-uppercase font-800 rounded-sm' %>
                <% end %>
              </div>
	          </div>
	      </div>
	  </div>
	  <div class="card card-style">
	      <div class="content">
	          <h3 class="mb-0">Elite Plan <small>monthly</small></h3>
	          <h4></h4>
	          <!-- <p>
	              Elite Plan member holders save 25% on every transaction.
	          </p> -->
	          <div class="row mb-0">
	            
	            <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
	            <!-- <div class="col-7">
	                <h5 class="font-600 opacity-80">Cost</h5>
	            </div>
	            <div class="col-5">
	                <h5 class="color-green1-dark"><%= number_to_currency(@eliteMonthlyMembership['unit_amount'] * 0.01, precision: 2) %></h5>
	            </div>
	            
	            <div class="divider w-100 mt-2 mb-2 divider-margins"></div> -->
	            <div class="col-7">
	                <h5 class="font-600 opacity-80">Fee Savings</h5>
	            </div>
	            <div class="col-5">
	                <h5>25%</h5>
	            </div>
	            <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
	            <div class="col-7">
	                <h5 class="font-600 opacity-80">Elite Transaction Fee</h5>
	            </div>
	            <div class="col-5 mb-4">
	                <h5>10%</h5>
	            </div>
              <div class="col-12 offset-3 mb-4 ">
                <%= form_for :join, url: join_path do |f| %>
                  <%= f.hidden_field :plan, value: @eliteMonthlyMembership['id'] %>
                  <%= f.submit "#{number_to_currency(@eliteMonthlyMembership['unit_amount'] * 0.01, precision: 2)} per Month", class: 'btn btn-full bg-green1-dark text-uppercase font-800 rounded-sm' %>
                <% end %>
              </div>
	          </div>
	      </div>
	  </div>
  <% end %>
  
</div>