<% if current_user&.present? %>
  <div class="card card-style">
    <div class="d-flex content">
        <div class="flex-grow-1">
            <div>
                <h1 class="font-700 mb-1"><%= current_user&.username %></h1>
                <p class="mb-0 pb-1 pr-3">ID: <%= current_user&.uuid %></p>
                <p class="mb-0 pb-1 pr-3">
                    Payment details, account information, &amp; more
                </p>

            </div>
        </div>
        <div>
            <!-- <img src="images/empty.png" data-src="images/pictures/faces/4s.png" width="80" class="rounded-circle mt- shadow-xl preload-img"> -->
        </div>
    </div>
  </div>
  <div class="card card-style">
      <div class="content mt-0 mb-0">
          <div class="list-group list-custom-large list-icon-0">
              <a data-toggle-theme data-trigger-switch="switch-a" href="#">
                  <i class="fa font-14 fa-lightbulb rounded-s color-yellow1-dark"></i>
                  <span>Dark View</span>
                  <strong>Turn off the Lights</strong>
                  <div class="custom-control scale-switch ios-switch">
                      <input type="checkbox" class="ios-input" id="switch-a">
                      <label class="custom-control-label" for="switch-1"></label>
                  </div>
                  <i class="fa fa-chevron-right opacity-30"></i>
              </a>        
              <!-- <a data-trigger-switch="switch-b" href="#">
                  if user subscribed, opt for text/email message alerts
                  <i class="fa font-14 fa-envelope rounded-s color-blue2-dark"></i>
                  <span>Newsletter</span>
                  <strong>Get updates via Newsletter?</strong>
                  <div class="custom-control scale-switch ios-switch">
                      <input type="checkbox" class="ios-input" id="switch-b">
                      <label class="custom-control-label" for="switch-1"></label>
                  </div>
                  <i class="fa fa-chevron-right opacity-30"></i>
              </a>        
               -->     
          </div>
      </div>
  </div> 
  <% if current_user&.customer? %>
    <div class="card card-style text-center">
      <div class="content mb-0">
        <h2>Payment Information</h2>

          <% if current_user&.customer? && current_user.stripeCustomerID.blank? %>
            <!-- <h2>Payment Information</h2> -->
            <p class="mb-5">
                Your account is unable to purchase products &amp; services. If you would like to begin making purchases or setup your <%= link_to "Membership", membership_path %>, get started by clicking 'Proceed' below!
            </p>

            <%= form_for :newStripeCustomer, url: stripe_customers_path do |f| %>
              <%= f.submit "Proceed", class: "btn btn-full bg-yellow1-dark btn-m text-uppercase rounded-sm shadow-l col-12 mb-3 mt-4 font-900"%>

            <% end %>
          <% end %>
            

        <% if current_user&.customer? %>
            <div class="content row text-center">
              <% if current_user&.customer? && !current_user&.checkStripeSource && !current_user&.stripeCustomerID.blank? %>
                <a href="#" data-menu="menu-transaction-transfer" class="col-12">
                    <div class="card card-style ml-2 mb-3">
                        <i class="fa fa-credit-card color-highlight fa-2x mt-3"></i>
                        <h1 class="pt-2 font-18">Card</h1>
                        <p class="font-11 opacity-50 mt-n2 mb-3">Tap to add a card</p>
                    </div>
                </a>
              <% end %>
            </div>
            <% @sources&.each do |s| %>
              <% if s['object'] == 'card' %>
                <div style="align-items: center;" class="mb-4">
                  <% if s['brand'] == "Visa" %>
                    <%= image_tag "pay-1.png","width"=>"50", stlye: '' %>
                  <% elsif s['brand'] == "MasterCard" %>
                    <%= image_tag "pay-2.png","width"=>"50" %>
                  <% elsif s['brand'] == "American Express" %>
                    <%= image_tag "pay-5.png","width"=>"50" %>
                  <% end %>
                    <p class="mt-n1 mb-0 font-10">**** <%= s['last4'] %></p>
                </div>  
              <% end %>

              <% if s['object'] == 'bank_account' %>
                <div class="text-center card card-style">
                    <i class="fa fa-university color-highlight fa-2x mt-3"></i>
                    <h1 class="pt-2 font-18">****<%= s['last4'] %></h1>
                    <p class="font-11 opacity-50 mt-n2 mb-3"><%= s['routing_number'] %></p>
                </div>
              <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if !current_user&.stripeCustomerID.blank? || !current_user&.stripeMerchantID.blank? %>
    <div class="card card-style">
        <div class="content mb-0">
            <h4 class="text-center"><i class="input-icon fa fa-pencil"></i> &nbsp; &nbsp; Account Information</h4>
            <p class="mb-5 text-center">
                <% if current_user&.customer? %>
                  This information is so that service providers can contact you. Payment receipts will be sent to the email address below.
                <% end %>
            </p>
            <%= form_for :updateCustomer, url: stripe_customer_path(id: !current_user&.stripeCustomerID.blank? ? current_user&.stripeCustomerID : current_user&.stripeMerchantID), method: :put do |f| %>

              <div class="input-style input-style-2 has-icon input-required">
                  <i class="input-icon fa fa-user"></i>
                  <span class="color-highlight input-style-1-active">Name</span>
                  <em>(required)</em>
                  <%= f.text_field :name, placeholder: "Legal Name", class: "form-control", value: @name, required: true %>
              </div> 
              <div class="input-style input-style-2 has-icon input-required mt-4">
                  <i class="input-icon fa fa-at"></i>
                  <span class="color-highlight input-style-1-active">Email Address</span>
                  <em>(required)</em>
                  <%= f.email_field :email, value: @email, class: "form-control", required: true %>
              </div> 
              <div class="input-style input-style-2 has-icon input-required mt-4">
                  <i class="input-icon fa fa-phone"></i>
                  <span class="color-highlight input-style-1-active">Phone Number</span>
                  <em>(required)</em>
                  <%= f.text_field :phone, placeholder: "2628547895", class: "form-control", value: @phone, required: true %>
              </div>

              <h3 class="text-center"><i class="input-icon fa fa-home"></i> &nbsp; &nbsp; Address <%= current_user&.manager? ? "Business" : "Shipping" %></h3>
              <div class="input-style input-style-2 input-required mt-4">
                  <span class="color-highlight input-style-1-active">Street Address</span>
                  <em>(required)</em>
                  <%= f.text_field :street, placeholder: "333 W Washington", class: "form-control", required: true %>
              </div> 
              <!-- <div class="input-style input-style-2 has-icon input-required mt-4">
                  <i class="input-icon fa fa-home"></i>
                  <span class="color-highlight input-style-1-active">Suite or Apt</span>
                  <%= f.text_field :aptSuite, placeholder: "suite 1", class: "form-control" %>
              </div>  -->
              <div class="input-style input-style-2 input-required mt-4">
                  <span class="color-highlight input-style-1-active">City</span>
                  <em>(required)</em>
                  <%= f.text_field :city, placeholder: "Milwaukee", class: "form-control", required: true %>
              </div>
              <div class="input-style input-style-2 input-required mt-4">
                  <span class="color-highlight input-style-1-active">State</span>
                  <em>(required)</em>
                  <%= f.text_field :state, placeholder: "California", class: "form-control", required: true %>
              </div>
              <div class="input-style input-style-2 input-required mt-4">
                  <span class="color-highlight input-style-1-active">Country</span>
                  <em>(required)</em>
                  <%= f.text_field :country, class: "form-control", value: "USA", disabled: true, readonly: true, required: true %>
              </div>

              <div class="col-12">
                <div class="input-style input-style-2">
                  <%= f.submit "Save Information", class: "btn bg-green1-dark text-uppercase rounded-sm font-900"%>
                </div>
              </div>
            <% end %>
        </div>
    </div>   
  <% end %>      
      
<% else %>
	<div class="page-content ">
        <a href="<%= new_user_registration_url %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 bg-green1-dark">CREATE ACCOUNT</a>
        <a href="<%= new_user_session_path %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 color-theme border-green1-dark">LOGIN</a>
        <div class="cover-slider owl-carousel">
            <div data-card-height="cover" class="card text-center pb-5">
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">Hello. I'm Sticky</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">An absolutely amazing Mobile Website</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        I'm Sticky Footer Menu that everyone requested, packed with tons of awesome features.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-0" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>
        </div>

        
  </div>
  
  <div class="cover-button-bottom">
  </div>
<% end %>
