<% if current_user.present? %>
  <div class="card card-style">
    <div class="d-flex content">
        <div class="flex-grow-1">
            <div>
                <h1 class="font-700 mb-1"><%= current_user.username %></h1>
                <p class="mb-0 pb-1 pr-3">ID: <%= current_user.uuid %></p>
                <p class="mb-0 pb-1 pr-3">
                    Payment details, account information, &amp; more
                </p>
                <a href="<%= destroy_user_session_path %>" class="btn btn-full border-red2-dark btn-m text-uppercase rounded-sm shadow-l mb-3 mt-4 font-900">logout</a>
            </div>
        </div>
        <div>
            <!-- <img src="images/empty.png" data-src="images/pictures/faces/4s.png" width="80" class="rounded-circle mt- shadow-xl preload-img"> -->
        </div>
    </div>
  </div>
  <div class="card card-style">
      <div class="content mt-0 mb-0">
          <div class="list-group list-custom-large list-icon-0">
              <a data-toggle-theme data-trigger-switch="switch-a" href="#">
                  <i class="fa font-14 fa-lightbulb rounded-s color-yellow1-dark"></i>
                  <span>Dark View</span>
                  <strong>Turn off the Lights</strong>
                  <div class="custom-control scale-switch ios-switch">
                      <input type="checkbox" class="ios-input" id="switch-a">
                      <label class="custom-control-label" for="switch-1"></label>
                  </div>
                  <i class="fa fa-chevron-right opacity-30"></i>
              </a>        
              <!-- <a data-trigger-switch="switch-b" href="#">
                  if user subscribed, opt for text/email message alerts
                  <i class="fa font-14 fa-envelope rounded-s color-blue2-dark"></i>
                  <span>Newsletter</span>
                  <strong>Get updates via Newsletter?</strong>
                  <div class="custom-control scale-switch ios-switch">
                      <input type="checkbox" class="ios-input" id="switch-b">
                      <label class="custom-control-label" for="switch-1"></label>
                  </div>
                  <i class="fa fa-chevron-right opacity-30"></i>
              </a>        
               -->     
          </div>
      </div>
  </div> 

  <div class="card card-style">
    <div class="content mb-0">
      <h2>Payment Information</h2>
      <% if current_user.stripeUserID.blank? %>

          <!-- <h2>Payment Information</h2> -->
          <p class="mb-5">
              Your account is unable to make purchases. If you would like to purchase services, get started by clicking 'Proceed' below!
          </p>

          <%= form_for :newStripeCustomer, url: stripe_customers_path do |f| %>
            <%= f.submit "Proceed", class: "btn btn-full bg-yellow1-dark btn-m text-uppercase rounded-sm shadow-l mb-3 mt-4 font-900"%>

          <% end %>
          
      <% end %>

      <% if !current_user.stripeUserID.blank? %>
        <% if current_user.stripeSourceVerified %>
          showing sources
          showing form to add new source
          button to delete source in one click
          <div class="card card-style">
            <div class="content">
              <% @sources.each do |s| %>
                <% if s['object'] == 'card' %>
                  <div style="align-items: center;" class=" card card-style ml-2 mb-3">
                    <% if s['brand'] == "Visa" %>
                      <%= image_tag "pay-1.png","width"=>"50", stlye: '' %>
                      <h5 class="mb-n2">Visa</h5>
                    <% elsif s['brand'] == "MasterCard" %>
                      <%= image_tag "pay-2.png","width"=>"50" %>
                      <h5 class="mb-n2">MasterCard</h5>
                    <% elsif s['brand'] == "American Express" %>
                      <%= image_tag "pay-5.png","width"=>"50" %>
                      <h5 class="mb-n2">American Express</h5>
                    <% end %>
                      <p class="mt-n1 mb-0 font-10">**** <%= s['last4'] %></p>
                  </div>  
                <% end %>

                <% if s['object'] == 'bank_account' %>
                  <div class="text-center card card-style ml-2 mb-3">
                      <i class="fa fa-university color-highlight fa-2x mt-3"></i>
                      <h1 class="pt-2 font-18"><%= s['last4'] %></h1>
                      <p class="font-11 opacity-50 mt-n2 mb-3"><%= s['routing_number'] %></p>
                  </div>
                <% end %>
                <div class="divider mt-2 mb-2"></div>
              <% end %>
            </div>
          </div>
          <h2 class='text-center'>New Payment Source</h2>
          <div class="row text-center mb-0 mt-n2">
              <a href="#" data-menu="menu-transaction-transfer" class="col-6 pr-0">
                  <div class="card card-style ml-2 mb-3">
                      <i class="fa fa-credit-card color-highlight fa-2x mt-3"></i>
                      <h1 class="pt-2 font-18">Card</h1>
                      <p class="font-11 opacity-50 mt-n2 mb-3">Tap to add another card</p>
                  </div>
              </a>
              <a href="#" data-menu="menu-transaction-request" class="col-6 pl-0">
                  <div class="card card-style ml-2 mb-3">
                      <i class="fa fa-university color-highlight fa-2x mt-3"></i>
                      <h1 class="pt-2 font-18">Bank</h1>
                      <p class="font-11 opacity-50 mt-n2 mb-3">Tap to Request Funds</p>
                  </div>
              </a>
          </div>
        <% else %>
            <p class="mb-5">
                This contains basic profile fields, easily editable, set to disable or pre-populate with useful information.
            </p>
            <%= form_for :newStripeToken, url: stripe_tokens_path do |f| %>
              <div class="input-style input-style-2 has-icon input-required">
                  <i class="input-icon fa fa-credit-card"></i>
                  <span class="color-highlight input-style-1-active">Card Number</span>
                  <em>(required)</em>
                  <%= f.number_field :number, class: 'form-control', required: true, placeholder: '1234 5678 9012 3456', minlength: 4, maxlength: 16 %>
              </div> 
              <div class="input-style input-style-2 has-icon input-required mt-4">
                  <i class="input-icon fa fa-calendar"></i>
                  <span class="color-highlight input-style-1-active">Expiration Month</span>
                  <em>(required)</em>
                  <%= f.number_field :exp_month, class: 'form-control', required: true, placeholder: '05' %>
              </div> 
              <div class="input-style input-style-2 has-icon input-required mt-4">
                  <i class="input-icon fa fa-calendar"></i>
                  <span class="color-highlight input-style-1-active">Expiration Year</span>
                  <em>(required)</em>
                  <%= f.number_field :exp_year, class: 'form-control', required: true, placeholder: '2023', minlength: 4 %>
              </div> 
              <div class="input-style input-style-2 has-icon input-required mt-4">
                  <i class="input-icon fa fa-lock"></i>
                  <span class="color-highlight input-style-1-active">CSC</span>
                  <em>(required)</em>
                  <%= f.number_field :cvc, class: 'form-control', required: true, placeholder: '123' %>
              </div> 
              <%= f.submit "Add Card", class: "btn btn-full bg-green1-dark btn-m text-uppercase rounded-sm shadow-l mb-3 mt-4 font-900"%>

            <% end %>
            
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card card-style">
      <div class="content mb-0">
          <h2 class="text-center">Account Information</h2>
          <p class="mb-5 text-center">
              This contains basic profile fields, easily editable, set to disable or pre-populate with useful information.
          </p>
          <div class="input-style input-style-2 has-icon input-required">
              <i class="input-icon fa fa-user"></i>
              <span class="color-highlight input-style-1-active">Name</span>
              <em>(required)</em>
              <input type="name" class="form-control" value="Jackson Doe">
          </div> 
          <div class="input-style input-style-2 has-icon input-required mt-4">
              <i class="input-icon fa fa-at"></i>
              <span class="color-highlight input-style-1-active">Email Address</span>
              <em>(required)</em>
              <input type="email" class="form-control" value="jack.doe@domain.com">
          </div> 
          <div class="input-style input-style-2 has-icon input-required mt-4">
              <i class="input-icon fa fa-map-marker"></i>
              <span class="color-highlight input-style-1-active">Location</span>
              <em>(required)</em>
              <input type="text" class="form-control" value="Melbourne, Australia">
          </div> 
          <div class="input-style input-style-2 has-icon input-required mt-4">
              <i class="input-icon fa fa-phone"></i>
              <span class="color-highlight input-style-1-active">Phone Number</span>
              <em>(required)</em>
              <input type="phone" class="form-control" value="+1 234 5678 9134">
          </div> 
          <a href="#" class="btn btn-full bg-green1-dark btn-m text-uppercase rounded-sm shadow-l mb-3 mt-4 font-900">Save Basic Information</a>
      </div>
  </div>         
      
  <!-- <div class="card card-style">
      <div class="content mb-2">
          <h2>Social Profiles</h2>
          <p>
              Activate options or set different elements here that are different from basic fields.
          </p>
          <div class="list-group list-custom-small list-icon-0">      
              <a href="#">
                  <i class="fab font-14 fa-facebook-f rounded-s color-facebook"></i>
                  <span>Facebook</span>
                  <span class="badge text-uppercase bg-green1-dark">Connected</span>
                  <i class="fa fa-chevron-right disabled"></i>
              </a>        
              <a href="#">
                  <i class="fab font-14 fa-twitter rounded-s color-twitter"></i>
                  <span>Twitter</span>
                  <span class="badge text-uppercase bg-green1-dark">Connected</span>
                  <i class="fa fa-chevron-right disabled"></i>
              </a>        
              <a href="#">
                  <i class="fab font-14 fa-instagram rounded-s color-instagram"></i>
                  <span>Instagram</span>
                  <span class="badge text-uppercase bg-red2-dark">ACCOUNT ERROR</span>
                  <i class="fa fa-chevron-right disabled"></i>
              </a>        
              <a class="border-0" href="#">
                  <i class="fab font-14 fa-linkedin-in rounded-s color-linkedin"></i>
                  <span>LinkedIn</span>
                  <span class="badge text-uppercase bg-yellow1-dark">PENDING APPROVAL</span>
                  <i class="fa fa-chevron-right disabled"></i>
              </a>        
          </div>
      </div>
  </div> -->
  
  <div class="card card-style">
      <div class="content mb-0">
          <h2 class="mb-0">Account Security</h2>
          <p class="mb-5">
              Activate options or set different elements here that are different from basic fields.
          </p>
          <div class="input-style input-style-2 input-required">
              <span class="color-highlight input-style-1-active">Password</span>
              <em>(required)</em>
              <input type="password" class="form-control"  placeholder="" value="password here">
          </div> 
          <div class="input-style input-style-2 input-required">
              <span class="color-highlight input-style-1-active">Confirm Password</span>
              <em>(required)</em>
              <input type="password" class="form-control"  placeholder="" value="password here">
          </div> 
          <a href="#" class="btn btn-full bg-green1-dark btn-m text-uppercase rounded-sm shadow-l mb-3 mt-4 font-900">Save Password</a>
      </div>
  </div> 
<% else %>
	<div class="page-content ">
        
        

        <div class="cover-slider owl-carousel">
            <div data-card-height="cover" class="card text-center pb-5">
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">Hello. I'm Sticky</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">An absolutely amazing Mobile Website</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        I'm Sticky Footer Menu that everyone requested, packed with tons of awesome features.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-18" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>
            <div data-card-height="cover" class="card text-center pb-5">
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">I'm Super Fast</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">Made to Rock your Mobile</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        Sticky Mobile is very fast, easy to use and looks absolutely amazing.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-20" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>        


            <div data-card-height="cover" class="card text-center pb-5">
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">Color Palettes</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">To find your perfect Style</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        StickyMobile allows you to easily change your background color or highlight color.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-21" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>      
            
            <div data-card-height="cover" class="card text-center pb-5">  
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">Dark Mode Ready</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">Turn off the Lights! Make it Darker</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        Dark mode integrated natively into the code, to make things easy for you to change.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-28" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>            
            
            <div data-card-height="cover" class="card text-center pb-5">
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">PWA Ready</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">Add me to your Home Screen</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        Dark mode integrated natively into the code, to make things easy for you to change.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-10" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>
        </div>

        <a href="<%= new_user_registration_url %>" class="btn btn-l bg-green1-dark col-md-12">CREATE ACCOUNT</a>
        <a href="<%= new_user_session_path %>" class="btn btn-full btn-l text-uppercase color-theme border-green1-dark">LOGIN</a>
  </div>
  
  <div class="cover-button-bottom">
  </div>
<% end %>
