<% if current_user&.present? %>
  <div class="card card-style">
    <div class="d-flex content">
        <div class="flex-grow-1">
            <div>
                <h1 class="font-700 mb-1"><%= current_user&.stripeCustomerID ? Stripe::Customer.retrieve(current_user&.stripeCustomerID)['name'] : nil %></h1>
                <p class="mb-0 pb-1 pr-3">ID: <%= current_user&.uuid %></p>
                <p class="mb-0 pb-1 pr-3">
                    Payment details, account information, &amp; more
                </p>
                <a href="<%= destroy_user_session_path %>"><span>Logout</span></a>

            </div>
        </div>
        <div>
            <!-- <img src="images/empty.png" data-src="images/pictures/faces/4s.png" width="80" class="rounded-circle mt- shadow-xl preload-img"> -->
        </div>
    </div>
  </div>
   
  <% if current_user&.customer? %>
    <div class="card card-style text-center">
      <div class="content mb-0">
        <h2>Payment Information</h2>

          <% if current_user&.customer? && current_user.stripeCustomerID.blank? %>
            <!-- <h2>Payment Information</h2> -->
            <p class="mb-5">
                Your account is unable to purchase products &amp; services. If you would like to begin making purchases or setup your <%= link_to "Membership", membership_path %>, get started by clicking 'Proceed' below!
            </p>

            <%= form_for :newStripeCustomer, url: stripe_customers_path do |f| %>
              <%= f.submit "Proceed", class: "btn btn-full bg-yellow1-dark btn-m text-uppercase rounded-sm shadow-l col-12 mb-3 mt-4 font-900"%>

            <% end %>
          <% end %>
            

        <% if !current_user&.stripeCustomerID.blank? %>
            <div class="content row text-center">
                <a href="#" data-menu="menu-transaction-transfer" class="col-12">
                    <div class="card card-style ml-2 mb-3">
                        <i class="fa fa-credit-card color-highlight fa-2x mt-3"></i>
                        <h1 class="pt-2 font-18">Card</h1>
                        <% if current_user&.checkStripeSource  %>
                          <p class="font-11 opacity-50 mt-n2 mb-3">Edit Card</p>
                        <% else %>
                          <p class="font-11 opacity-50 mt-n2 mb-3">Add Card</p>
                        <% end %>
                    </div>
                </a>
            </div>
            <% @sources&.each do |s| %>
              <div style="align-items: center;" class="mb-4">
                <% if s['brand'] == "Visa" %>
                  Visa
                <% elsif s['brand'] == "MasterCard" %>
                  MasterCard
                <% elsif s['brand'] == "American Express" %>
                  American Express
                <% end %>
                  <p class="mt-n1 mb-0 font-10">**** <%= s['last4'] %></p>
              </div>  

              <% if s['object'] == 'bank_account' %>
                <div class="text-center card card-style">
                    <i class="fa fa-university color-highlight fa-2x mt-3"></i>
                    <h1 class="pt-2 font-18">****<%= s['last4'] %></h1>
                    <p class="font-11 opacity-50 mt-n2 mb-3"><%= s['routing_number'] %></p>
                </div>
              <% end %>
            <% end %>
        <% end %>


      </div>
    </div>
  <% end %>

  <!-- marketplace managers/authorized sellers -->
  <% if current_user&.manager? && !current_user&.subscriptionCheck %> 
    <div class="card card-style">
      <div class="content mb-0">
        <h4 class="text-center"><i class="input-icon fa fa-exclamation-triangle color-red2-light"></i> &nbsp; &nbsp; Account Pending</h4>

        <p class="mb-5 text-center">
          <%= ENV['siteName'] %> has partnered with TewCode for all its technology needs.<br>  A representative from TewCode will contact you at <%= number_to_phone(current_user&.phone) %> or <%= current_user&.email %> shortly to get your account setup. 
        </p>
        <p class="mb-5 text-center">Update your contact information below if necessary 
        </p>
        <%= form_for :updateCustomer, url: stripe_customer_path(id: current_user&.uuid), method: :put do |f| %>

          <div class="input-style input-style-2 has-icon input-required mt-4">
              <i class="input-icon fa fa-at"></i>
              <span class="color-highlight input-style-1-active">Email Address</span>
              <em>(required)</em>
              <%= f.email_field :email, value: current_user&.email ? current_user&.email : @email, class: "form-control", required: true %>
          </div> 
          <div class="input-style input-style-2 has-icon input-required mt-4">
              <i class="input-icon fa fa-phone"></i>
              <span class="color-highlight input-style-1-active">Phone Number</span>
              <em>(required)</em>
              <%= f.text_field :phone, placeholder: "2628547895", class: "form-control", value: current_user&.phone ? current_user&.phone : @phone, required: true %>
          </div>

          <h3 class="text-center"><i class="input-icon fa fa-home"></i> &nbsp; &nbsp; <%= current_user&.manager? ? "Business" : "Service" %> Address </h3>
          <div class="input-style input-style-2 input-required mt-4">
              <span class="color-highlight input-style-1-active">Street Address</span>
              <em>(required)</em>
              <%= f.text_field :street, placeholder: "333 W Washington", class: "form-control", required: true, value: current_user&.street %>
          </div> 
          <!-- <div class="input-style input-style-2 has-icon input-required mt-4">
              <i class="input-icon fa fa-home"></i>
              <span class="color-highlight input-style-1-active">Suite or Apt</span>
              <%= f.text_field :aptSuite, placeholder: "suite 1", class: "form-control" %>
          </div>  -->
          <div class="input-style input-style-2 input-required mt-4">
              <span class="color-highlight input-style-1-active">City</span>
              <em>(required)</em>
              <%= f.text_field :city, placeholder: "Milwaukee", class: "form-control", required: true, value: current_user&.city %>
          </div>
          <div class="input-style input-style-2 input-required mt-4">
              <span class="color-highlight input-style-1-active">State</span>
              <em>(required)</em>
              <%= f.text_field :state, placeholder: "California", class: "form-control", required: true, value: current_user&.state %>
          </div>
          <div class="input-style input-style-2 input-required mt-4">
              <span class="color-highlight input-style-1-active">Country</span>
              <em>(required)</em>
              <%= f.text_field :country, class: "form-control", value: "USA", disabled: true, readonly: true, required: true %>
          </div>

          <div class="col-12">
            <div class="input-style input-style-2">
              <%= f.submit "Save Information", class: "btn bg-green1-dark text-uppercase rounded-sm font-900"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- customers, owners, & managers that are verified in stripe with subscription if necessary -->
  <% if !current_user&.stripeCustomerID.blank? && current_user&.stripeMerchantID.blank? && current_user&.checkStripeSource %>
    <div class="card card-style">
        <div class="content mb-0">
            
            <%= form_for :updateCustomer, url: stripe_customer_path(id: current_user&.uuid), method: :put do |f| %>

              

              <h3 class="text-center"><i class="input-icon fa fa-home"></i> &nbsp; &nbsp; <%= current_user&.manager? ? "Business" : "Service" %> Information </h3>
              <div class="input-style input-style-2 has-icon input-required mt-4">
                  <i class="input-icon fa fa-at"></i>
                  <span class="color-highlight input-style-1-active">Email Address</span>
                  <em>(required)</em>
                  <%= f.email_field :email, value: current_user&.email ? current_user&.email : @email, class: "form-control", required: true %>
              </div> 
              <div class="input-style input-style-2 has-icon input-required mt-4">
                  <i class="input-icon fa fa-phone"></i>
                  <span class="color-highlight input-style-1-active">Phone Number</span>
                  <em>(required)</em>
                  <%= f.text_field :phone, placeholder: "2628547895", class: "form-control", value: current_user&.phone ? current_user&.phone : @phone, required: true %>
              </div>
              <div class="input-style input-style-2 input-required mt-4">
                  <span class="color-highlight input-style-1-active">Street Address</span>
                  <em>(required)</em>
                  <%= f.text_field :street, placeholder: "333 W Washington", class: "form-control", required: true, value: current_user&.street %>
              </div> 
              <!-- <div class="input-style input-style-2 has-icon input-required mt-4">
                  <i class="input-icon fa fa-home"></i>
                  <span class="color-highlight input-style-1-active">Suite or Apt</span>
                  <%= f.text_field :aptSuite, placeholder: "suite 1", class: "form-control" %>
              </div>  -->
              <div class="input-style input-style-2 input-required mt-4">
                  <span class="color-highlight input-style-1-active">City</span>
                  <em>(required)</em>
                  <%= f.text_field :city, placeholder: "Milwaukee", class: "form-control", required: true, value: current_user&.city %>
              </div>
              <div class="input-style input-style-2 input-required mt-4">
                  <span class="color-highlight input-style-1-active">State</span>
                  <em>(required)</em>
                  <%= f.text_field :state, placeholder: "California", class: "form-control", required: true, value: current_user&.state %>
              </div>
              <div class="input-style input-style-2 input-required mt-4">
                  <span class="color-highlight input-style-1-active">Country</span>
                  <em>(required)</em>
                  <%= f.text_field :country, class: "form-control", value: "USA", disabled: true, readonly: true, required: true %>
              </div>

              <div class="col-12">
                <div class="input-style input-style-2">
                  <%= f.submit "Save Information", class: "btn bg-green1-dark text-uppercase rounded-sm font-900"%>
                </div>
              </div>
            <% end %>
        </div>
    </div>   
  <% end %>     
      
<% else %>
  <div class="page-content ">
        <a href="<%= new_user_registration_url %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 bg-green1-dark">CREATE ACCOUNT</a>
        <a href="<%= new_user_session_path %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 color-theme border-green1-dark">LOGIN</a>
        <div class="cover-slider owl-carousel">
            <div data-card-height="cover" class="card text-center pb-5">
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">Hello. I'm Sticky</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">An absolutely amazing Mobile Website</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        I'm Sticky Footer Menu that everyone requested, packed with tons of awesome features.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-0" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>
        </div>

        
  </div>
  
  <div class="cover-button-bottom">
  </div>
<% end %>





