

        
  <div class="card card-style text-center">
      <div class="content">
          <h2 class="mb-8">
              Checkout
          </h2>
          <p>Your shopping cart before checking out.<br><em><strong>One Click Purchase</strong></em></p>
      </div>
  </div>
  <div class="card card-style">
      <div class="content">
				  <% @cart['carts'].map{|c,i| c['cart']}.each_with_index do |stored, indx| %>
				  	<% stored.each do |cart| %>
		          <div class="mb-4">
	              <div class="mr-3">
                  <h5 class="font-600"><%= cart['stripeProductInfo']['name'] %></h5>
                  <h1 class="pt-3 mb-4"><%= number_to_currency(cart['stripePriceInfo']['unit_amount'] * 0.01, precision: 2) %></h1>
                  <div class="row mb-0">
                    <div class="col-6">
                        <div class="input-style input-style-2">
                            <span class="input-style-1-active">Quantity</span>
                            <input type="number" min="1" max="999" style="border-width:1px;" placeholder="1" readonly="true" value="<%= cart['quantity'] %>">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-style input-style-2">
                            <span class="input-style-1-active">Cost</span>
                            <input placeholder="1" readonly="true" value="<%= number_to_currency(cart['subItemAmount'] * 0.01, precision: 2) %>">
                        </div>
                    </div>
                  </div>
                    <div class="col-12">
                        <div class="input-style input-style-2">
                          <%= link_to "Remove", cart_path(id:@cart['carts'][indx]['connectAccount'], item: cart['stripePriceInfo']['id']), class: 'btn btn-full bg-red2-dark btn-m text-uppercase font-800 rounded-sm', method: :delete %>
                        </div>
                    </div>
	              </div>
	              <!-- <div class="ml-auto">
	                  <img src="images/pictures/10s.jpg" class="rounded-m shadow-xl" width="130">
	              </div> -->
		          </div>
					  <% end %>
				  <% end %>
          
		          <div class="divider"></div>
          <div class="d-flex mb-3">
              <div class="mr-3">
                  <h5 class="font-600">Fee</h5>
              </div>
              <div class="ml-auto">
                  <h4>
	                  <%= number_to_currency(@cart['serviceFee'] * 0.01, precision: 2) %>
                  </h4>
              </div>
          </div>
          <div class="d-flex">
              <div class="mr-3">
                  <h5 class="font-600">Sub Total</h5>
              </div>
              <div class="ml-auto">
                  <h4>
                  	<%= number_to_currency(@cart['subItemsTotal'] * 0.01, precision: 2) %>
                  </h4>
              </div>
          </div>
          <div class="divider"></div>
          <div class="d-flex mb-3">
              <div class="mr-3">
                  <h4 class="font-20">Grand Total</h4>
              </div>
              <div class="ml-auto">
                  <h4 class="font-20">
                  	<%= number_to_currency(@cart['subTotal'] * 0.01, precision: 2) %>
                  </h4>
              </div>
          </div>
          <div class="divider"></div>
          <% if @cart['carts'].map{|c,i| c['cart']}.flatten.map{|c,i|c['quantity']}.sum != 0 %>
            <a href="#" class="btn btn-full bg-highlight btn-m text-uppercase font-800 rounded-sm">Charge Me</a>
          <% else %>
            <a href="/services" class="btn btn-full bg-blue2-dark btn-m text-uppercase font-800 rounded-sm">Continue Shopping</a>
          <% end %>
      </div>
  </div>
