
<div class="card card-style text-center">
    <div class="content">
        <h2 class="mb-8">
            Checkout
        </h2>
        <p>Your shopping cart before checking out.<br><em><strong>One Click Purchase</strong></em></p>
    </div>
</div>

<div class="search-page">

  <% @cart['carts'].map{|c,i| c['cart']}.each_with_index do |stored, indx| %>
    <div class="card card-style shadow-s">
      <% stored.each do |cart| %>
        <div class="content">
            <a href="carts/<%= @cart['carts'][indx]['connectAccount'] %>?item=<%= cart['stripePriceInfo']['id']%>" class="d-block float-right opacity-90"><i class="fa fa-times pr-2 color-red2-dark"></i></a>
          <%= form_for :addToCart, :html => {:id => cart['stripePriceInfo']['id']}, url: updateQuantity_path(id: @cart['carts'][indx]['connectAccount']) do |f| %>
            <%= f.hidden_field :sellerItem, value: cart['stripePriceInfo']['id'] %>

            <div class="d-flex">
              <% if !cart['stripePriceInfo']['transform_quantity'].blank? %>
                <span class="bg-green1-dark float-right rounded-xs text-uppercase font-900 font-9 pr-2 pl-2 pb-0 pt-0 line-height-s mt-n1">Package</span>  
              <% end %>
            </div>
            <div class="d-flex">
              <% if !cart['stripeProductInfo']['images'].blank? %>
                  <%= cl_image_tag(cart['stripeProductInfo']['images'][0].split(",")[0], :width=>100, :height=>100, :crop=>"crop", class: "mr-3") %>
              <% end %>

              <div class="w-100" style="margin-bottom: -65px;">
                  
                  <h5>
                    <%= cart['stripeProductInfo']['name'] %>
                  </h5>
                  <div id="showthis<%= cart['stripePriceInfo']['id'] %>" style="display: none;" class=''>
                    <%= f.submit "update", class: 'btn btn-full bg-yellow2-dark text-uppercase font-900 rounded-sm', 'style'=>"text-align: center;"  %>
                  </div>

                  <div class="row">
                    <div class="col-4">
                      <div class="input-style input-style-2 mt-2 ">
                        QTY
                        <%= f.number_field :quantity, id: cart['stripePriceInfo']['id'], onchange: "packageOrNah(#{cart['stripePriceInfo']['id']});", value: cart['quantity'], style: "border:0", min: 1 %>
                      </div>
                    </div>
                    <div class="col-6 line-height-xxl">
                        <strong>
                          <%= number_to_currency(cart['stripePriceInfo']['unit_amount'] * 0.01, precision: 2) %>
                        </strong>
                    
                    </div>
                  </div>
              </div>
            </div>
            
          <% end %>
          
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<div class="page-content">
  
        
  <div class="card card-style">
      <div class="content">

          <div class="divider"></div>
          <div class="d-flex mb-3">
              <div class="mr-3 text-left">
                  <h5 class="font-600">Fee &nbsp;<i class="fa fa-exclamation-circle font-14 mt-1 color-yellow2-dark scale-icon mr-2" data-toggle="tooltip" data-placement="right" title="" data-original-title="Miser Brands service fee includes processing fees"></i></h5>
                  <% if !current_user&.member? %>
                    <h4 class="font-600 opacity-50">Save up to <%= number_to_currency((@cart['serviceFee'] * 0.71) * 0.01, precision: 2) %><br>
                      <a href="/membership">Become a Member &amp; Save</a>
                    </h4>
                  <% elsif current_user&.member? %>
                    <h4 class="font-600">You Saved <i class="fa fa-exclamation-circle font-14 mt-1 color-yellow2-dark scale-icon mr-2" data-toggle="tooltip" data-placement="right" title="" data-original-title="Transaction fees are lowered for members, enjoy your savings!"></i><br>
                      <a href="/membership">View Membership</a>
                    </h4>
                  <% end %>

              </div>
              <div class="ml-auto text-right">
                  <h4><%= number_to_currency(@cart['serviceFee'] * 0.01, precision: 2) %></h4>

                  <% if !current_user&.member? %>
                    <!-- <h4 class="opacity-50"><%= number_to_currency((@cart['serviceFee'] - (@cart['serviceFee'] * 0.71)) * 0.01, precision: 2) %></h4> -->
                  <% elsif current_user&.member? %>
                    <p><%= number_to_currency((((35 * 0.01) * @cart['subItemsTotal']) * 0.01) - ((@cart['servicePercent'] * @cart['subItemsTotal']) * 0.01), precision: 2) %></p>
                  <% end %>
              </div>
          </div>
          <div class="d-flex">
              <div class="mr-3 text-left">
                  <h5 class="font-600">Sub Total</h5>
              </div>
              <div class="ml-auto text-right">
                  <h5 class="font-600">
                    <%= number_to_currency(@cart['subItemsTotal'] * 0.01, precision: 2) %>
                  </h5>
              </div>
          </div>
          <div class="d-flex mb-3">
              <div class="mr-3 text-left">
                  <h5 class="font-600">Grand Total</h5>
              </div>
              <div class="ml-auto text-right">
                  <h5 class="font-600">
                    <%= number_to_currency(@cart['subTotal'] * 0.01, precision: 2) %>
                  </h5>
              </div>
          </div>
          <div class="divider"></div>
          <div class="d-flex mb-3">
              <div class="mr-3 text-left">
                  <h5 class="font-600">Due Today</h5>
              </div>
              <div class="ml-auto text-right">
                  <h5 class="font-600">
                    <%= number_to_currency((@cart['subTotal'] * 0.01) * (ENV['stripeCapturePercentage'].to_i*0.01), precision: 2) %>
                  </h5>
              </div>
          </div>
          
          <% if @cart['carts'].map{|c,i| c['cart']}.flatten.map{|c,i|c['quantity']}.sum != 0 %>

            <%= form_for :checkout, url: checkout_path do |f| %>
              <div class="input-style input-style-2 mb-4">
              <% if !current_user&.address.blank? %>
                <%= f.submit "Charge Me", class: "btn btn-full bg-green1-dark text-uppercase rounded-sm font-900"%>
              <% else %>
                <h4 class="font-20"><%= link_to "Click here", profile_path %> to add shipping address</h4>
              <% end %>
              </div>

              <a href="/services" class="btn btn-full bg-blue2-dark btn-m text-uppercase font-800 rounded-sm">Continue Shopping</a>
                  
            <% end %>



          <% else %>
            <a href="/services" class="btn btn-full bg-blue2-dark btn-m text-uppercase font-800 rounded-sm">Continue Shopping</a>
          <% end %>
      </div>
  </div>
</div>


<script type="text/javascript">
  function packageOrNah(thisID) {
    // Get the checkbox
    var onOffDIV = document.getElementById("showthis"+thisID.id);

    // If the checkbox is checked, display the output text
      onOffDIV.style.display = "block";
      console.log(onOffDIV);
      console.log(thisID.id);
  }

</script>
