
<div class="card card-style text-center">
    <div class="content">
        <h2 class="mb-8">
            Checkout
        </h2>
        <p>Your shopping cart before checking out.<br><em><strong>One Click Purchase</strong></em></p>
    </div>
</div>

<div class="search-page">

  <% @cart['carts'].map{|c,i| c['cart']}.each_with_index do |stored, indx| %>
    <div class="card card-style shadow-l">
      <% stored.each do |cart| %>
        <div class="content">
          <div class="d-flex">
            <% if !cart['stripeProductInfo']['images'].blank? %>
            <div>
                <%= cl_image_tag(cart['stripeProductInfo']['images'][0].split(",")[0], :width=>100, :height=>100, class: "mr-3") %>
            </div>
            <% end %>
            <div class="w-100">
              <%= form_for :addToCart, :html => {:id => cart['stripePriceInfo']['id']}, url: updateQuantity_path(id: @cart['carts'][indx]['connectAccount']) do |f| %>
                <h5>
                  <% if !cart['stripePriceInfo']['transform_quantity'].blank? %>
                    <span class="bg-green1-dark float-right rounded-xs text-uppercase font-900 font-9 pr-2 pl-2 pb-0 pt-0 line-height-s mt-n1">Package</span>  
                  <% end %>
                  <%= cart['stripeProductInfo']['name'] %>
                </h5>
                <div id="showthis<%= cart['stripePriceInfo']['id'] %>" style="display: none;" class=''>
                  <%= f.submit "update", class: 'btn btn-full bg-yellow2-dark text-uppercase font-900 rounded-sm', 'style'=>"text-align: center;"  %>
                </div>
                
                <div class="mt-2">
                  <div class="input-style input-style-2">
                    <%= f.hidden_field :sellerItem, value: cart['stripePriceInfo']['id'] %>
                    <%= f.number_field :quantity, id: cart['stripePriceInfo']['id'], onchange: "packageOrNah(#{cart['stripePriceInfo']['id']});", value: cart['quantity'] %>
                  </div>
                </div>
                <strong><%= number_to_currency(cart['stripePriceInfo']['unit_amount'] * 0.01, precision: 2) %></strong>
                <a href="carts/<%= @cart['carts'][indx]['connectAccount'] %>?item=<%= cart['stripePriceInfo']['id']%>" class="d-block float-right color-theme opacity-90"><i class="fa fa-times pr-2 color-highlight"></i>Remove</a>
       

              <% end %>
            </div>
          </div>
          
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<div class="page-content">
  
        
  <div class="card card-style">
      <div class="content">

          <div class="divider"></div>
          <div class="d-flex mb-3">
              <div class="mr-3 text-left">
                  <h5 class="font-600">Fee &nbsp;<i class="fa fa-exclamation-circle font-14 mt-1 color-yellow2-dark scale-icon mr-2" data-toggle="tooltip" data-placement="right" title="" data-original-title="Miser Brands service fee includes processing fees"></i></h5>
                  <% if current_user&.stripeSourceVerified && !current_user&.member? %>
                    <h4 class="font-600 opacity-50">Save up to <%= number_to_currency((@cart['serviceFee'] * 0.71) * 0.01, precision: 2) %><br>
                      <a href="/membership">Become a Member &amp; Save</a>
                    </h4>
                  <% elsif current_user&.member? %>
                    <p class="font-600">You Saved <i class="fa fa-exclamation-circle font-14 mt-1 color-yellow2-dark scale-icon mr-2" data-toggle="tooltip" data-placement="right" title="" data-original-title="Transaction fees are lowered for members, enjoy your savings!"></i>
                    </p>
                  <% end %>

              </div>
              <div class="ml-auto text-right">
                  <h4><%= number_to_currency(@cart['serviceFee'] * 0.01, precision: 2) %></h4>

                  <% if current_user&.stripeSourceVerified && !current_user&.member? %>
                    <h4 class="opacity-50"><%= number_to_currency((@cart['serviceFee'] - (@cart['serviceFee'] * 0.71)) * 0.01, precision: 2) %></h4>
                  <% elsif current_user&.member? %>
                    <p><%= number_to_currency((((35 * 0.01) * @cart['subItemsTotal']) * 0.01) - ((@cart['servicePercent'] * @cart['subItemsTotal']) * 0.01), precision: 2) %></p>
                  <% end %>
              </div>
          </div>
          <div class="d-flex">
              <div class="mr-3 text-left">
                  <h5 class="font-600">Sub Total</h5>
              </div>
              <div class="ml-auto text-right">
                  <h4>
                    <%= number_to_currency(@cart['subItemsTotal'] * 0.01, precision: 2) %>
                  </h4>
              </div>
          </div>
          <div class="divider"></div>
          <div class="d-flex mb-3">
              <div class="mr-3 text-left">
                  <h4 class="font-20">Grand Total</h4>
              </div>
              <div class="ml-auto text-right">
                  <h4 class="font-20">
                    <%= number_to_currency(@cart['subTotal'] * 0.01, precision: 2) %>
                  </h4>
              </div>
          </div>
          
          <% if @cart['carts'].map{|c,i| c['cart']}.flatten.map{|c,i|c['quantity']}.sum != 0 %>

            <%= form_for :checkout, url: checkout_path do |f| %>
              <div class="input-style input-style-2 mb-4">
                <%= f.submit "Charge Me", class: "btn btn-full bg-green1-dark text-uppercase rounded-sm font-900"%>
              </div>

              <a href="/services" class="btn btn-full bg-blue2-dark btn-m text-uppercase font-800 rounded-sm">Continue Shopping</a>
                  
            <% end %>



          <% else %>
            <a href="/services" class="btn btn-full bg-blue2-dark btn-m text-uppercase font-800 rounded-sm">Continue Shopping</a>
          <% end %>
      </div>
  </div>
</div>


<script type="text/javascript">
  function packageOrNah(thisID) {
    // Get the checkbox
    var onOffDIV = document.getElementById("showthis"+thisID.id);

    // If the checkbox is checked, display the output text
      onOffDIV.style.display = "block";
      console.log(onOffDIV);
      console.log(thisID.id);
  }

</script>


<div class="card card-style">
  <div class="content">
      <h3>Recommended for You</h3>
      <p class="mt-n2 color-highlight">
          Products basd on your preferences
      </p>
  </div>
  <div class="single-slider owl-carousel owl-no-dots owl-loaded owl-drag">
      
      
  <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1089px, 0px, 0px); transition: all 0.25s ease 0s; width: 2178px;"><div class="owl-item cloned" style="width: 343px; margin-right: 20px;"><div class="content">
          <div class="d-flex">
              <div>
                  <img src="images/store/1w.png" class="mr-3" style="width:100px!important;">
              </div>
              <div class="w-100">
                  <h4>Space Gray Apple Watch</h4>
                  <p class="mt-n2 mb-2">Light gray with dark rubber band</p>
                  <strong>$599.99</strong>
                  <a href="#" class="d-block float-right color-theme opacity-90"><i class="fa fa-shopping-cart pr-2 color-highlight"></i>Add to Cart</a>
              </div>
          </div>
      </div></div><div class="owl-item cloned" style="width: 343px; margin-right: 20px;"><div class="content">
          <div class="d-flex">
              <div>
                  <img src="images/store/2w.png" class="mr-3" style="width:100px!important;">
              </div>
              <div class="w-100">
                  <h4>Space White Apple Watch</h4>
                  <p class="mt-n2 mb-2">Light gray with dark rubber band</p>
                  <strong>$599.99</strong>
                  <a href="#" class="d-block float-right color-theme opacity-90"><i class="fa fa-shopping-cart pr-2 color-highlight"></i>Add to Cart</a>
              </div>
          </div>
      </div></div><div class="owl-item" style="width: 343px; margin-right: 20px;"><div class="content">
          <div class="d-flex">
              <div>
                  <img src="images/store/1w.png" class="mr-3" style="width:100px!important;">
              </div>
              <div class="w-100">
                  <h4>Space Gray Apple Watch</h4>
                  <p class="mt-n2 mb-2">Light gray with dark rubber band</p>
                  <strong>$599.99</strong>
                  <a href="#" class="d-block float-right color-theme opacity-90"><i class="fa fa-shopping-cart pr-2 color-highlight"></i>Add to Cart</a>
              </div>
          </div>
      </div></div><div class="owl-item active" style="width: 343px; margin-right: 20px;"><div class="content">
          <div class="d-flex">
              <div>
                  <img src="images/store/2w.png" class="mr-3" style="width:100px!important;">
              </div>
              <div class="w-100">
                  <h4>Space White Apple Watch</h4>
                  <p class="mt-n2 mb-2">Light gray with dark rubber band</p>
                  <strong>$599.99</strong>
                  <a href="#" class="d-block float-right color-theme opacity-90"><i class="fa fa-shopping-cart pr-2 color-highlight"></i>Add to Cart</a>
              </div>
          </div>
      </div></div><div class="owl-item cloned" style="width: 343px; margin-right: 20px;"><div class="content">
          <div class="d-flex">
              <div>
                  <img src="images/store/1w.png" class="mr-3" style="width:100px!important;">
              </div>
              <div class="w-100">
                  <h4>Space Gray Apple Watch</h4>
                  <p class="mt-n2 mb-2">Light gray with dark rubber band</p>
                  <strong>$599.99</strong>
                  <a href="#" class="d-block float-right color-theme opacity-90"><i class="fa fa-shopping-cart pr-2 color-highlight"></i>Add to Cart</a>
              </div>
          </div>
      </div></div><div class="owl-item cloned" style="width: 343px; margin-right: 20px;"><div class="content">
          <div class="d-flex">
              <div>
                  <img src="images/store/2w.png" class="mr-3" style="width:100px!important;">
              </div>
              <div class="w-100">
                  <h4>Space White Apple Watch</h4>
                  <p class="mt-n2 mb-2">Light gray with dark rubber band</p>
                  <strong>$599.99</strong>
                  <a href="#" class="d-block float-right color-theme opacity-90"><i class="fa fa-shopping-cart pr-2 color-highlight"></i>Add to Cart</a>
              </div>
          </div>
      </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div>
</div>


