
<div class="card card-style text-center">
    <div class="content">
        <h2 class="mb-8">
            Checkout
        </h2>
        <p>Your shopping cart before checking out.<br><em><strong>Payments are processed by <a href="https://www.tewcode.com" target="_blank">TewCode</a> &amp; <%= link_to "Stripe", "https://stripe.com", 'target' => '_blank' %></strong></em></p>
      <% if !@cart['carts'].blank? %>
        <%= form_for :setSessionVar, url: set_session_vars_path do |f| %>
          <div class="input-style has-icon">
            <span class="color-highlight input-style-2">Coupon Code?</span>
            <%= f.text_field :coupon, class: "form-control", value: !session[:coupon].blank? ? session[:coupon] : nil %>
            <p>Coupon will be applied before checkout</p>
            <%= f.submit "Apply", class: 'mb-2 mt-2 col-12 btn btn-full bg-yellow1-dark btn-m text-uppercase font-800 rounded-sm' %>
          </div> 
        <% end %>
      <% end %>
    </div>
</div>

<div class="search-page">

  <% @cart['carts'].map{|c,i| c['cart']}.each_with_index do |stored, indx| %>
    <div class="card card-style shadow-s">
      <% stored.each do |cart| %>
        <div class="content">
            <%= link_to ('<i class=“fa fa-times pr-2 color-red2-dark”> </i>').html_safe, cart_path(id: @cart['carts'][indx]['connectAccount'], item: cart['stripePriceInfo']['id']), :method=> :delete, :remote=> true%>
            <a href="carts/<%= @cart['carts'][indx]['connectAccount'] %>?item=<%= cart['stripePriceInfo']['id']%>" method="DELETE" class="d-block float-right opacity-90"><i class="fa fa-times pr-2 color-red2-dark"></i></a>
          <%= form_for :addToCart, :html => {:id => cart['stripePriceInfo']['id']}, url: updateQuantity_path(id: @cart['carts'][indx]['connectAccount']) do |f| %>
            <%= f.hidden_field :sellerItem, value: cart['stripePriceInfo']['id'] %>

            <div class="d-flex">
              <% if !cart['stripePriceInfo']['transform_quantity'].blank? %>
                <span class="bg-green1-dark float-right rounded-xs text-uppercase font-900 font-9 pr-2 pl-2 pb-0 pt-0 line-height-s mt-n1">Package</span>  
              <% end %>
            </div>
            <div class="d-flex">
              <% if !cart['stripeProductInfo']['images'].blank? %>
                  <%= cl_image_tag(cart['stripeProductInfo']['images'][0].split(",")[0], :width=>100, :height=>100, :crop=>"crop", class: "mr-3") %>
              <% end %>

              <div class="w-100" style="margin-bottom: -65px;">
                  
                  <h5>
                    <%= cart['stripeProductInfo']['name'] %>
                  </h5>
                  <div id="showthis<%= cart['stripePriceInfo']['id'] %>" style="display: none;" class=''>
                    <%= f.submit "update", class: 'btn btn-full bg-yellow2-dark text-uppercase font-900 rounded-sm', 'style'=>"text-align: center;"  %>
                  </div>

                  <div class="row">
                    <div class="col-4">
                      <div class="input-style input-style-2 mt-2 ">
                        QTY
                        <%= f.number_field :quantity, id: cart['stripePriceInfo']['id'], onchange: "packageOrNah(#{cart['stripePriceInfo']['id']});", value: cart['quantity'], style: "border:0", min: 1 %>
                      </div>
                    </div>
                    <div class="col-6 line-height-xxl">
                        <strong>
                          <%= number_to_currency(cart['stripePriceInfo']['unit_amount'] * 0.01, precision: 2) %>
                        </strong>
                    
                    </div>
                  </div>
              </div>
            </div>
            
          <% end %>
          
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<div class="page-content">
  
        
  <div class="card card-style">
      <div class="content">

          <div class="divider"></div>
          <% if (@cart['serviceFee'] * 0.01) > 0 && current_user %>
            <div class="d-flex mb-3">
                <div class="mr-3 text-left">
                    <h5 class="font-600">Fee &nbsp;<i class="fa fa-exclamation-circle font-14 mt-1 color-yellow2-dark scale-icon mr-2" data-toggle="tooltip" data-placement="right" title="" data-original-title="This fee helps us operate & upgrade <%= ENV['siteName'] %>"></i></h5>
                    

                </div>
                <div class="ml-auto text-right">
                    <h4><%= number_to_currency(@cart['serviceFee'] * 0.01, precision: 2) %></h4>

                    <% if !current_user&.member? %>
                      <a href="/membership">Become a Member &amp; Save</a>
                    <% end %>
                </div>
            </div>
            <% if current_user&.member? %>
              <div class="d-flex">
                  <div class="mr-3 text-left">
                      <h5 class="font-600">You're Saving!</h5>
                  </div>
                  <div class="ml-auto text-right">
                      <a href="/membership">View Membership</a>
                  </div>
              </div>
            <% end %>
            <div class="d-flex">
                <div class="mr-3 text-left">
                    <h5 class="font-600">Items</h5>
                </div>
                <div class="ml-auto text-right">
                    <h5 class="font-600">
                      <%= number_to_currency(@cart['subItemsTotal'] * 0.01, precision: 2) %>
                    </h5>
                </div>
            </div>
            <div class="d-flex mb-3">
                <div class="mr-3 text-left">
                    <h5 class="font-600">Total</h5>
                </div>
                <div class="ml-auto text-right">
                    <h5 class="font-600">
                      <%= number_to_currency(@cart['subTotal'] * 0.01, precision: 2) %>
                    </h5>
                </div>
            </div>

            <% if session[:percentOff] && session[:coupon] %>
              <div class="d-flex mb-3">
                <div class="mr-3 text-left">
                  <h5 class="font-600">Coupon (<%= session[:percentOff].to_i %>% off)</h5>
                </div>
                <div class="ml-auto text-right">
                  <h5 class="font-600">
                    <%= number_to_currency((@cart['subTotal'] * 0.01) * (session[:percentOff] * 0.01), precision: 2) %>
                  </h5>
                </div>
              </div>
              <div class="d-flex mb-3">
                <div class="mr-3 text-left">
                  <h5 class="font-600">Due Today</h5>
                </div>
                <div class="ml-auto text-right">
                  <h5 class="font-600">
                    <%= number_to_currency((@cart['subTotal'] * 0.01) * (ENV['stripeCapturePercentage'].to_i*0.01) * (session[:percentOff] * 0.01), precision: 2) %>
                  </h5>
                </div>
              </div>
            <% else %>
              <div class="d-flex mb-3">
                  <div class="mr-3 text-left">
                      <h5 class="font-600">Due Today</h5>
                  </div>
                  <div class="ml-auto text-right">
                      <h5 class="font-600">
                        <%= number_to_currency((@cart['subTotal'] * 0.01) * (ENV['stripeCapturePercentage'].to_i*0.01), precision: 2) %>
                      </h5>
                  </div>
              </div>
            <% end %>





















          <% end %>

          <% if !current_user %>
            <div class="d-flex">
              <div class="mr-3 text-left">
                  <h5 class="font-600">Items</h5>
              </div>
              <div class="ml-auto text-right">
                  <h5 class="font-600">
                    <%= number_to_currency(@cart['subItemsTotal'] * 0.01, precision: 2) %>
                  </h5>
              </div>
            </div>

            <% if session[:percentOff] %>
              <div class="d-flex mb-3">
                <div class="mr-3 text-left">
                  <h5 class="font-600">Coupon (<%= session[:percentOff].to_i %>% off)</h5>
                </div>
                <div class="ml-auto text-right">
                  <h5 class="font-600">
                    <%= number_to_currency((@cart['subItemsTotal'] * 0.01) * (session[:percentOff] * 0.01), precision: 2) %>
                  </h5>
                </div>
              </div>
              <div class="d-flex mb-3">
                <div class="mr-3 text-left">
                  <h5 class="font-600">Due Today</h5>
                </div>
                <div class="ml-auto text-right">
                  <h5 class="font-600">
                    <%= number_to_currency((@cart['subItemsTotal'] * 0.01)-(@cart['subItemsTotal'] * 0.01) * (session[:percentOff] * 0.01), precision: 2) %>
                  </h5>
                </div>
              </div>
            <% else %>
              <div class="d-flex mb-3">
                <div class="mr-3 text-left">
                  <h5 class="font-600">Due Today</h5>
                </div>
                <div class="ml-auto text-right">
                  <h5 class="font-600">
                    <%= number_to_currency(@cart['subItemsTotal'] * 0.01, precision: 2) %>
                  </h5>
                </div>
              </div>
            <% end %>
          <% end %>
          
          <% if @cart['carts'].map{|c,i| c['cart']}.flatten.map{|c,i|c['quantity']}.sum != 0 %>
            <% if current_user&.authentication_token %>
              <%= form_for :checkout, url: checkout_index_path do |f| %>
                <div class="input-style input-style-2 mb-4">
                  <% if current_user&.paymentOn? && current_user&.address %>
                    <%= f.submit "Charge Me", class: "btn btn-full bg-green1-dark text-uppercase rounded-sm font-900"%>
                  <% else %>
                    <h4 class="font-20"><%= link_to "Click here", profile_path %> to complete profile &amp; payment setup</h4>
                  <% end %>
                </div>

                    
              <% end %>
            <% else %>
              <%= form_for :checkout, url: checkout_index_path, remote: true  do |f| %>
                <div class="input-style input-style-2 mb-4">
                <% if @cart.present? %>

                  <% if session[:phone] && session[:address] %>
                    <%= f.submit "Charge Me",remote: true, class: "btn btn-full bg-green1-dark text-uppercase rounded-sm font-900" %>
                    <p class="color-highlight mt-4 text-center">Please be sure the information below is correct</p>
                  <% end %>

                  
                <% end %>
                </div>
              <% end %>
            <% end %>
            <% if !current_user %>
              <%= form_for :setSessionVar, url: set_session_vars_path do |f| %>
                  <div class="input-style has-icon">
                    <span class="color-highlight input-style-2">Phone</span>
                    <%= f.telephone_field :phone, class: "form-control",required: true, value: !session[:phone].blank? ? session[:phone] : nil %>
                  </div> 

                  <div class="input-style has-icon">
                    <span class="color-highlight input-style-2">Street Address or PO Box</span>
                    <%= f.text_field :line1, class: "form-control",required: true, value: !session[:address].blank? ? session[:address][:line1] : nil, placeholder: '123 street ave' %>
                  </div> 
                  <div class="input-style has-icon">
                    <span class="color-highlight input-style-2">Apartment, Suite, Unit, etc.</span>
                    <%= f.text_field :line2, class: "form-control", value: !session[:address].blank? ? session[:address][:line2] : nil, placeholder: 'suite 12' %>
                  </div> 
                  <div class="input-style has-icon">
                    <span class="color-highlight input-style-2">City</span>
                    <%= f.text_field :city, class: "form-control",required: true, value: !session[:address].blank? ? session[:address][:city] : nil %>
                  </div> 
                  <div class="input-style has-icon">
                    <span class="color-highlight input-style-2">State</span>
                    <%= f.text_field :state, class: "form-control",required: true, value: !session[:address].blank? ? session[:address][:state] : nil %>
                  </div> 
                  <div class="input-style has-icon">
                    <span class="color-highlight input-style-2">ZIP</span>
                    <%= f.text_field :postal_code, class: "form-control",required: true, value: !session[:address].blank? ? session[:address][:postal_code] : nil %>
                  </div> 
                  <div class="input-style has-icon">
                    <span class="color-highlight input-style-2">Country</span>
                    <%= f.text_field :country, class: "form-control",required: true, value: "US", readonly: true %>
                  </div> 
                  <div class="input-style input-style-2 mt-2">
                    <%= f.submit "Update Information", class: "btn btn-full bg-yellow1-dark text-uppercase rounded-sm font-900"%>
                  </div> 
              <% end %>
            <% end %>
            
            <a href="/services" class="mb-2 btn btn-full bg-blue2-dark btn-m text-uppercase font-800 rounded-sm">Continue Shopping</a>




          <% else %>
            <a href="/services" class="mb-2 btn btn-full bg-blue2-dark btn-m text-uppercase font-800 rounded-sm">Continue Shopping</a>
          <% end %>
          
      </div>
  </div>
</div>


<script type="text/javascript">
  function packageOrNah(thisID) {
    // Get the checkbox
    var onOffDIV = document.getElementById("showthis"+thisID.id);

    // If the checkbox is checked, display the output text
      onOffDIV.style.display = "block";
      console.log(onOffDIV);
      console.log(thisID.id);
  }

</script>
