<p id="notice"><%= notice %></p>

<h1>Snapshots</h1>
<table class="table table-borderless text-center rounded-sm shadow-l mb-4" style="overflow: hidden;">
  <thead>
    <tr class="bg-dark3-dark">
        <th class="" class="color-white">Date</th>
        <th class="" class="color-white">Cash</th>
        <th class="" class="color-white">Equities</th>
        <th class="" class="color-white">Expenses</th>
        <th class="" class="color-white">Income</th>
        <th class="" class="color-white">Liabilities</th>
        <!-- <th class="col-3" class="color-white">Documents</th> -->
    </tr>
  </thead>
  <tbody>
    <% @snapshots.each do |snapshot| %>
      <tr>
        <td class="col-3"><%= link_to "#{snapshot.year} - #{snapshot.month}", snapshot_path(snapshot)  %></td>
        <td class="align-self-center ms-auto text-end">
          <% if snapshot.getCash[:diff] > 0 %>
            <p class="mb-n1 font-18 color-green1-dark"><%= number_to_currency(snapshot.getCash[:cash]) %></p>
          <% elsif snapshot.getCash[:diff] == 0 %>
            <p class="mb-n1 font-18 color-grey1-dark"><%= number_to_currency(snapshot.getCash[:cash]) %></p>
          <% else %>
            <p class="mb-n1 font-18 color-red1-dark"><%= number_to_currency(snapshot.getCash[:cash]) %></p>
          <% end %>
          <p class="font-12 opacity-50"><%= number_with_precision(snapshot.getCash[:diff], precision: 2) %>%</p>
        </td>

        <td class="align-self-center ms-auto text-end">
          <% if snapshot.getEquities[:diff] > 0 %>
            <p class="mb-n1 font-18 color-green1-dark"><%= number_to_currency(snapshot.getEquities[:equities]) %></p>
          <% elsif snapshot.getEquities[:diff] == 0 %>
            <p class="mb-n1 font-18 color-grey1-dark"><%= number_to_currency(snapshot.getEquities[:equities]) %></p>
          <% else %>
            <p class="mb-n1 font-18 color-red1-dark"><%= number_to_currency(snapshot.getEquities[:equities]) %></p>
          <% end %>
          <p class="font-12 opacity-50"><%= number_with_precision(snapshot.getEquities[:diff], precision: 2) %>%</p>
        </td>

        <td class="align-self-center ms-auto text-end">
          <% if snapshot.getExpenses[:diff] > 0 %>
            <p class="mb-n1 font-18 color-red1-dark"><%= number_to_currency(snapshot.getExpenses[:expenses]) %></p>
          <% elsif snapshot.getExpenses[:diff] == 0 %>
            <p class="mb-n1 font-18 color-grey1-dark"><%= number_to_currency(snapshot.getExpenses[:expenses]) %></p>
          <% else %>
            <p class="mb-n1 font-18 color-green1-dark"><%= number_to_currency(snapshot.getExpenses[:expenses]) %></p>
          <% end %>
          <p class="font-12 opacity-50"><%= number_with_precision(snapshot.getExpenses[:diff], precision: 2) %>%</p>
        </td>

        <td class="align-self-center ms-auto text-end">
          <% if snapshot.getIncome[:diff] > 0 %>
            <p class="mb-n1 font-18 color-green1-dark"><%= number_to_currency(snapshot.getIncome[:income]) %></p>
          <% elsif snapshot.getIncome[:diff] == 0 %>
            <p class="mb-n1 font-18 color-grey1-dark"><%= number_to_currency(snapshot.getIncome[:income]) %></p>
          <% else %>
            <p class="mb-n1 font-18 color-red1-dark"><%= number_to_currency(snapshot.getIncome[:income]) %></p>
          <% end %>
          <p class="font-12 opacity-50"><%= number_with_precision(snapshot.getIncome[:diff], precision: 2) %>%</p>
        </td>

        <td class="align-self-center ms-auto text-end">
          <% if snapshot.getLiabilities[:diff] > 0 %>
            <p class="mb-n1 font-18 color-red1-dark"><%= number_to_currency(snapshot.getLiabilities[:liabilities]) %></p>
          <% elsif snapshot.getLiabilities[:diff] == 0 %>
            <p class="mb-n1 font-18 color-grey1-dark"><%= number_to_currency(snapshot.getLiabilities[:liabilities]) %></p>
          <% else %>
            <p class="mb-n1 font-18 color-green1-dark"><%= number_to_currency(snapshot.getLiabilities[:liabilities]) %></p>
          <% end %>
          <p class="font-12 opacity-50"><%= number_with_precision(snapshot.getLiabilities[:diff], precision: 2) %>%</p>
        </td>

















        
      </tr>
    <% end %>

    
    

  </tbody>
</table>


<%= link_to 'New Snapshot', new_snapshot_path %>
