<%if current_user&.stripeMerchantID == @connectAccount %>
  <div class="card card-overflow card-style">
            <div class="content">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <h1 class="font-30"><%= @product['name'].titleize %></h1>
                        <p class="mt-n1 font-12 color-highlight mb-4">Your Slogan Or Guarantee</p>
                    </div>
                </div>
                
                <div class="divider"></div>
                
                <p><%= @product['description'] %></p>
                
               
            </div>
        </div>
  <div class="card card-style mb-0">
    <div class="content">
      <div class="d-flex">
        <div class="flex-grow-1">
            <span class="font-11">Price Management</span>
            <p>
                <strong class="color-theme">Add, Update, &amp; Unlist Prices </strong>
            </p>
        </div>
        <div class="flex-shrink-1 mt-1">
          <span class="bg-yellow2-dark float-right rounded-xs text-uppercase font-900 font-9 pr-2 pl-2" style="color: white;"><%= link_to "Manage", pricing_index_path(product_id: @product['id'][5..@product['id'].size]), style: "color: white;" %></span>
        </div>
      </div>
      <p><%= @product['description'] %></p>
      <div class="divider"></div>
      <%= link_to edit_product_path(id: params[:id], product: @product), class: 'btn btn-full bg-yellow2-dark btn-m text-uppercase font-800 rounded-sm' do %>
        <i class="fa fa-pencil"></i> Edit
      <% end %>
    </div>
  </div> 
<% end %>

<% if !current_user&.manager? %>
  <div class="card card-overflow card-style">
      <div class="content">
          <div class="d-flex">
              <div class="flex-grow-1">
                  <h1 class="font-30"><%= @product['name'].titleize %></h1>
                  <p class="mt-n1 font-12 color-highlight mb-4">Your Slogan Or Guarantee</p>
              </div>
          </div>
          
          <div class="divider"></div>
          
          <p><%= @product['description'] %></p>
          
         
      </div>
  </div>

  <% @prices.each do |pr| %>
    <div data-card-height="150" class="card card-style">
      <div class="card-top mt-3 ml-3">
          <h2 class="color-black pt-3 pb-3"><%= number_to_currency((pr['unit_amount'] * 0.01), precision: 2) %></h2>
          <p class="color-black font-10 opacity-80"><%= !pr['metadata'].blank? ? pr['metadata']['description'] : nil %></p>
      </div>
      <div class="card-bottom pb-3 pr-4">
          <div class="float-right">
            <%= form_for :addToCart, url: cart_path(id: @connectAccount), method: :patch do |f|  %>
              <div class="input-style input-style-2 mt-2">
                <%= f.number_field :quantity, max: pr['metadata']['stockCount'], placeholder: "QTY", required: true %>
                <%= f.hidden_field :sellerItem, value: pr['id'] %>
              </div>
              <%= button_tag type: 'submit', id: pr['id'], class: "float-right bg-green1-dark rounded-xl font-900 text-uppercase font-11 mb-2 btn btn-full" do %>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if !@product['images'].blank? %>
  <div class="card card-style">
    <div class="content">

      <div class="row text-center row-cols-1 d-sm-none mb-0">
        <% @product['images'][0].split(",").each do |imgx| %>
              <img src="<%= imgx %>" data-src="<%= imgx %>" class="img-fluid rounded-xs preload-img" alt="img" data-ll-status="loaded">
        <% end %>
      </div>

      <div class="row row-cols-4 d-none d-sm-block text-center">
          <% @product['images'][0].split(",").each do |imgx| %>
              <img src="<%= imgx %>" data-src="<%= imgx %>" class="img-fluid rounded-lg preload-img" alt="img" data-ll-status="loaded">
          <% end %>
      </div>
    </div>
  </div>        
<% end %>

