<div class=" pr-3 pl-3 owl-loaded owl-drag">
  <div class="owl-stage-outer">
    <div class="owl-stage">
      <div>
        <div class="card rounded-m shadow-l">
          <div class="card-bottom text-center">
            <div class="flex mb-2">
              <div class="flex-grow-1">
                  <h1 class="font-30 bg-white-dark"><%= @product['name'].titleize %></h1>
                  

              </div>
              <div class="flex-shrink-1">
                  <h1 class="font-20" style="color: white;">
                    <div id="uniquePriceChange">
                    </div>
                  </h1>
                  
                  <!-- <span class="bg-green1-dark float-right rounded-xs text-uppercase font-900 font-9 pr-2 pl-2 pb-0 pt-0 mt-n1">Available</span> -->
              </div>
          </div>
          </div>
          <div class="card-overlay bg-gradient"></div>
          <img class="img-fluid owl-lazy" data-src="https://wallpaperaccess.com/full/173798.jpg" src="https://wallpaperaccess.com/full/173798.jpg" >
        </div>
      </div>
    </div>
  </div>
</div>

<%if current_user&.stripeMerchantID == @connectAccount %>
  <div class="card card-style mb-0">
    <div class="content">
      <div class="d-flex">
        <div class="flex-grow-1">
            <span class="font-11">Price Management</span>
            <p>
                <strong class="color-theme">Add, Update, &amp; Unlist Prices </strong>
            </p>
        </div>
        <div class="flex-shrink-1 mt-1">
          <span class="bg-yellow2-dark float-right rounded-xs text-uppercase font-900 font-9 pr-2 pl-2" style="color: white;"><%= link_to "Manage", pricing_index_path(product_id: @product['id'][5..@product['id'].size]), style: "color: white;" %></span>
        </div>
      </div>
      <p><%= @product['description'] %></p>
      <div class="divider"></div>
      <%= link_to edit_product_path(id: params[:id], product: @product), class: 'btn btn-full bg-yellow2-dark btn-m text-uppercase font-800 rounded-sm' do %>
        <i class="fa fa-pencil"></i> Edit
      <% end %>
    </div>
  </div> 
<% end %>






<% if !current_user&.manager? %>
  <div class="card card-overflow card-style">
    <div class="content">
      <p><%= @product['description'] %></p>
      <%= form_for :addToCart, url: cart_path(id: @connectAccount), method: :patch do |f|  %>
        <div class="input-style has-icon input-style-2 input-required pb-1">
            <span class="color-highlight input-style-1-active">Price</span>
            <em>(required)</em>
            <%= f.select :sellerItem, @prices.sort { |a,b| a['unit_amount'] <=> b['unit_amount'] }.map{|p,i| ["#{number_to_currency(p['unit_amount'].to_f * 0.01, precision: 2)} #{!p['transform_quantity'].blank? ? 'Package Of ' + p['transform_quantity']['divide_by'].to_s : "Single Purchase"}", "#{p['unit_amount']}-#{p['id'][6..p['id'].length]}-#{!p['transform_quantity'].blank? ? "package-#{p['transform_quantity']['divide_by']}" : ""}"  ]}, required: true %>
            
        </div>
        <div class="input-style has-icon input-style-2 input-required pb-1">
            <span class="color-highlight input-style-1-active">Quantity</span>
            <em>(required)</em>
            <%= f.select :quantity, 1..100, required: true %>
        </div> 

        <p class="mt-n1 font-12 color-highlight mb-0" id='packageSelected' style="display: none;"><i class="fa fa-info mr-3"></i> Package Selected: Includes </p>

        <% @prices.each do |pr| %>
          <% if !current_user && pr['metadata']['public'] == 'true' %>
            <div class="content">
              <div class="row mb-0">
                  <div class="col-12 pl-4">
                      <div class="d-flex">
                        <div><p class="font-700 color-theme"><%= number_to_currency((pr['unit_amount'] * 0.01), precision: 2) %></p></div>
                      </div>
                      <div class="d-flex">
                      </div>
                      <%= !pr['metadata'].blank? ? pr['metadata']['description'] : nil %>
                  </div>
              </div>
              <div class="divider mt-3 mb-3"></div>
            </div>
          <% end %>
          <% if current_user&.authentication_token %>
            <div class="content">
              <div class="row mb-0">
                  <div class="col-12 pl-4">
                      <div class="d-flex">
                        <div><p class="font-700 color-theme"><%= number_to_currency((pr['unit_amount'] * 0.01), precision: 2) %></p></div>
                      </div>
                      <div class="d-flex">
                      </div>
                      <%= !pr['metadata'].blank? ? pr['metadata']['description'] : nil %>
                  </div>
              </div>
              <div class="divider mt-3 mb-3"></div>
            </div>
          <% end %>
        <% end %>


        * Plus Service Fee: This fee helps us operate and upgrade <%= ENV['siteName'] %>
        <% if current_user&.stripeCustomerID.blank? || !current_user&.checkStripeSource %>
          <%= link_to "Setup Payment", '/profile', class: 'btn btn-full bg-yellow2-dark btn-m text-uppercase font-800 rounded-sm' %>
        <% else %>
          <% if !@prices.blank? %>
            <% if !current_user&.manager? %>
              <%= button_tag type: 'submit', class: "col-md-12 btn btn-m mt-2 mb-4 btn-full bg-green1-dark text-uppercase font-900" do %>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart
              <% end %>
            <% end %> 
          <% end %> 
        <% end %> 
      <% end %> 
    </div>
  </div>
<% end %> 



<div id="menu-share" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-height="345" data-menu-effect="menu-over">
  <div class="menu-title mt-n1"><h1><%= @product['name'].titleize %> Pricing</h1><p class="color-highlight">Manage single &amp; package pricing will be managed for customers to purchase</p><a href="#" class="close-menu"><i class="fa fa-times"></i></a></div>
  <div class="content mb-0">
        <h4>Daily Tasklist</h4>
        <p class="mb-2">
            Below is a simulated task list, you can add your own tasks here or you can connect to a CMS and add them by admin panel. By default this is a template.
        </p>

        <div class="list-group list-custom-large mr-2">
            <a data-menu="menu-task-item" href="#">
                <i class="fa fa-heart bg-fade-red2-dark rounded-xl color-red2-dark font-12 font-12"></i>
                <span>Update Sticky</span>
                <strong>Essential for Customers</strong>
                <span class="badge bg-red2-dark mr-2">VIP</span>
                <i class="fa fa-angle-right"></i>
            </a>
            <a data-menu="menu-task-item" href="#">
                <i class="fa fa-check rounded-xl bg-fade-green1-dark color-green1-dark font-12"></i>
                <span>Create New Page</span>
                <strong>With New Design Patterns</strong>
                <i class="fa fa-angle-right"></i>
            </a>
            <a data-menu="menu-task-item" href="#">
                <i class="fa fa-cog rounded-xl bg-fade-magenta1-dark color-magenta1-dark font-12"></i>
                <span>Upgade Components</span>
                <strong>More Poweful Features</strong>
                <i class="fa fa-angle-right"></i>
            </a>      
            <a data-menu="menu-task-item" href="#">
                <i class="fa fa-bolt rounded-xl bg-fade-yellow1-dark color-yellow1-dark font-12"></i>
                <span>Load Faster</span>
                <strong>More Poweful Features</strong>
                <i class="fa fa-angle-right"></i>
            </a>        
            <a data-menu="menu-task-item" href="#" class="no-border">
                <i class="fa fa-mobile-alt rounded-xl bg-fade-blue2-dark color-blue2-dark font-12"></i>
                <span>Release PWA Version</span>
                <strong>More Poweful Features</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </div>  
    </div>
</div>










<script type="text/javascript">
  var priceLoaded = document.querySelector("#uniquePriceChange");


  priceLoaded.innerHTML =  "$"+(document.getElementById('addToCart_sellerItem').value.split("-")[0] * 0.01).toFixed(2)

  document.getElementById('addToCart_sellerItem').addEventListener('change', function byPack() {
    selectedV = this.value
    console.log('You selected: ', selectedV);
    var priceVisible = document.querySelector("#uniquePriceChange");
    priceVisible.innerHTML = "$"+(this.value.split("-")[0] * 0.01).toFixed(2);

    let re = 'package';
    let str = selectedV;
    let index = str.search(re);
    var packageAlert = document.querySelector("#packageSelected");

     if (index > 0) {

      packageAlert.style.display = 'inline';

      var div = document.getElementById('packageSelected');
      console.log(selectedV.split("-")[3]);
      div.innerHTML = '';
      div.innerHTML += 'Package Selected: Includes ' + selectedV.split("-")[3] + ' Products';

    } else {
      packageAlert.style.display = 'none';
    }
    console.log(index);
  });
  

  window.addEventListener('load', function() {
    var selectedOnLoad = document.getElementById('addToCart_sellerItem');

    console.log(selectedOnLoad.value);
    selectedV = selectedOnLoad.value

    let re = 'package';
    let str = selectedV;
    let index = str.search(re);
    var packageAlert = document.querySelector("#packageSelected");
    var div = document.getElementById('packageSelected');

    if (index > 0) {

      packageAlert.style.display = 'inline';

      console.log(selectedV.split("-")[3]);
      div.innerHTML = 'Package Selected: Includes ' + selectedV.split("-")[3] + ' Products';

    } else {
      packageAlert.style.display = 'none';
    }
    console.log(index);
  });

</script>


 





