
<% if current_user.present? %>
	<div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Payments</h3>
      <p>
        View all of your payment history any time anywhere!
      </p>
    </div>
  </div>
  <div class="card card-style">
    <div class="content mb-3">
        <div class="gallery gallery-filter">

          <% if @payments.present? %>
            <% @payments.each do |h| %>
              <a href="#" data-lightbox="gallery-2" class="filtr-item" title="<%= h['title'] %>" data-category="2">
                <div class="align-self-center">
                  </div>
                  <% if current_user.manager? %>
                    <div class="align-self-center">
                        <h1 class="mb-n2 font-16"><%= h['title'] %></h1>
                        <p class="font-11 opacity-60">
                        Customer: <%= h['buyerName'].titleize %><br>
                        Phone: <%= h['buyerPhone'] %><br>
                        Email: <%= h['buyerEmail'] %>
                          
                        </p>
                        <p class="font-11 opacity-60">
                          
                        </p>
                    </div>
                    <div class="align-self-center ml-auto text-right">
                        <h2 class="mb-n1 font-18 color-green2-dark"><%= number_to_currency(h['sellerAmount'] * 0.01) %></h2>
                        <p class="font-12 opacity-50"><%= h['date'].to_date.strftime("%B %d, %Y") %></p>
                    </div>
                  <% else %>
                    <div class="align-self-center">
                        <h1 class="mb-n2 font-16"><%= h['title'] %></h1>
                        <p class="font-11 opacity-60">Payment Received</p>
                    </div>
                    <div class="align-self-center ml-auto text-right">
                        <h2 class="mb-n1 font-18 color-green2-dark"><%= number_to_currency(h['amount'] * 0.01) %></h2>
                        <p class="font-12 opacity-50"><%= h['date'].to_date.strftime("%B %d, %Y") %></p>
                    </div>
                  <% end %>
              </a>
            <% end %>
          <% end %>

          <% if @overdue.present? %>
            <% @overdue.each do |h| %>
              <a href="" data-lightbox="gallery-3" class="filtr-item default-link" title="<%= h['title'] %>" data-category="3" >
              <div class="align-self-center">
                  <h5 class=""><%= h['startTime'].to_date.strftime("%B %d, %Y")%></h5>
                  <p class="font-600 opacity-40"> per service</p>
              </div>
              <div class="align-self-center">
              </div>
              <div class="align-self-center">
                  <span class="btn btn-sm col-md-12 rounded-sm bg-blue1-dark text-uppercase font-800">Book Now</span>
              </div>
            </a>
            <% end %>
          <% end %>          
        </div>
    </div>
  </div>
<% else %>
<div class="page-content header-clear-medium">
        
        <div class="card card-style">
            
            <div class="d-flex content mb-1">
                <!-- left side of profile -->
                <div class="flex-grow-1">
                    <h1 class="font-700">Book Now</h1>
                    <p class="mb-2">
                    	Once you've created an account and have made a successful payment, it will be posted here.
                    </p>
                </div>
                <!-- right side of profile. increase image width to increase column size-->
            </div>
            <!-- follow buttons-->
            <div class="content mb-0">
                <div class="row mb-0">
                    <div class="col-6">
                        <a href="<%= new_user_registration_url %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 bg-green1-dark">Create Account</a>
                    </div>
                    <div class="col-6">
                        <a href="<%= new_user_session_url %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 color-theme border-green1-dark">Login</a>
                    </div>
                </div>
            </div>
            
            <div class="divider mt-4 mb-0"></div>
        </div>
    </div>
<% end %>