<% if current_user.present? %>
	<div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Payment History</h3>
      <p>
        <% if !current_user&.manager? %>
          View your payment history any time anywhere!
        <% else%>
          View past charges &amp; create new invoices on the go!
        <% end %>
      </p>
    </div>
  </div>
  <div class="card card-style">
    <% @actualCharges.each do |customerCharge| %>
      <% if customerCharge['customer'] %>
        <div class="content mb-0">
          <a href="#" data-menu="menu-transaction-1" class="d-flex mb-3">
            <div class="align-self-center ms-auto text-end">
              <p><%= Time.at(customerCharge['created']).strftime("%b #{Time.at(customerCharge['created']).day.ordinalize} %Y") %></p>
              <p class="font-12 opacity-50"><%= Stripe::Customer.retrieve(customerCharge['customer'], {stripe_account: ENV['connectAccount']})['email'] %></p>
            </div>
          </a>
          <div class="d-flex pull-right">
            <div class="align-self-center ms-auto text-end">
              <h2 class="font-18 color-green2-dark"><%= number_to_currency(customerCharge['amount']*0.01, precision: 2) %></h2>
              <% if customerCharge['application_fee_amount'] %>
                <h2 class="font-18 color-red2-dark"><%= number_to_currency(customerCharge['application_fee_amount']*0.01, precision: 2) %></h2>
              <% end %>
            </div>
          </div>
        </div>
        <div class="divider mt-2 mb-3"></div>
      <% end %>
    <% end %>
    <nav aria-label="pagination-demo">
        <ul class="pagination pagination- justify-content-center">
          <li class="page-item">
              <a class="page-link rounded-xs color-black bg-transparent bg-theme shadow-xl border-0" href="/charges/?paginateBefore=<%= @actualCharges.first['id'] %>" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left"></i></a>
              BACK
          </li>
          <li class="page-item">
              <a class="page-link rounded-xs color-black bg-transparent bg-theme shadow-l border-0" href="/charges/?paginateAfter=<%= @actualCharges.last['id'] %>"><i class="fa fa-angle-right"></i></a>
              NEXT
          </li>
        </ul>
    </nav>
  </div>
<% else %>
  <div class="page-content header-clear-medium">
        
        <div class="card card-style">
            
            <div class="d-flex content mb-1">
                <!-- left side of profile -->
                <div class="flex-grow-1">
                    <h1 class="font-700">Book Now</h1>
                    <p class="mb-2">
                      Once you've created an account and have made a successful payment, it will be posted here.
                    </p>
                </div>
                <!-- right side of profile. increase image width to increase column size-->
            </div>
            <!-- follow buttons-->
            <div class="content mb-0">
                <div class="row mb-0">
                    <div class="col-6">
                        <a href="<%= new_user_registration_url %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 bg-green1-dark">Create Account</a>
                    </div>
                    <div class="col-6">
                        <a href="<%= new_user_session_url %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 color-theme border-green1-dark">Login</a>
                    </div>
                </div>
            </div>
            
            <div class="divider mt-4 mb-0"></div>
        </div>
  </div>
<% end %>