<div class="row items-push">
  <div class="block-header block-header-default">
    <h3 class="block-title">
      <a class="fw-semibold text-dual" href="https://www.netwerthcard.com/">
      <!-- <span class="smini-visible">
        <i class="fa fa-circle-notch text-primary"></i>
      </span> -->
      <strong class="fw-bold">The Chamber</strong><strong class="fw-medium">Card</strong>
    </a> - Deposit History
    </h3>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4">
      <a class="block block-rounded block-link-shadow text-center">
        <div class="block-content block-content-full">
          <div class="fs-2 fw-semibold text-primary"><%= (@depositTotal&.present? && @depositTotal > 0) ? number_to_currency(@depositTotal, precision: 2) : 0 %></div>
        </div>
        <div class="block-content py-2 bg-body-light">
          <p class="fw-medium fs-sm text-muted mb-0">
            Deposited
          </p>
        </div>
      </a>
    </div>
    <div class="col-12 col-lg-4">
      <a class="block block-rounded block-link-shadow text-center">
        <div class="block-content block-content-full">
          <div class="fs-2 fw-semibold text-primary"><%= @available.present? && @available > 0 ? number_to_currency((@available * 0.01), precision: 2) : 0 %></div>
        </div>
        <div class="block-content py-2 bg-body-light">
          <p class="fw-medium fs-sm text-muted mb-0">
            Balance
          </p>
        </div>
      </a>
    </div>
    <div class="col-12 col-lg-4">
      <a class="block block-rounded block-link-shadow text-center">
        <div class="block-content block-content-full">
          <div class="fs-lg fw-semibold text-dark"><%= number_to_currency((@subscriptionTotal) * 0.01, precision: 2) %></div>
        </div>
        <div class="block-content py-2 bg-body-light">
          <p class="fw-medium fs-sm text-muted mb-0">
            Recurring Deposits
          </p>
        </div>
      </a>
    </div>
  </div>
  <small class="block-title text-center">To change your recurring deposits<br>contact <%= mail_to "admin@twbcc.com" %></small>
</div>
<div class="block block-rounded">
  <div class="block-header block-header-default">
    <h3 class="block-title">Deposit New Money</h3>
    <div class="block-options space-x-1">
      <% if @cardSource %>
        <a href="/deposit-history/new" class="col-12">
            <button type="button" class="btn btn-sm bg-green1-dark" data-toggle="class-toggle" data-target="#one-dashboard-search-orders" data-class="d-none">
              DEPOSIT
            </button>
        </a>
      <% end %>
    </div>

  </div>
  <div id="one-dashboard-search-orders" class="block-content border-bottom d-none">
    <!-- Search Form -->
    <form action="be_pages_dashboard.html" method="POST" onsubmit="return false;">
      <div class="push">
        <div class="input-group">
          <input type="text" class="form-control form-control-alt" id="one-ecom-orders-search" name="one-ecom-orders-search" placeholder="Search all orders..">
          <span class="input-group-text bg-body border-0">
          </span>
        </div>
      </div>
    </form>
    <!-- END Search Form -->
  </div>
  <div class="block-content block-content-full">
    <!-- Recent Orders Table -->
    <div class="table-responsive">
      <table class="table table-hover table-vcenter">
        <thead>
          <tr>
            <th class="d-none d-sm-table-cell text-center">Deposit ID</th>
            <th class="text-center">Invested</th>
            <th class="text-center">Available</th>
            <th class="text-center">Payout</th>
            
          </tr>
        </thead>
        <tbody class="fs-sm">
          <% if !@payments.blank? %>
            <% @payments.sort_by{|p| p['created']}.reverse.each do |chargeX| %>
              <tr>
                <% if chargeX['id'].include?('pi_') %>
                  <% stripeFee = (((chargeX['amount'].to_i * 0.029)) + 30).to_i %>
                  <% chargeXFiltered = Charge.paymentIntentNet(chargeX['id']) %>
                  <% chargeXChargeAmount = chargeXFiltered[:net] * 0.01 %>
              
                  <td class="d-none d-sm-table-cell text-center">
                    <a class="fw-semibold" ><%= chargeX['id'][3..chargeX['id'].size] %></a><br>
                    <small class="fs-sm fw-medium text-muted mb-0"><%= distance_of_time_in_words(0.minutes.ago, Time.at(chargeX['created']).to_datetime) %> ago
                    </small>
                  </td>
                  <% if (chargeX['metadata'].present? && chargeX['metadata']['topUp'].present?) %>
                    <% dynamicNumber = Stripe::Topup.retrieve(chargeX['metadata']['topUp'])['amount'] * 0.01 %>
                  <% else %>
                    <% dynamicNumber = 0 %>
                  <% end %>
                  <% if !chargeX['metadata'].blank? %>
                    <td class="fw-semibold text-muted text-center">
                      <strong><%= number_to_currency(chargeXChargeAmount * (chargeX['metadata']['percentToInvest'].to_i * 0.01), precision: 2) %>
                        
                      </strong>
                    </td>
                    <td class="fw-semibold text-muted text-center">
                      <strong><%= number_to_currency((dynamicNumber), precision: 2) %>
                        
                      </strong>
                    </td>
                  <% else %>
                    <td class="d-none d-sm-table-cell fw-semibold text-muted text-center"><strong></strong></td>
                    <td class="d-none d-sm-table-cell fw-semibold text-muted text-center"><strong></strong></td>
                  <% end %>
                <% else %>
                <td class="d-none d-sm-table-cell text-center">
                  <a class="fw-semibold" ><%= chargeX['id'][3..chargeX['id'].size] %></a><br>
                  <small class="fs-sm fw-medium text-muted mb-0"><%= distance_of_time_in_words(0.minutes.ago, Time.at(chargeX['created']).to_datetime) %> ago
                  </small>
                </td>
                <td class="fw-semibold text-muted text-center">
                  <strong><%= number_to_currency((chargeX['amount'] * 0.01), precision: 2) %>
                    
                  </strong>
                </td>
                <td class="fw-semibold text-muted text-center">
                  <strong><%= number_to_currency(0, precision: 2) %>
                    
                  </strong>
                </td>
                <% end %>
                <td class="text-center">
                  <% if chargeX['metadata']['payout'] == true.to_s %>
                    <div class="text-success">
                      <a href="<%= stripe_payouts_path %>" style="color: #28a745;"><i class="fa fa-2x fa-calendar-check"></i>
                      </a>
                    </div>
                  <% else %>
                      <div class="text-warning">
                        <a href="<%= stripe_payouts_path %>" style="color: #ffc107;">
                          
                          <i class="fa fa-2x fa-calendar-xmark"></i>
                        </a>
                      </div>
                  <% end %>
                </td>
              
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <!-- END Recent Orders Table -->
  </div>
  
</div>
  <!-- END Recent Orders -->
<!-- END Page Content -->