<div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Your <%= ENV['siteName'].titleize %> Depost History</h3>
      <%= link_to "New Deposit", '#', class: "col-md-12 btn btn-m mt-2 mb-4 btn-full bg-green1-dark text-uppercase font-900" %>
    </div>
  </div>
<div class="content">
  <div class="row items-push">
    <div class="col-sm-6 col-xxl-3">
      <!-- Pending Orders -->
      <div class="block block-rounded d-flex flex-column h-100 mb-0">
        <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
          <dl class="mb-0">
            <dt class="fs-3 fw-bold">$8,000</dt>
            <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Available</dd>
          </dl>
        </div>
        <div class="bg-body-light rounded-bottom">
          <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
            <span>View</span>
          </a>
        </div>
      </div>
      <!-- END Pending Orders -->
    </div>
    <div class="col-sm-6 col-xxl-3">
      <!-- New Customers -->
      <div class="block block-rounded d-flex flex-column h-100 mb-0">
        <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
          <dl class="mb-0">
            <dt class="fs-3 fw-bold">$2,000</dt>
            <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Invested</dd>
          </dl>
        </div>
        <div class="bg-body-light rounded-bottom">
          <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
            <span>View</span>
          </a>
        </div>
      </div>
      <!-- END New Customers -->
    </div>
    <div class="col-sm-6 col-xxl-3">
      <!-- Messages -->
      <div class="block block-rounded d-flex flex-column h-100 mb-0">
        <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
          <dl class="mb-0">
            <dt class="fs-3 fw-bold">$13,934.89</dt>
            <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Liquidity</dd>
          </dl>
        </div>
        <div class="bg-body-light rounded-bottom">
          <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
            <span>View</span>
          </a>
        </div>
      </div>
      <!-- END Messages -->
    </div>
    <div class="col-sm-6 col-xxl-3">
      <!-- Conversion Rate -->
      <div class="block block-rounded d-flex flex-column h-100 mb-0">
        <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
          <dl class="mb-0">
            <dt class="fs-3 fw-bold">96.74%</dt>
            <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">ROI</dd>
          </dl>
        </div>
        <div class="bg-body-light rounded-bottom">
          <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
            <span>View</span>
          </a>
        </div>
      </div>
      <!-- END Conversion Rate-->
    </div>
  </div>
  <!-- Recent Orders -->
  <div class="block block-rounded">
    <div class="block-header block-header-default">
      <h3 class="block-title">Deposits</h3>
      <div class="block-options space-x-1">
        <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="class-toggle" data-target="#one-dashboard-search-orders" data-class="d-none">
          ADD
        </button>
        <div class="dropdown d-inline-block">
          <div class="dropdown-menu dropdown-menu-md dropdown-menu-end fs-sm" aria-labelledby="dropdown-recent-orders-filters">
            <a class="dropdown-item fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
              Pending
              <span class="badge bg-primary rounded-pill">20</span>
            </a>
            <a class="dropdown-item fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
              Active
              <span class="badge bg-primary rounded-pill">72</span>
            </a>
            <a class="dropdown-item fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
              Completed
              <span class="badge bg-primary rounded-pill">890</span>
            </a>
            <a class="dropdown-item fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
              All
              <span class="badge bg-primary rounded-pill">997</span>
            </a>
          </div>
        </div>
      </div>
      <div class="block-content block-content-full bg-body-light">
        <!-- total -->
      <nav aria-label="Photos Search Navigation">
        <ul class="pagination pagination-sm justify-content-end mb-0">
          <li class="page-item">
            <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-label="Previous">
              Total: $10,000
            </a>
          </li>
        </ul>
      </nav>
      <!-- END total -->
      <!-- Pagination -->
      <!--                   <nav aria-label="Photos Search Navigation">
                          <ul class="pagination pagination-sm justify-content-end mb-0">
                            <li class="page-item">
                              <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-label="Previous">
                                Prev
                              </a>
                            </li>
                            <li class="page-item active">
                              <a class="page-link" href="javascript:void(0)">1</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="javascript:void(0)">2</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="javascript:void(0)">3</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="javascript:void(0)">4</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                Next
                              </a>
                            </li>
                          </ul>
                        </nav>
      -->                  
      <!-- END Pagination -->
      
    </div>
    </div>
    <div id="one-dashboard-search-orders" class="block-content border-bottom d-none">
      <!-- Search Form -->
      <form action="be_pages_dashboard.html" method="POST" onsubmit="return false;">
        <div class="push">
          <div class="input-group">
            <input type="text" class="form-control form-control-alt" id="one-ecom-orders-search" name="one-ecom-orders-search" placeholder="Search all orders..">
            <span class="input-group-text bg-body border-0">
            </span>
          </div>
        </div>
      </form>
      <!-- END Search Form -->
    </div>
    <div class="block-content block-content-full">
      <!-- Recent Orders Table -->
      <div class="table-responsive">
        <table class="table table-hover table-vcenter">
          <thead>
            <tr>
              <th class="text-center">Deposit ID</th>
              <th class="text-center">Payout</th>
              <th class="d-none d-sm-table-cell text-center">Profit</th>
              <th class="d-none d-sm-table-cell text-center">Invested</th>
              <th class="d-none d-sm-table-cell text-center">Available</th>
              <th class="d-none d-sm-table-cell text-center">Deposit</th>
            </tr>
          </thead>
          <tbody class="fs-sm">
            <tr>
              <td class="text-center">
                <a class="fw-semibold" href="javascript:void(0)">
                  ORD.00925                  </a>
                <p class="fs-sm fw-medium text-muted mb-0">Premium</p>
              </td>
              <td class="text-center">
                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Pending</span>
              </td>
              <td class="text-center">
                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Pending</span>
              </td>
              <td class="d-none d-sm-table-cell fw-semibold text-muted text-center"><strong>$400</strong></td>
              <td class="d-none d-sm-table-cell fw-semibold text-muted text-center"><strong>$1,600</strong></td>
              <td class="d-none d-sm-table-cell text-center">
                <strong>$2,000</strong><br>
                <small>4 min ago</small>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <a class="fw-semibold" href="javascript:void(0)">
                  ORD.00924                  </a>
                <p class="fs-sm fw-medium text-muted mb-0">Premium</p>
              </td>
              <td class="text-center">
                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-info-light text-info">Active</span>
              </td>
              <td class="d-none d-sm-table-cell text-center">
                <div class="progress mb-1" style="height: 5px;">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 46%;" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="fs-xs fw-semibold mb-0">46%</p>
              </td>
              <td class="d-none d-sm-table-cell fw-semibold text-muted text-center"><strong>$1,200</strong></td>

              <td class="d-none d-sm-table-cell fw-semibold text-muted text-center"><strong>$4,800</strong></td>
              <td class="d-none d-sm-table-cell text-center">
                <strong>$6,000</strong><br>
                <small>4 min ago</small>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <a class="fw-semibold" href="javascript:void(0)">
                  ORD.00922                  </a>
                <p class="fs-sm fw-medium text-muted mb-0">Premium</p>
              </td>
              <td class="text-center">
                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-success-light text-success">Completed</span>
              </td>
              <td class="d-none d-sm-table-cell text-center">
                <div class="progress mb-1" style="height: 5px;">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="fs-xs fw-semibold mb-0">65%</p>
              </td>
              <td class="d-none d-sm-table-cell fw-semibold text-muted text-center"><strong>$400</strong></td>
              <td class="d-none d-sm-table-cell fw-semibold text-muted text-center"><strong>$1,600</strong></td>
              <td class="d-none d-sm-table-cell text-center">
                <strong>$2,000</strong><br>
                <small>1 week ago</small>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- END Recent Orders Table -->
    </div>
    
  </div>
  <!-- END Recent Orders -->
</div>
<!-- END Page Content -->
<% if current_user.present? %>
  
  <% if @payments.present? %>
    <% @payments.each do |chargeX| %>
      <div class="card card-style">
        <% stripeFee = (((chargeX['amount'].to_i * 0.029)) + 30).to_i %>
        <% stripeFeeAmount = chargeX['application_fee_amount'].to_i %>
        <div class="content mb-0">
            <div class="d-flex">
                <div class="pr-0 align-self-center">
                    <p class="font-600 color-highlight mb-n1">Payment</p>
                    <h1 class="mb-2"><%= number_to_currency(chargeX['amount'].to_i * 0.01, precision: 2) %></h1>
                </div>
                <div class="w-100 align-self-center pl-3">
                    <h6 class="mt-4 font-700 text-uppercase font-12 opacity-30 mb-3 mt-n2"><%= chargeX['customer'] ? Stripe::Customer.retrieve(chargeX['customer'], {stripe_account: ENV['connectAccount']})['name'] : nil %><span class="float-right"><%= Time.at(chargeX['created']).strftime("%b #{Time.at(chargeX['created']).day.ordinalize}, %Y") %></span></h6>
                    <div class="divider mb-2 mt-1"></div>
                    <h6 class="font-14 font-700">Processing Fee<span class="float-right color-red2-dark"><%= number_to_currency(stripeFee * 0.01.round(2), precision: 2) %></span></h6>
                    <div class="divider mb-2 mt-1"></div>
                    <h6 class="font-14 font-700">Net<span class="float-right color-green2-dark"><%= number_to_currency((chargeX['amount'].to_i - (stripeFeeAmount + stripeFee)) * 0.01, precision: 2) %></span></h6>
                    <div class="divider mb-2 mt-1"></div>
                </div>
            </div>      
            <div class="divider mt-2 mb-3"></div>
            <% if !chargeX['invoice'].blank? %>
              <ul>
                <% Stripe::InvoiceItem.list({invoice:  chargeX['invoice'], limit: 100}, {stripe_account: ENV['connectAccount']})['data'].each do |inI| %>
                  <li>(<%= inI['quantity'] %>) <%= inI['description'] %></li>
                <% end %>
              </ul>
              <% else %>
                <ul><li><%= chargeX['description'] %></li></ul>
            <% end %>
        </div>            
      </div>
    <% end %>
    <% if @hasMore %>
      <nav aria-label="pagination-demo">
          <ul class="pagination pagination- justify-content-center">
            <li class="page-item">
                <a class="page-link rounded-xs color-black bg-transparent bg-theme shadow-xl border-0" href="/charges/?paginateBefore=<%= @payments.first['id'] %>" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left"></i></a>
                BACK
            </li>
            <li class="page-item">
                <a class="page-link rounded-xs color-black bg-transparent bg-theme shadow-l border-0" href="/charges/?paginateAfter=<%= @payments.last['id'] %>"><i class="fa fa-angle-right"></i></a>
                NEXT
            </li>
          </ul>
      </nav>
    <% end %>
  <% end %>
<% else %>
  <div class="page-content header-clear-medium">
        
        <div class="card card-style">
            
            <div class="d-flex content mb-1">
                <!-- left side of profile -->
                <div class="flex-grow-1">
                    <h1 class="font-700">Book Now</h1>
                    <p class="mb-2">
                      Once you've created an account and have made a successful payment, it will be posted here.
                    </p>
                </div>
                <!-- right side of profile. increase image width to increase column size-->
            </div>
            <!-- follow buttons-->
            <div class="content mb-0">
                <div class="row mb-0">
                    <div class="col-6">
                        <a href="<%= new_user_registration_url %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 bg-green1-dark">Create Account</a>
                    </div>
                    <div class="col-6">
                        <a href="<%= new_user_session_url %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 color-theme border-green1-dark">Login</a>
                    </div>
                </div>
            </div>
            
            <div class="divider mt-4 mb-0"></div>
        </div>
  </div>
<% end %>