<% if current_user.present? %>
	<div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Payment History</h3>
      <p>
        <% if !current_user&.manager? %>
          View your payment history any time anywhere!
        <% else%>
          View past charges &amp; create new invoices on the go!
        <% end %>
      </p>
    </div>
  </div>
  <% if @payments.present? %>
    <% @payments.each do |chargeX| %>
      <div class="card card-style">
        <!-- <%= chargeX %> -->
        <div class="content">
          <div class="row mb-0">
            <div class="col-12 ps-4">
              <div class="d-flex">
                <% if current_user&.owner? %>
                  <div class="col-3"><p class="font-700 color-theme">From</p></div>
                  <div class="ms-auto col-9 ml-4"><p class="pull-right"><%= chargeX['customerName'] %></p></div>
                <% end %>

                <% if current_user&.customer? %>
                  <div class="col-3"><p class="font-700 color-theme">Seller</p></div>
                  <div class="ms-auto col-9 ml-4"><p class="pull-right"><%= chargeX['sellerName'] %></p></div>
                <% end %>
              </div>
              <div class="d-flex">
                  <div class="col-3"><p class="font-700 color-theme">Date</p></div>
                  <div class="ms-auto col-9 ml-4"><p class="pull-right"><%= Time.at(chargeX['dateCreated']).strftime("%a %b #{Time.at(chargeX['dateCreated']).day.ordinalize}, %Y") %></p></div>
              </div>
            </div>
          </div>
          <div class="divider mt-3 mb-3"></div>
          <div class="row mb-0">
            <div class="col-6"><h4 class="font-15 mt-1">Amount</h4></div>
            <div class="col-6"><h4 class="font-15 pull-right text-end mt-1 color-green1-dark"><%= number_to_currency(chargeX['amount'] * 0.01, precision: 2) %></h4></div>
            <div class="divider divider-margins w-100 mt-2 mb-3"></div>
            <div class="col-12"><a href="<%= chargeX['receiptURL'] %>" target="_blank" class="btn btn-full btn-m bg-blue2-dark rounded-sm text-uppercase font-800 mt-3">View Receipt</a></div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @hasMore %>
      <nav aria-label="pagination-demo">
          <ul class="pagination pagination- justify-content-center">
            <li class="page-item">
                <a class="page-link rounded-xs color-black bg-transparent bg-theme shadow-xl border-0" href="/charges/?paginateBefore=<%= @payments.first['id'] %>" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left"></i></a>
                BACK
            </li>
            <li class="page-item">
                <a class="page-link rounded-xs color-black bg-transparent bg-theme shadow-l border-0" href="/charges/?paginateAfter=<%= @payments.last['id'] %>"><i class="fa fa-angle-right"></i></a>
                NEXT
            </li>
          </ul>
      </nav>
    <% end %>
  <% end %>
<% else %>
  <div class="page-content header-clear-medium">
        
        <div class="card card-style">
            
            <div class="d-flex content mb-1">
                <!-- left side of profile -->
                <div class="flex-grow-1">
                    <h1 class="font-700">Book Now</h1>
                    <p class="mb-2">
                      Once you've created an account and have made a successful payment, it will be posted here.
                    </p>
                </div>
                <!-- right side of profile. increase image width to increase column size-->
            </div>
            <!-- follow buttons-->
            <div class="content mb-0">
                <div class="row mb-0">
                    <div class="col-6">
                        <a href="<%= new_user_registration_url %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 bg-green1-dark">Create Account</a>
                    </div>
                    <div class="col-6">
                        <a href="<%= new_user_session_url %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 color-theme border-green1-dark">Login</a>
                    </div>
                </div>
            </div>
            
            <div class="divider mt-4 mb-0"></div>
        </div>
  </div>
<% end %>