

<% if current_user.present? %>
	<div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Payment History</h3>
      <p>
        <% if !current_user&.manager? %>
          View your payment history any time anywhere!
        <% else%>
          View past charges &amp; create new invoices on the go!
        <% end %>
      </p>
    </div>
  </div>
  <% if current_user&.manager? && current_user&.stripeSourceVerified %>
    <div class="card card-style bg-theme pb-0">
      <div class="content">
        <h3>New Invoice</h3>
        <p class="mb-5">Enter the client ID to begin a new invoice.  The client ID can be found by the client on the first section of their profile page. </p>

        <%= form_for :initiateCharge, url: initiateCharge_path do |f| %>
          <div class="input-style has-icon input-style-2 input-required pb-1">
              <i class="input-icon fa fa-user color-theme"></i>
              <span class="color-highlight input-style-1-active">Customer ID</span>
              <em>(required)</em>
              <%= f.text_field :customerID, placeholder: SecureRandom.uuid[0..7], required: true %>
          </div> 
          <%= f.submit "Begin", class: "col-md-12 btn btn-m mt-2 mb-4 btn-full bg-green1-dark text-uppercase font-900" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="card card-style bg-theme pb-0">
    <div class="">
      <div class="tab-controls tabs-round tab-animated tabs-medium tabs-rounded shadow-xl" data-tab-items="1" data-tab-active="bg-green1-dark color-white">
          <!-- <a href="#" data-tab-active data-tab="tab-3"><i class="fa fa-clock"></i> Available Now</a> -->
          <a href="#" data-tab-active  data-tab="tab-1"><i class="fa fa-calendar-check"></i>  History</a>
      </div>
      <div class="clearfix mb-3"></div>
      
      <div class="tab-content" id="tab-1">


        <div class="content mb-0">
            



          <% if @payments.present? %>
            <% @payments.each do |h| %>              <div class="list-group list-custom-small list-icon-0">
                  <a data-toggle="collapse" href="#collapse-<%= h['invoice'][3..15] %>">
                      <span class="font-14">Order#<%= h['invoice'][3..h['invoice'].length].truncate(9, omission: '') %></span>
                      <span class="badge bg-green2-dark mr-2">PAID</span>
                  </a>        
              </div>
              <div class="collapse" id="collapse-<%= h['invoice'][3..15] %>">
                <!-- <div class="menu-title"><h1>Payment Sent</h1><p class="color-highlight">Transaction Details for Payment</p></div>
                <div class="divider divider-margins mb-1 mt-3"></div> -->
                <div class="content">
                  <div class="row mb-0">
                      <div class="col-3 icon icon-xl">
                          <i class="fa fa-check bg-fade-green2-dark rounded-xl color-green2-dark" width='80'></i>
                      </div>
                      <div class="col-9 pl-4">
                          <div class="d-flex">
                              <div><p class="font-700 color-theme">Seller</p></div>
                              <div class="ml-auto"><p><%= h['sellerName'] %></p></div>
                          </div>
                          <div class="d-flex">
                              <div><p class="font-700 color-theme">Customer</p></div>
                              <div class="ml-auto"><p><%= h['customer'] %></p></div>
                          </div>
                          <div class="d-flex">
                              <div><p class="font-700 color-theme">Date</p></div>
                              <div class="ml-auto"><p><%= h['date'] %></p></div>
                          </div>
                      </div>
                  </div>
                  <div class="divider mt-3 mb-3"></div>
                  <div class="row mb-0">
                  
                      <div class="col-6"><h4 class="font-14 text-left"><u>Item</u></h4></div>
                      <div class="col-3"><h4 class="font-14 text-center"><u>QTY</u></h4></div>
                      <div class="col-3"><h4 class="font-14 text-center"><u>Price</u></h4></div>
                  </div>
                  <% h['items'].each_with_index do |itm,indx| %>
                    <% if !itm['invoiceLine']['metadata']['claimed'].blank? && (itm['invoiceLine']['quantity'] > itm['invoiceLine']['metadata']['claimed'].to_i) %>
                      
                      <div class="row mb-2">
                        <div class="col-6"><h4 class="font-14 text-left"><%= itm['product']['name'] %></h4></div>
                        <div class="col-3"><h4 class="font-14 text-center"><%= itm['invoiceLine']['quantity'] %></h4></div>
                        <div class="col-3"><h4 class="font-14 text-center"><%= number_to_currency((itm['price']['unit_amount'] * 0.01), precision: 2) %></h4></div>

                        
                        <!-- <div class="col-2"><h4 class="font-14 text-right">Claimed: <%= itm['invoiceLine']['metadata']['claimed'] %></h4></div> -->
                      </div>
                    <% end %>
                  <% end %>
                  <% if current_user&.manager? %>
                    <div class="row mb-0">
                      <div class="divider divider-margins w-100 mt-2 mb-2"></div>
                      <div class="divider divider-margins w-100 mt-2 mb-2"></div>
                      <div class="col-6"><h4 class="font-14 mt-1">Grand Total</h4></div>
                      <div class="col-6"><h4 class="font-14 text-right mt-1"><%= number_to_currency( h['subTotal']  * 0.01, precision: 2) %></h4></div>

                      <!-- <div class="col-12"><a href="#" class="close-menu btn btn-full btn-m bg-red2-dark rounded-sm text-uppercase font-800">Refund</a></div> -->
                    </div>

                  <% else %>
                    <div class="row mb-0">
                      <div class="divider divider-margins w-100 mt-2 mb-2"></div>
                      <div class="divider divider-margins w-100 mt-2 mb-2"></div>
                      <div class="col-6"><h4 class="font-14 mt-1">Fee &nbsp;<i class="fa fa-exclamation-circle font-14 mt-1 color-yellow2-dark scale-icon mr-2" data-toggle="tooltip" data-placement="right" title="" data-original-title="Miser Brands service fee includes processing fees"></i></h4></div>
                      <div class="col-6"><h4 class="font-14 text-right mt-1"><%= number_to_currency( h['fee']  * 0.01, precision: 2) %></h4></div>
                      <div class="col-6"><h4 class="font-14 mt-1">Sub Total</h4></div>
                      <div class="col-6"><h4 class="font-14 text-right mt-1"><%= number_to_currency( h['subTotal']  * 0.01, precision: 2) %></h4></div>

                      <div class="col-6"><h4 class="font-14 mt-1">Grand Total</h4></div>
                      <div class="col-6"><h4 class="font-14 text-right mt-1"><%= number_to_currency(h['grandTotal']  * 0.01, precision: 2) %></h4></div>
              
                      <div class="divider divider-margins w-100 mt-2 mb-3"></div>
                      <!-- <div class="col-12"><a href="#" class="close-menu btn btn-full btn-m bg-red2-dark rounded-sm text-uppercase font-800">Refund</a></div> -->
                    </div>
                  <% end%>
                </div>
              </div>  

          
              


            <% end %>
          <% end %>
        </div>
        
      </div>
      

      <div class="tab-content" id="tab-2">
        <% if @overdue.present? %>
          <% @overdue.each do |h| %>
          <div class="align-self-center">
              <div class="align-self-center ml-auto text-center">
              <h1 class="mb-n2 font-16"><%= h['title'] ? h['title'].titleize : "Invoice" %></h1>
                  <h2 class="mb-n1 font-18 color-green2-dark"><%= number_to_currency(h['amount'] * 0.01) %></h2>
                   <p class="font-12 opacity-50">
                    Customer: <%= h['buyerName'] %>#<%= current_user&.uuid %><br>
                    Phone: <a href="tel:<%= h['buyerPhone'] %>"><%= h['buyerPhone'] %></a>
                                  <br>

                    Email: <a href = "mailto:<%= h['buyerEmail'] %>"><%= h['buyerEmail'] %></a>
                    <br>
                  </p>
                  <% if !current_user&.manager? %>
                    <%= form_for :acceptInvoice, url: acceptInvoice_path(stripeChargeID: h['stripeChargeID']) do |f| %>
                      <%= f.submit "Pay Invoice",class: "btn btn-sm col-md-12 rounded-sm bg-blue2-dark text-uppercase font-800" %>
                    <% end %>
                  <% else %>
                    <span class="btn btn-sm col-md-12 rounded-sm border-yellow1-dark text-uppercase font-800">PENDING</span>
                    <br>
                  <% end %>
              </div>
          </div>
          <% end %>
        <% end %>     
      </div>
    </div>
  </div>
<% else %>
  <div class="page-content header-clear-medium">
        
        <div class="card card-style">
            
            <div class="d-flex content mb-1">
                <!-- left side of profile -->
                <div class="flex-grow-1">
                    <h1 class="font-700">Book Now</h1>
                    <p class="mb-2">
                    	Once you've created an account and have made a successful payment, it will be posted here.
                    </p>
                </div>
                <!-- right side of profile. increase image width to increase column size-->
            </div>
            <!-- follow buttons-->
            <div class="content mb-0">
                <div class="row mb-0">
                    <div class="col-6">
                        <a href="<%= new_user_registration_url %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 bg-green1-dark">Create Account</a>
                    </div>
                    <div class="col-6">
                        <a href="<%= new_user_session_url %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 color-theme border-green1-dark">Login</a>
                    </div>
                </div>
            </div>
            
            <div class="divider mt-4 mb-0"></div>
        </div>
  </div>
<% end %>