<!-- Preferred order:

Customer: name, custID
“Title of job”
Date of service
Customer: name, custID?
Contact 
Contact 
Contact 
         Total $/charge
         Net $ (fee shown) -->
<% if current_user.present? %>
	<div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Payments</h3>
      <p>
        <% if !current_user&.manager? %>
          View all of your payment history any time anywhere!
        <% end %>
        <% if current_user&.manager? %>
          View past charges &amp; create new invoices on the go!
        <% end %>
      </p>
    </div>
  </div>
  <% if current_user&.manager? && current_user&.stripeSourceVerified %>
    <div class="card card-style bg-theme pb-0">
      <div class="content">
        <h3>New Invoice</h3>
        <p class="mb-5">Enter the client ID to begin a new invoice.  The client ID can be found by the client on the first section of their profile page. </p>

        <%= form_for :initiateCharge, url: initiateCharge_path do |f| %>
          <div class="input-style has-icon input-style-2 input-required pb-1">
              <i class="input-icon fa fa-user color-theme"></i>
              <span class="color-highlight input-style-1-active">Customer ID</span>
              <em>(required)</em>
              <%= f.text_field :customerID, placeholder: SecureRandom.uuid[0..7], required: true %>
          </div> 
          <%= f.submit "Begin", class: "col-md-12 btn btn-m mt-2 mb-4 btn-full bg-green1-dark text-uppercase font-900" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="card card-style bg-theme pb-0 text-center">
    <div class="content">
      <div class="tab-controls tabs-round tab-animated tabs-medium tabs-rounded shadow-xl" data-tab-items="2" data-tab-active="bg-green1-dark color-white">
          <!-- <a href="#" data-tab-active data-tab="tab-3"><i class="fa fa-clock"></i> Available Now</a> -->
          <a href="#" data-tab="tab-1"><i class="fa fa-calendar-check"></i> History</a>
          <a href="#" data-tab-active data-tab="tab-2"><i class="fa fa-sync"></i> Pending</a>
      </div>
      <div class="clearfix mb-3"></div>
      
      <div class="tab-content" id="tab-1">
        <% if @payments.present? %>
          <% @payments.each do |h| %>
            <% if current_user.manager? %>
              <div class="align-self-center">
                  <h1 class="font-16"><%= h['buyerName'].titleize %> #<%= h['buyerUUID'] %>
                  </h1>
                  <!-- #<%= h['stripeChargeID'].split("ch_")[1] %> -->
                  <p class="font-16 opacity-60">
                    Phone: <a href="tel:<%= h['buyerPhone'] %>"><%= h['buyerPhone'] %></a>
                    <br>
                    Email: <a href = "mailto:<%= h['buyerEmail'] %>"><%= h['buyerEmail'] %></a>
                  </p>
              </div>
              <div class=" align-self-center ml-auto text-right">
                <h2 class="font-16"><%= h['title'] ? h['title'].titleize : "Invoice" %></h2>
                <h5 class="font-14 mb-n1 color-green2-dark">Net: <%= number_to_currency(h['sellerAmount'].to_i * 0.01) %></h5>
                <h5 class="font-14 mb-n1 color-red2-dark">Fee: <%= number_to_currency(h['fee'].to_i * 0.01) %></h5>
                <h5 class="font-14 mb-n1 color-yellow2-dark">Total: <%= number_to_currency(h['amount'].to_i * 0.01) %></h5>
                <p class="font-12 opacity-50">
                Purchased: <%= h['date'].to_date.strftime("%B %d, %Y") %>
                
                  
                </p>
              </div>
            <% else %>
              <div class="align-self-center">
                  <h1 class="mb-n2 font-16"><%= h['title'] ? h['title'].titleize : "Invoice" %></h1>
<!--                   #<%= h['stripeChargeID'].split("ch_")[1] %>
 -->                  <div class="align-self-center ml-auto text-right">
                      <h2 class="mb-n1 font-18 color-green2-dark"><%= number_to_currency(h['amount'].to_i * 0.01) %></h2>
                      <p class="font-12 opacity-50">
                      <%= h['date'].to_date.strftime("%B %d, %Y") %>
                      </p>
                  </div>
                  <p class="font-11 opacity-60"></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="tab-content" id="tab-2">
        <% if @overdue.present? %>
          <% @overdue.each do |h| %>
          <div class="align-self-center">
              <div class="align-self-center ml-auto text-center">
              <h1 class="mb-n2 font-16"><%= h['title'] ? h['title'].titleize : "Invoice" %></h1>
                  <h2 class="mb-n1 font-18 color-green2-dark"><%= number_to_currency(h['amount'] * 0.01) %></h2>
                   <p class="font-12 opacity-50">
                    Customer: <%= h['buyerName'] %>#<%= current_user&.uuid %><br>
                    Phone: <a href="tel:<%= h['buyerPhone'] %>"><%= h['buyerPhone'] %></a>
                                  <br>

                    Email: <a href = "mailto:<%= h['buyerEmail'] %>"><%= h['buyerEmail'] %></a>
                    <br>
                  </p>
                  <% if !current_user&.manager? %>
                    <%= form_for :acceptInvoice, url: acceptInvoice_path(stripeChargeID: h['stripeChargeID']) do |f| %>
                      <%= f.submit "Pay Invoice",class: "btn btn-sm col-md-12 rounded-sm bg-blue2-dark text-uppercase font-800" %>
                    <% end %>
                  <% else %>
                    <span class="btn btn-sm col-md-12 rounded-sm border-yellow1-dark text-uppercase font-800">PENDING</span>
                    <br>
                  <% end %>
              </div>
          </div>
          <% end %>
        <% end %>     
      </div>
    </div>
  </div>
<% else %>
  <div class="page-content header-clear-medium">
        
        <div class="card card-style">
            
            <div class="d-flex content mb-1">
                <!-- left side of profile -->
                <div class="flex-grow-1">
                    <h1 class="font-700">Book Now</h1>
                    <p class="mb-2">
                    	Once you've created an account and have made a successful payment, it will be posted here.
                    </p>
                </div>
                <!-- right side of profile. increase image width to increase column size-->
            </div>
            <!-- follow buttons-->
            <div class="content mb-0">
                <div class="row mb-0">
                    <div class="col-6">
                        <a href="<%= new_user_registration_url %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 bg-green1-dark">Create Account</a>
                    </div>
                    <div class="col-6">
                        <a href="<%= new_user_session_url %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 color-theme border-green1-dark">Login</a>
                    </div>
                </div>
            </div>
            
            <div class="divider mt-4 mb-0"></div>
        </div>
  </div>
<% end %>