ZERO fees for reinvestments
<h1>Maximum Reinvestment: <%=  number_to_currency(@available*0.01, precision: 2) %></h1>
<%= form_for :charges, url: charges_path do |f| %>
    <div class="row mb-0">
        <div class="col-12">
          <div class="input-style input-style-2">
              <span class="input-style-1-active">Reinvestment Amount</span>
              <%= f.number_field :amount, placeholder: "$1 min balance", class: "form-control", required: true ,max: (@available*0.01 == 1 ? 0 : (@available*0.01 - 1)) %>
              <%= f.hidden_field :reinvestment, value: true %>
          </div>
          <div class="input-style input-style-2">
            <%= f.submit "Submit Deposit", class: "btn btn-full bg-green1-dark text-uppercase rounded-sm font-900"%>
          </div>
        </div>
    </div>
  <% end %>