<!DOCTYPE html>
<html>
  <head>
    <title>Messy Lawns</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="text-center alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h3 class="tex-center"><%= flash[:notice] %></h3>
      </div>
    <% elsif flash[:error] %>
      <div class="text-center alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h3 class="tex-center"><%= flash[:error] %></h3>
      </div>
    <% elsif flash[:alert] %>
      <div class="text-center alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h3 class="tex-center"><%= flash[:alert] %></h3>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
