<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV['siteName'] %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="512x512" href="/assets/logo_without_text_and_tagline.png">
        <!-- <link rel="shortcut icon" href="/assets/logo_without_text_and_tagline.png" /> -->
  </head>

  <body class="theme-light" data-background="none" data-highlight="green1">
    
                
    
    <div id="page">
      <div class="header header-demo header-logo-left mb-3">
        <a href="/" class="header-logo">Enabled<span class="color-highlight"> Mobile</span></a>
        <%= link_to '#', 'data-menu'=>"menu-sidebar-right-1", class: 'header-icon header-icon-1' do %>
          <i class="fa fa-bars font-14"></i>
        <% end %>

        <%= link_to 'https://www.netwerthcard.com', class: 'font-14 header-icon header-icon-2' do %>
          <i class="fa fa-home"></i>
        <% end %>

      </div>
      <% if current_user %>
        <div id="footer-bar" class="footer-bar-1">

          <% if request.fullpath.include?('/charges') %>
            <a href="/charges"><i class="fa fa-dollar-sign color-highlight"></i><span>Dashboard</span></a>
          <% else %>
            <a href="/charges"><i class="fa fa-dollar-sign"></i><span>Dashboard</span></a>
          <% end %>

          <!--           <% if request.fullpath.include?('/pay-now') %>
                        <a href="/pay-now"><i class="fa fa-money-bill color-highlight"></i><span>Invoices</span></a>
                    <% else %>
                        <a href="/pay-now"><i class="fa fa-money-bill"></i><span>Invoices</span></a>
                    <% end %> -->

          <% if request.fullpath.include?('/profile') || request.fullpath.include?('/auth/login')|| request.fullpath.include?('/auth/sign-up')|| request.fullpath.include?('/membership') %>
            <a href="/profile"><i class="fa fa-cog color-highlight"></i><span>Settings</span></a>
          <% else %>
            <a href="/profile"><i class="fa fa-cog"></i><span>Settings</span></a>
          <% end %>




            <!-- <a href="#" data-menu="menu-settings"><i class="fa fa-cog"></i><span>Settings</span></a> -->
        </div>
      <% end %>
      <div class="page-content mt-4">
        <% if flash[:success] %>
          <div id="toast-2" class="toast text-center toast-tiny toast-top bg-green1-dark fade" data-delay="3000" data-autohide="true"><i class="fa fa-info mr-3"></i><%= flash[:success] %></div>
          <script type="text/javascript">
            setTimeout(function(){
                $('#toast-2').toast('show');
            }, 100);
          </script>
        <% elsif flash[:notice] %>
          <div id="toast-3" class="toast text-center toast-tiny toast-top bg-blue2-dark fade" data-delay="3000" data-autohide="true"><i class="fa fa-info mr-3"></i><%= flash[:notice] %></div>
          <script type="text/javascript">
            setTimeout(function(){
                $('#toast-3').toast('show');
            }, 100);
          </script>
        <% elsif flash[:error] %>
          <div id="toast-32" class="toast text-center toast-tiny toast-top bg-red2-dark fade" data-delay="3000" data-autohide="true"><i class="fa fa-info mr-3"></i><%= flash[:error] %></div>
          <script type="text/javascript">
            setTimeout(function(){
                $('#toast-32').toast('show');
            }, 100);
          </script>
        <% elsif flash[:alert] %>
          <div id="toast-344" class="toast text-center toast-tiny toast-top bg-yellow1-dark fade" data-delay="15000" data-autohide="true"><i class="fa fa-info mr-3"></i><%= flash[:alert] %></div>
          <script type="text/javascript">
            setTimeout(function(){
                $('#toast-344').toast('show');
            }, 100);
          </script>
        <% end %>
        <%= yield %>
        <div id="menu-sidebar-right-1" class="bg-white menu menu-box-right" data-menu-width="320" style="width: 320px; display: block;">
            <div class="d-flex">
                <!-- <a href="#" class="flex-fill icon icon-m text-center color-facebook border-bottom border-right"><i class="fa font-12 fa-facebook-f"></i></a>
                <a href="#" class="flex-fill icon icon-m text-center color-twitter border-bottom border-right"><i class="fa font-12 fa-twitter"></i></a>
                <a href="#" class="flex-fill icon icon-m text-center color-instagram border-bottom border-right"><i class="fa font-12 fa-instagram"></i></a>
                <a href="#" class="flex-fill icon icon-m text-center color-whatsapp border-bottom border-right"><i class="fa font-12 fa-whatsapp"></i></a>
                <a href="#" class="flex-fill icon icon-m text-center color-linkedin border-bottom border-right"><i class="fa font-12 fa-linkedin-in"></i></a> -->
                <a href="#" class="close-menu flex-fill icon icon-m text-center color-red2-dark border-bottom">&nbsp</a>
            </div>
            <div class=" mt-4 mb-2">
                <div class="d-flex">
                    <div class="mr-3">
                        <img src="/assets/sublogo.png" width="110">
                    </div>
                    <div class="flex-grow-1">
                        <h1 class="font-22 font-700 mb-0"><%= ENV['siteName'] %></h1>
                        <p class="mt-n2  font-10 font-400">Invest Smart. Invest In You.</p>
                    </div>
                </div>
            </div>

            <!-- <div class="mr-3 ml-3">
                <span class="text-uppercase font-900 font-11 opacity-30">Shareholders</span>
                <div class="list-group list-custom-small list-icon-0">
                    <a href="/profile">
                        <i class="fa font-14 fa-star color-yellow1-dark"></i>
                        <span>Become An Owner</span>
                        <i class="fa fa-angle-right"></i>
                    </a>        
                    <a href="#">
                        <i class="fa font-14 fa-cog color-blue2-dark"></i>
                        <span>Components</span>
                        <span class="badge bg-red2-dark">NEW</span>
                        <i class="fa fa-angle-right"></i>
                    </a>        
                    <a href="#">
                        <i class="fa font-14 fa-file color-brown1-dark"></i>
                        <span>Pages</span>
                        <i class="fa fa-angle-right"></i>
                    </a>        
                    <a href="#">
                        <i class="fa font-14 fa-camera color-green1-dark"></i>
                        <span>Media</span>
                        <i class="fa fa-angle-right"></i>
                    </a>        
                    <a href="#" class="border-0">
                        <i class="fa font-14 fa-image color-teal-dark"></i>
                        <span>Contact</span>
                        <i class="fa fa-angle-right"></i>
                    </a>        
                </div>
            </div> -->
            <% if !current_user %>
              <div class="pl-3 pr-3 pt-3 mt-4 mb-2">
                <a href="/auth/login" class="btn btn-full bg-green1-dark btn-m text-uppercase font-800 rounded-sm">LOGIN</a>
              </div>
              <div class="pl-3 pr-3 pt-3 mt-4 mb-2">
                <a href="/auth/sign-up" class="btn btn-full bg-magenta3-dark btn-m text-uppercase font-800 rounded-sm">SIGNUP</a>
              </div>
            <% end %>
            <% if current_user&.customer? %>

            <!--               <% if current_user&.stripeCustomerID && current_user&.checkStripeCard %>
                            <div class="mr-3 ml-3">
                              <span class="text-uppercase font-900 font-11 opacity-30">Financials</span>
                              <div class="list-group list-custom-small list-icon-0">
                                  <a href="/customers/<%= current_user&.uuid %>">
                                      <i class="fa font-14 fa-money-bill color-red1-dark"></i>
                                      <span>Spending</span>
                                      <i class="fa fa-angle-right"></i>
                                  </a>   
                              </div>
                            </div>
                          <% end %> -->
              <!-- <div class="mr-3 ml-3">
                <span class="text-uppercase font-900 font-11 opacity-30">Membership Savings</span>
                <div class="list-group list-custom-small list-icon-0">
                    <a href="/membership">
                        <i class="fa font-14 fa-users color-green1-dark"></i>
                        <span>Become a Member</span>
                        <i class="fa fa-angle-right"></i>
                    </a>   
                </div>
              </div> -->
              <!-- <div class="mr-3 ml-3">
                <span class="text-uppercase font-900 font-11 opacity-30">Partners | TewCode</span>
                <div class="list-group list-custom-small list-icon-0">
                    <a href="https://www.tewcode.com" target="_blank">
                        <i class="fa font-14 fa-shopping-bag color-yellow1-dark"></i>
                        <span>Launch Your Store</span>
                        <i class="fa fa-angle-right"></i>
                    </a>   
                </div>
              </div> -->
            <% end %>

            <!-- <div class="mr-3 ml-3 mt-4">
                <span class="text-uppercase font-900 font-11 opacity-30">FIND US</span>
                <div class="list-group list-custom-small list-icon-0">
                    <a href="#">
                        <i class="fa font-14 fa-facebook-f color-facebook"></i>
                        <span>Facebook</span>
                        <i class="fa fa-link"></i>
                    </a>        
                    <a href="#">
                        <i class="fa font-14 fa-twitter color-twitter"></i>
                        <span>Twitter</span>
                        <i class="fa fa-link"></i>
                    </a>        
                    <a href="#" class="border-0">
                        <i class="fa font-14 fa-instagram color-instagram"></i>
                        <span>Instagram</span>
                        <i class="fa fa-link"></i>
                    </a>        
                </div>
            </div>        --> 
            

            <p class="footer-copyright"><%= ENV['siteName'] %> + <a target="_blank" href="https://www.tewcode.com/">TewCode</a> <br>Copyright © Enabled 2020-<%= DateTime.now.strftime("%Y") %></p>
        </div>










      </div>
      <!-- All Menus, Action Sheets, Modals, Notifications, Toasts, Snackbars get Placed outside the <div class="page-content"> -->
      <div id="menu-settings" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-height="308">
          <div class="menu-title"><h1>Settings</h1><p class="color-highlight">Flexible and Easy to Use</p><a href="#" class="close-menu"><i class="fa fa-times"></i></a></div>
          <div class="divider divider-margins mb-n2"></div>
          <div class="content">
              <div class="list-group list-custom-small">
                  <a href="#" data-toggle-theme data-trigger-switch="switch-dark-mode" class="pb-2 ml-n1">
                      <i class="fa font-12 fa-moon rounded-s bg-highlight color-white mr-3"></i>
                      <span>Dark Mode</span>
                      <div class="custom-control scale-switch ios-switch">
                          <input data-toggle-theme-switch type="checkbox" class="ios-input" id="switch-dark-mode">
                          <label class="custom-control-label" for="switch-dark-mode"></label>
                      </div>
                      <i class="fa fa-angle-right"></i>
                  </a>    
              </div>
              <div class="list-group list-custom-large">
                  <a data-menu="menu-highlights" href="#">
                      <i class="fa font-14 fa-tint bg-green1-dark rounded-s"></i>
                      <span>Page Highlight</span>
                      <strong>16 Colors Highlights Included</strong>
                      <span class="badge bg-highlight color-white">HOT</span>
                      <i class="fa fa-angle-right"></i>
                  </a>        
                  <a data-menu="menu-backgrounds" href="#" class="border-0">
                      <i class="fa font-14 fa-cog bg-blue2-dark rounded-s"></i>
                      <span>Background Color</span>
                      <strong>10 Page Gradients Included</strong>
                      <span class="badge bg-highlight color-white">NEW</span>
                      <i class="fa fa-angle-right"></i>
                  </a>        
              </div>
          </div>
      </div>
      <!-- Menu Settings Highlights-->
      <div id="menu-highlights" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-height="380" data-menu-effect="menu-over">
          <div class="menu-title"><h1>Highlights</h1><p class="color-highlight">Any Element can have a Highlight Color</p><a href="#" class="close-menu"><i class="fa fa-times"></i></a></div>
          <div class="divider divider-margins mb-n2"></div>
          <div class="content">
              <div class="highlight-changer">
                  <a href="#" data-change-highlight="blue2"><i class="fa fa-circle color-blue2-dark"></i><span class="color-blue2-light">Default</span></a>
                  <a href="#" data-change-highlight="red2"><i class="fa fa-circle color-red1-dark"></i><span class="color-red2-light">Red</span></a>    
                  <a href="#" data-change-highlight="orange"><i class="fa fa-circle color-orange-dark"></i><span class="color-orange-light">Orange</span></a>    
                  <a href="#" data-change-highlight="pink2"><i class="fa fa-circle color-pink2-dark"></i><span class="color-pink2-light">Pink</span></a>    
                  <a href="#" data-change-highlight="magenta2"><i class="fa fa-circle color-magenta2-dark"></i><span class="color-magenta2-light">Purple</span></a>    
                  <a href="#" data-change-highlight="aqua"><i class="fa fa-circle color-aqua-dark"></i><span class="color-aqua-light">Aqua</span></a>      
                  <a href="#" data-change-highlight="teal"><i class="fa fa-circle color-teal-dark"></i><span class="color-teal-light">Teal</span></a>      
                  <a href="#" data-change-highlight="mint"><i class="fa fa-circle color-mint-dark"></i><span class="color-mint-light">Mint</span></a>      
                  <a href="#" data-change-highlight="green2"><i class="fa fa-circle color-green2-dark"></i><span class="color-green2-light">Green</span></a>    
                  <a href="#" data-change-highlight="green1"><i class="fa fa-circle color-green1-dark"></i><span class="color-green1-light">Grass</span></a>       
                  <a href="#" data-change-highlight="yellow2"><i class="fa fa-circle color-yellow2-dark"></i><span class="color-yellow2-light">Sunny</span></a>    
                  <a href="#" data-change-highlight="yellow1"><i class="fa fa-circle color-yellow1-dark"></i><span class="color-yellow1-light">Goldish</span></a>
                  <a href="#" data-change-highlight="brown1"><i class="fa fa-circle color-brown1-dark"></i><span class="color-brown1-light">Wood</span></a>    
                  <a href="#" data-change-highlight="dark1"><i class="fa fa-circle color-dark1-dark"></i><span class="color-dark1-light">Night</span></a>
                  <a href="#" data-change-highlight="dark2"><i class="fa fa-circle color-dark2-dark"></i><span class="color-dark2-light">Dark</span></a>
                  <div class="clearfix"></div>
              </div>
              <a href="#" data-menu="menu-settings" class="btn btn-full btn-m rounded-sm bg-highlight shadow-xl text-uppercase font-900 mt-4">Back to Settings</a>
          </div>
      </div>    
      <!-- Menu Settings Backgrounds-->
      <div id="menu-backgrounds" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-height="310" data-menu-effect="menu-over">
          <div class="menu-title"><h1>Backgrounds</h1><p class="color-highlight">Change Page Color Behind Content Boxes</p><a href="#" class="close-menu"><i class="fa fa-times"></i></a></div>
          <div class="divider divider-margins mb-n2"></div>
          <div class="content">
              <div class="background-changer">
                  <a href="#" data-change-background="none"><i class="bg-theme"></i><span>Default</span></a>
                  <a href="#" data-change-background="plum"><i class="body-plum"></i><span class="color-plum-dark">Plum</span></a>
                  <a href="#" data-change-background="magenta3"><i class="body-magenta3"></i><span class="color-magenta3-dark">Magenta</span></a>
                  <a href="#" data-change-background="dark3"><i class="body-dark3"></i><span class="color-dark3-dark">Dark</span></a>
                  <a href="#" data-change-background="violet"><i class="body-violet"></i><span class="color-violet-dark">Violet</span></a>
                  <a href="#" data-change-background="red3"><i class="body-red3"></i><span class="color-red3-dark">Red</span></a>
                  <a href="#" data-change-background="green3"><i class="body-green3"></i><span class="color-green3-dark">Green</span></a>
                  <a href="#" data-change-background="sky"><i class="body-sky"></i><span class="color-sky-dark">Sky</span></a>
                  <a href="#" data-change-background="pumpkin"><i class="body-pumpkin"></i><span class="color-pumpkin-dark">Orange</span></a>
                  <a href="#" data-change-background="yellow3"><i class="body-yellow3"></i><span class="color-yellow3-dark">Yellow</span></a>
                  <div class="clearfix"></div>
              </div>
              <a href="#" data-menu="menu-settings" class="btn btn-full btn-m rounded-sm bg-highlight shadow-xl text-uppercase font-900 mt-4">Back to Settings</a>
          </div>
      </div>
      <!-- Menu Share -->
      
    </div>




    <div id="menu-transaction-transfer" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-height="580" style="height: 580px; display: block;">
      <div class="menu-title"><h1>New Card Source</h1><p class="color-highlight">Enter Card Details</p><a href="#" class="close-menu"><i class="fa fa-times"></i></a></div>

      <div class="divider divider-margins mt-3 mb-3"></div>
      <%= form_for :stripeToken, url: stripe_tokens_path do |f| %>
              <div class="input-style input-style-2 has-icon input-required">
                  <i class="input-icon fa fa-user"></i>
                  <span class="color-highlight input-style-1-active">Legal Name</span>
                  <em>(required)</em>
                  <%= f.text_field :name, placeholder: "Legal Name", class: "form-control", value: @name, required: true %>
              </div>
              <div class="input-style input-style-2 has-icon input-required mt-4">
                  <i class="input-icon fa fa-phone"></i>
                  <span class="color-highlight input-style-1-active">Phone Number</span>
                  <em>(required)</em>
                  <%= f.text_field :phone, placeholder: "2628547895", class: "form-control", value: current_user&.phone ? current_user&.phone : @phone, required: true %>
              </div> 
              <div class="input-style input-style-2 has-icon input-required">
                  <i class="input-icon fa fa-credit-card"></i>
                  <span class="color-highlight input-style-1-active">Card Number</span>
                  <em>(required)</em>
                  <%= f.number_field :number, class: 'form-control', required: true, placeholder: '1234 5678 9012 3456' %>
              </div> 
              <div class="input-style input-style-2 has-icon input-required mt-4">
                  <i class="input-icon fa fa-calendar"></i>
                  <span class="color-highlight input-style-1-active">Expiration Month</span>
                  <em>(required)</em>
                  <%= f.number_field :exp_month, class: 'form-control', required: true, placeholder: '05' %>
              </div> 
              <div class="input-style input-style-2 has-icon input-required mt-4">
                  <i class="input-icon fa fa-calendar"></i>
                  <span class="color-highlight input-style-1-active">Expiration Year</span>
                  <em>(required)</em>
                  <%= f.number_field :exp_year, class: 'form-control', required: true, placeholder: '2023'%>
              </div> 
              <div class="input-style input-style-2 has-icon input-required mt-4">
                  <i class="input-icon fa fa-lock"></i>
                  <span class="color-highlight input-style-1-active">CVC</span>
                  <em>(required)</em>
                  <%= f.number_field :cvc, class: 'form-control', required: true, placeholder: '123' %>
              </div> 
              <%= f.submit "Add Card", class: "btn btn-full bg-green1-dark btn-m text-uppercase rounded-sm shadow-l mb-3 mt-4 font-900"%>

            <% end %>
    </div>


    <div id="menu-transaction-request" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-height="440" style="height: 440px; display: block;">
      <div class="menu-title"><h1>New Bank Source</h1><p class="color-highlight">Enter Bank Details</p><a href="#" class="close-menu"><i class="fa fa-times"></i></a></div>

      <div class="divider divider-margins mt-3 mb-3"></div>
        <%= form_for :stripeToken, url: stripe_tokens_path do |f| %>
          <div class="input-style input-style-2 has-icon input-required mt-4">
            <span class="color-highlight input-style-1-active" for="stripeToken_account_holder_type">Company or Personal Account?</span>
            <select class="form-select" id="stripeToken_account_holder_type" name="stripeToken[account_holder_type]" required="true">
              <option value="individual">Personal</option>
              <option value="company">Company</option>
            </select>
          </div>
          <div class="input-style input-style-2 has-icon input-required mt-4">
              <i class="input-icon fa fa-user"></i>
              <span class="color-highlight input-style-1-active">Full Legal Name</span>
              <em>(required)</em>
              <%= f.text_field :account_holder_name, class: 'form-control', required: true, placeholder: 'John Doe', minlength: 4 %>
          </div> 
          <div class="input-style input-style-2 has-icon input-required mt-4">
              <i class="input-icon fa fa-phone"></i>
              <span class="color-highlight input-style-1-active">Phone Number</span>
              <%= f.text_field :phone, placeholder: "2628547895", class: "form-control", value: current_user&.phone ? current_user&.phone : @phone, required: true %>
          </div> 
          <div class="input-style input-style-2 has-icon input-required">
              <i class="input-icon fa fa-university"></i>
              <span class="color-highlight input-style-1-active">Account Number</span>
              <em>(required)</em>
              <%= f.number_field :account_number, class: 'form-control', required: true, placeholder: '54965485452', minlength: 4, maxlength: 16 %>
          </div> 
          <div class="input-style input-style-2 has-icon input-required mt-4">
              <i class="input-icon fa fa-lock"></i>
              <span class="color-highlight input-style-1-active">Routing Number</span>
              <em>(required)</em>
              <%= f.number_field :routing_number, class: 'form-control', required: true, placeholder: '005578166' %>
          </div> 
          
          <%= f.submit "Add Bank", class: "btn btn-full bg-green1-dark btn-m text-uppercase rounded-sm shadow-l mb-3 mt-4 font-900"%>
        <% end %>
      </div>
    </div>
    <!-- <div id="menu-install-pwa-android" class="menu menu-box-bottom menu-box-detached rounded-l" data-menu-height="350" data-menu-effect="menu-parallax" style="height: 350px; display: block;">
        <div class="boxed-text-l mt-4">
            <img class="rounded-l mb-3" src="assets/icon-128x128.png" alt="img" width="90">
            <h4 class="mt-3">Add Sticky on your Home Screen</h4>
            <p>
                Install Sticky on your home screen, and access it just like a regular app. It really is that simple!
            </p>
            <a href="#" class="pwa-install btn btn-s rounded-s shadow-l text-uppercase font-900 bg-highlight mb-2">Add to Home Screen</a><br>
            <a href="#" class="pwa-dismiss close-menu color-gray2-light text-uppercase font-900 opacity-60 font-10">Maybe later</a>
            <div class="clear"></div>
        </div>
    </div>
    <div id="menu-install-pwa-ios" class="menu menu-box-bottom menu-box-detached rounded-l menu-active" data-menu-height="320" data-menu-effect="menu-parallax" style="height: 320px; display: block;">
        <div class="boxed-text-xl mt-4">
            <img class="rounded-l mb-3" src="assets/icon-128x128.png" alt="img" width="90">
            <h4 class="mt-3">Add Sticky on your Home Screen</h4>
            <p class="mb-0 pb-0">
                Install Sticky on your home screen, and access it just like a regular app.  Open your Safari menu and tap "Add to Home Screen".
            </p>
            <div class="clear"></div>
            <a href="#" class="pwa-dismiss close-menu color-highlight uppercase ultrabold opacity-80 top-25">Maybe later</a>
            <i class="fa-ios-arrow fa fa-caret-down font-40"></i>
        </div>
    </div> -->
    <script type="text/javascript" src="/assets/jquery.js"></script>
    <script type="text/javascript" src="/assets/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/custom.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    
  </body>
</html>
